<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function(){

        });

        function fnDoSaveBandDongDamdangChange(val) {

            val1 = $('#dong' + val).val();
            val2 = $('#damdang' + val).val();
            val3 = $('#damdangPhone' + val).val();

            if(val2.lenth > 190){
                alert("180자 이내로 입력하세요!")
                return;
            }

            var formData = {"dong" : val1, "damdang" : val2, "damdangPhone" : val3};

            //alert("dong : " + val1 + " / damdang : " + val2)

            var reqUrl = "operation/bandDamdang/updateInfo"
            $.ajax({
                url: reqUrl,
                type: "POST",
                cache: false,
                dataType: "json",
                data: formData,
                async: false,
                success: function (data) {
                    alert("저장하였습니다.");

                },
                error: function (e) {
                    console.log(e);
                }
            });
        }


    </script>

    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">밴드 청소 담당자 닉네임관리</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
        </div>
        <span class="pull-right">
                    <!--
                    <button type="button" class="btn btn-add pull-right"
                            onclick="fnDoPopupAdminManage();">운영자 등록</button>
                    -->
                    <!--
                    <button type="button" class="btn btn-manage btn-sm pull-right" onclick="fnDoAdminDelete();"
                            style="margin-right: 5px;">
                    <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제"/>&nbsp;삭제
                </button>
                -->
                <!--
                <button type="button" class="btn btn-manage btn-sm pull-right" style="margin-right: 3px;"
                        onclick="fnExcelDownloadAdminList();">
                    <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
                </button>
                -->
	    </span>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <div style="font-size: 16px; padding-bottom: 12px; color: #222222; font-weight: bold;">
                            밴드에 청소 담당자 닉네임을 설정합니다.
                        </div>
                        <div>
                            <p style="padding-left: 10px; color:#222222;">- 밴드 내 청소 담당자 닉네임을 통해서만 자동 완료 처리가 가능합니다.</p>
                            <p style="padding-left: 10px; color:#222222;">- 등록된 청소 담당자가 밴드 댓글로 #완료 를 입력해야만 자동 완료처리로 변경됩니다. </p>
                            <p style="padding-left: 10px; color:#222222;">- 담당자가 여러명일때에는 "," 를 이용하여 구분하여 주세요. 예)홍길동, 김청소, 관리자... </p>
                            <p style="padding-left: 10px; color:#222222;">- 등록된 번호는 챗봇알림에 대표번호로 등록됩니다. 상담가능한 센터 담당 대표 전화번호를 입력하세요.</p>
                            <p style="padding-left: 10px; color:#222;">- 등록 시 바로 적용되는점 유의바랍니다.</p>
                        </div>
                        <div style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; margin-top: 32px; ">
                            <th:block th:each="damdang , i : ${damdangList}">
                                <div style="display: flex; align-items: center; height: 52px; border-bottom: 1px solid #ccc;">
                                    <p style="background-color: #DCDDE0; width: 238px; height: 100%; text-align: center; line-height: 52px; margin: 0; font-weight: bold" th:text="${damdang.dong}">동이름</p>

                                    <div style="display: flex; margin-left: 40px; align-items: center; height: 52px;">
                                        <input type="hidden" th:name="'dong' + ${i.count}" th:id="'dong' + ${i.count}" th:value="${damdang.dong}">
                                        <input th:name="'damdang' + ${i.count}" th:id="'damdang' + ${i.count}" style="background-color: #F0F2F5; width: 300px; height: 32px; margin-right: 12px; border-radius: 4px; border: none; padding-left: 16px; color: #999999" th:value="${damdang.damdang}" placeholder="동담당자 닉네임을 입력해주세요" maxlength="190"  />
                                        <input th:name="'damdangPhone' + ${i.count}" th:id="'damdangPhone' + ${i.count}" style="background-color: #F0F2F5; width: 152px; height: 32px; margin-right: 12px; border-radius: 4px; border: none; padding-left: 16px; color: #999999" th:value="${damdang.damdangPhone}" placeholder="상담 가능한 유선전화번호를 입력해 주세요."  maxlength="20" />
                                        <button style="background-color: #3363FF; border: none; width: 62px; height: 32px; color: #fff; border-radius: 4px;" th:onclick="'fnDoSaveBandDongDamdangChange(' + ${i.count} +')'">저장</button>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div class="row"></div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    
</th:block>
</html>