<input type="hidden" id="listLength" value="${metaTrashTypeListPage.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <colgroup>
        <col style="width: 3%;"><!-- 체크박스 -->
        <col style="width: 7%;"><!-- 번호 -->
        <col style="width: 20%;"><!-- 이름  -->
        <col style="width: 20%;"><!-- 행동  -->
        <col style="width: 10%;"><!-- 포인트 -->
        <col style="width: 10%;"><!-- 사용여부 -->
        <col style="width: 15%;"><!-- 등록일 -->
        <col style="width: 15%;"><!-- 수정일 -->
    </colgroup>
    <thead>
    <tr>
        <th class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" onchange="fnDoChkAll(this);">
                <label for=""></label>
            </div>
        </th>
        <th>번호</th>
        <th>유형</th>
        <th>행동</th>
        <th>보상포인트</th>
        <th>사용여부</th>
        <th>등록일</th>
        <th>수정일</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->

    <tr th:each="metaTrashType, i : ${metaTrashTypeList}">
        <td class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" name="trashSeq" th:id="${'id' + metaTrashType.trashSeq}" th:value="${metaTrashType.trashSeq}">
                <label th:for="${'id' + metaTrashType.trashSeq}"></label>
            </div>
        </td>
        <td th:text="${#numbers.formatInteger(metaTrashTypeListPage.totalSize - (i.count + ((metaTrashTypeListPage.page) * metaTrashTypeListPage.size)) + 1, 0, 'COMMA')}">1 </td>
        <td><a href="javascript:;" th:onclick="fnDoPopupMetaBoardManage([[${metaTrashType.trashSeq}]]);"  th:text="${metaTrashType.trashName}">전체관리자</a></td>
        <td th:text="${metaTrashType.trashAct}">100</td>
        <td th:text="${metaTrashType.trashPoint}">200</td>
        <td th:text="${metaTrashType.useYn} == 'Y' ? '사용' : '미사용'"></td>
        <td th:text="${metaTrashType.regDt}"></td>
        <td th:text="${metaTrashType.modDt}"></td>

    </tr>

    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>




<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(metaTrashTypeListPage['page'] / maxPage) * maxPage + 1},
                        end=(${(metaTrashTypeListPage['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < metaTrashTypeListPage['totalPage'] ? start + (maxPage - 1) : metaTrashTypeListPage['totalPage'])})
    ">
        <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoMetaBoardList('0');">
            <i class="fa fa-angle-double-left"></i></button>

        <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoMetaBoardList([[${start - maxPage -1}]]);|">
            <i class="fa fa-angle-left"></i></button>
        <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoMetaBoardList(0);">
            <i class="fa fa-angle-left"></i></button>

        <!-- for문 사용 리스스 출력 시작 -->
        <th:block th:each="num : ${#numbers.sequence(start,end)}">
            <button type="button" th:if="${num} == ${metaTrashTypeListPage['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoMetaBoardList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
            <button type="button" th:unless="${num} == ${metaTrashTypeListPage['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoMetaBoardList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
        </th:block>
        <!-- for문 사용 리스스 출력 끝 -->

        <button type="button" th:if="${end < metaTrashTypeListPage['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoMetaBoardList('${start + maxPage} -1');|">
            <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" th:unless="${end < metaTrashTypeListPage['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoMetaBoardList('${metaTrashTypeListPage['totalPage'] - 1}');|">
            <i class="fa fa-angle-right"></i></button>

        <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoMetaBoardList('${metaTrashTypeListPage['totalPage'] - 1}');|">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </th:block>

</div>
