<input type="hidden" id="listLength" th:value="${pointHistoryPaging.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <colgroup>
        <col style="width: 10%;"><!-- 처리일자  -->
        <col style="width: 10%;"><!-- 지급대상자 이름 -->
        <col style="width: 10%;"><!-- 지급대상자 이름 -->
        <col style="width: 20%;"><!-- 활동내역 -->
        <col style="width: 10%;"><!-- 지급포인트 -->
        <col style="width: 20%;"><!-- 지급이유 -->
        <col style="width: 10%;"><!-- 지급자 -->
    </colgroup>
    <thead>
    <tr>
        <th>처리일자</th>
        <th>닉네임</th>
        <th>유형명</th>
        <th>활동지역</th>
        <th>지급포인트</th>
        <th>누적포인트</th>
        <th>지급사유</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->

    <tr th:each="pointHistory, i : ${pointHistoryList}">
        <td th:text="${#strings.replace(pointHistory.regDt,'T',' ')}"></td>
        <td th:text="${pointHistory.userNickname}"></td>
        <td th:text="${pointHistory.trashName}">1</td>
        <td th:text="${pointHistory.processLocation}">1</td>
        <td th:text="${pointHistory.point}">1</td>
        <td th:text="${pointHistory.accumulatedPoint}">1</td>
        <td th:text="${pointHistory.reason}">1</td>
    </tr>
    
    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>

<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(pointHistoryPaging['page'] / maxPage) * maxPage + 1},
                        end=(${(pointHistoryPaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < pointHistoryPaging['totalPage'] ? start + (maxPage - 1) : pointHistoryPaging['totalPage'])})
    ">
        <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoPointHistoryList('0');">
            <i class="fa fa-angle-double-left"></i></button>

        <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoPointHistoryList([[${start - maxPage -1}]]);|">
            <i class="fa fa-angle-left"></i></button>
        <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoPointHistoryList(0);">
            <i class="fa fa-angle-left"></i></button>

        <!-- for문 사용 리스스 출력 시작 -->
        <th:block th:each="num : ${#numbers.sequence(start,end)}">
            <button type="button" th:if="${num} == ${pointHistoryPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoPointHistoryList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
            <button type="button" th:unless="${num} == ${pointHistoryPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoPointHistoryList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
        </th:block>
        <!-- for문 사용 리스스 출력 끝 -->

        <button type="button" th:if="${end < pointHistoryPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoPointHistoryList('${start + maxPage -1}');|">
            <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" th:unless="${end < pointHistoryPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoPointHistoryList('${pointHistoryPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-right"></i></button>

        <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoPointHistoryList('${pointHistoryPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </th:block>

</div>