<script type="text/javascript">

    $(document).ready(function () {
        // $("#datepicker3").datepicker({
        //     dateFormat: "yy-mm-dd"
        // });
        setDateBox();
    });

    // select box 연도 , 월 표시
    function setDateBox() {

        var startDate = new Date(2022, 4, 1);
        var nowDate = new Date();
        var year1 = startDate.getFullYear();
        var year2 = nowDate.getFullYear();
        var month1 = startDate.getMonth() + 1;
        var month2 = nowDate.getMonth() + 1;

        var numberOfMonths = (year2 - year1) * 12 + (month2 - month1) + 1;

        var year3 = year2;
        var month3 = month2;
        var k = 0;
        var ii = 0;
        var html = "";
        var sdate = $("#sdate").val();

        for (i = 0; i < numberOfMonths; i++) {

            k = month2--;

            if (k < 10 && k > 0) {
                month3 = "0" + k;
                ii++;
            } else if (k == 0) {
                year3 -= 1;
                month3 = 12;
                month2 = 11;
                ii = 0;
            } else {
                month3 = k;
            }

            // console.log((year3 + "-" + month3));
            // console.log(sdate.substring(0,7));

            if((year3 + "-" + month3) == sdate.substring(0,7)) {
                html += "<option value='" + year3 + "-" + month3 + "' selected='selected'>" + year3 + "-" + month3 + "</option>";
            }
            else {
                html += "<option value='" + year3 + "-" + month3 + "'>" + year3 + "-" + month3 + "</option>";
            }

        }
        $("#yyyymm").append(html);

        if ((nowDate.getMonth() + 1) < 10) {
            month2 = "0" + (nowDate.getMonth() + 1);
        }

        $("#yyyymm").val(+nowDate.getFullYear() + "-" + month2);
    }

    //랭킹 불러오기
    function fnDoRankingList() {
        var f = document.popupForm2;
        $.ajax({
            url: "metaBus/user/rankingListAjax",
            type: 'POST',
            cache: false,
            dataType: "html",
            data: $('#popupForm2').serialize(),
            async: false,
            error: function () {
                console.log('error');
            },
            success: function (data) {
                document.getElementById("rankingDiv").innerHTML = data;
            }
        });
    }

    function changeRanking(val1, val2){
        var f = document.popupForm2;
        f.rankingPage.value = val1;
        f.rankingSize.value = val2;
        fnDoRankingList();
    }

    function dateChange(val) {
        var f = document.popupForm2;
        f.sdate.value = val + "-01";
        fnDoRankingList();
    }
</script>

<style>
    .auth-menu {
        border: 1px #000 solid;
        border-radius: 5px;
        width: 100px;
        height: 25px;
        text-align: center;
    }

    #addProj {
        font-size: large;
        font-weight: bold;
    }

    #addMenu {
        display: inline;
        margin-right: 10px;
    }

    .viewText {
        font-weight: bold;
        margin-top: 15px;
    }

    .viewTextContent {
        background: #F7F8F9 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 2;
        padding: 13px 20px;
    }
</style>
<form name="popupForm2" id="popupForm2" method="post" class="form-horizontal">
    <div class="modal-body p-all-0">
        <div class="ibox float-e-margins">
            <div class="ibox-content">

                <div class="form-box">
                    <div class="viewText">
                        <select name="yyyymm" id="yyyymm" class="btn-primary term" style="margin-right: 0; float: none;"
                                onchange="dateChange(this.value);">
                        </select>
                    </div>
                </div>

                <div class="form-box">
                    <input type="hidden" name="sdate" id="sdate" th:value="${sdate}">
                    <input type="hidden" name="rankingPage" id="rankingPage" th:value="${rankingPage}">
                    <input type="hidden" name="rankingSize" id="rankingSize" th:value="${rankingSize}">
                    <div class="viewText">
                        <a href="javascript:;" onclick="changeRanking(1,10);">[1 ~ 10]</a>
                        <a href="javascript:;" onclick="changeRanking(11,20);">[11 ~ 20]</a>
                        <a href="javascript:;" onclick="changeRanking(21,50);">[21 ~ 50]</a>
                        <a href="javascript:;" onclick="changeRanking(51,100);">[51 ~ 100]</a>
                    </div>
                </div>

                <div class="form-box" id="rankingDiv">
                    <table class="table table-hoverm dataTable table-m table-border">
                        <colgroup>
                            <col style="width: 20%;"><!-- 순위 -->
                            <col style="width: 30%;"><!-- 닉네임 -->
                            <col style="width: 30%;"><!-- 최종접속일 -->
                            <col style="width: 20%;"><!-- 클린포인트  -->
                        </colgroup>
                        <thead>
                        <tr>
                            <th>순위</th>
                            <th>닉네임</th>
                            <th>최종접속일</th>
                            <th>클린포인트</th>
                        </tr>
                        </thead>
                        <tbody>

                        <!-- for문 사용 리스스 출력 시작 -->
                        <tr th:each="ranking, i : ${rankingList}">
                            <td th:text="${ranking.rankNum}"></td>
                            <td th:text="${ranking.nickname}"></td>
                            <td th:text="${ranking.lastConnectAt}"></td>
                            <td th:text="${ranking.sumPoint}"></td>
                        </tr>

                        <!-- for문 사용 리스스 출력 끝 -->
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
    </div>

</form>