<table class="table table-hoverm dataTable table-m table-border">
    <colgroup>
        <col style="width: 20%;"><!-- 순위 -->
        <col style="width: 30%;"><!-- 닉네임 -->
        <col style="width: 30%;"><!-- 최종접속일 -->
        <col style="width: 20%;"><!-- 클린포인트  -->
    </colgroup>
    <thead>
    <tr>
        <th>순위</th>
        <th>닉네임</th>
        <th>최종접속일</th>
        <th>클린포인트</th>
    </tr>
    </thead>
    <tbody>

    <!-- for문 사용 리스스 출력 시작 -->
    <tr th:each="ranking, i : ${rankingList}">
        <td th:text="${ranking.rankNum}"></td>
        <td th:text="${ranking.nickname}"></td>
        <td th:text="${ranking.lastConnectAt}"></td>
        <td th:text="${ranking.sumPoint}"></td>
    </tr>

    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>
