<input type="hidden" id="listLength" th:value="${userPaging.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <colgroup>
        <col style="width: 2%;"><!-- 체크박스 -->
        <col style="width: 5%;"><!-- 번호 -->
        <col style="width: 13%;"><!-- 계정유형 -->
        <col style="width: 20%;"><!-- 이메일  -->
        <col style="width: 10%;"><!-- 닉네임 -->
        <col style="width: 15%;"><!-- 가입일 -->
        <col style="width: 15%;"><!-- 최종접속일 -->
        <col style="width: 10%;"><!-- 클린포인트 -->
        <col style="width: 10%;"><!-- 회원관리 -->
    </colgroup>
    <thead>
    <tr>
        <th>
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" onchange="fnDoChkAll(this);">
                <label for=""></label>
            </div>
        </th>
        <th>번호</th>
        <th>계정유형</th>
        <th>이메일</th>
        <th>닉네임</th>
        <th>가입일</th>
        <th>최종접속일</th>
        <th>포인트</th>
        <th>접속가능</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->
    <tr th:each="user, i : ${userList}">
        <td class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" name="userId" th:id="${'id' + user.userId}" th:value="${user.userId}">
                <label th:for="${'id' + user.userId}"></label>
            </div>
        </td>
        <td th:text="${#numbers.formatInteger(userPaging.totalSize - (i.count + ((userPaging.page) * userPaging.size)) + 1, 0, 'COMMA')}">1 </td>
        <td th:text="${user.provider}"></td>
        <td th:text="${user.email}"></td>
        <td><a href="javascript:;" th:onclick="fnDoPopupMetaUserManage([[${user.userId}]]);">[[${user.nickname}]]</a></td>
        <td th:text="${user.createdAt}">2022-04-20</td>
        <td th:text="${user.lastConnectAt}"></td>
        <td th:text="${user.cleanPoint}">2022-04-20</td>
        <td th:if="${user.delYn} == 'Y'">
            <a href="javascript:;" th:onclick="fnDoMetaUserUp([[${user.userId}]])">[접속불가]</a>
        </td>
        <td th:unless="${user.delYn} == 'Y'">
            [접속가능]
        </td>
    </tr>

    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>

<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(userPaging['page'] / maxPage) * maxPage + 1},
                        end=(${(userPaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < userPaging['totalPage'] ? start + (maxPage - 1) : userPaging['totalPage'])})
    ">
    <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoMetaUserList('0');">
        <i class="fa fa-angle-double-left"></i></button>

    <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoMetaUserList([[${start - maxPage -1}]]);|">
        <i class="fa fa-angle-left"></i></button>
    <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoMetaUserList(0);">
        <i class="fa fa-angle-left"></i></button>

    <!-- for문 사용 리스스 출력 시작 -->
    <th:block th:each="num : ${#numbers.sequence(start,end)}">
        <button type="button" th:if="${num} == ${userPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoMetaUserList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
        <button type="button" th:unless="${num} == ${userPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoMetaUserList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
    </th:block>
    <!-- for문 사용 리스스 출력 끝 -->

    <button type="button" th:if="${end < userPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoMetaUserList('${start + maxPage -1}');|">
        <i class="fa fa-angle-right"></i>
    </button>
    <button type="button" th:unless="${end < userPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoMetaUserList('${userPaging['totalPage'] - 1}');|">
        <i class="fa fa-angle-right"></i></button>

    <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoMetaUserList('${userPaging['totalPage'] - 1}');|">
        <i class="fa fa-angle-double-right"></i>
    </button>
    </th:block>
</div>
