<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">


    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function () {
            //ajax 준비중입니다.
            fnDoInitMetaUserList();

            // $("#datepicker1").datepicker({dateFormat: 'yy-mm-dd'});
            // $("#datepicker2").datepicker({dateFormat: 'yy-mm-dd'});
            // $("#datepicker3").datepicker({dateFormat: 'yy-mm-dd'});
            // $("#datepicker4").datepicker({dateFormat: 'yy-mm-dd'});
            // $("#datepicker5").datepicker({dateFormat: 'yy-mm-dd'});
        });

        //리스트만 불러오기
        function fnDoMetaUserList(page) {
            var f = document.form1;
            f.page.value = page;
            console.log("test");
            $.ajax({
                url: "metaBus/user/listAjax",
                type: 'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    document.getElementById("listArea").innerHTML = data;
                    wn_setSortTable();
                }
            });
        }

        //액셀 다운
        function fnExcelDownloadMetaUserList() {

            if ($("#listLength").val() == "0") {
                alert("검색결과 목록이 없습니다.");

            } else {
                var f = document.form1;
                //$('#nm').val("metaUser");
                f.action = "downExcel";
                f.submit();
            }

        }

        function fnDoMetaUserDelete() {
            var f = document.form1;
            var page = f.page.value;

            if ($("#listTable tbody input[type=checkbox]:checked").length < 1) {
                alert("접속불가 처리할 닉네임을 선택 해주세요.");
                return;
            }
            var cfm = confirm("선택하신 인원을 접속 불가 처리하시겠습니까?");
            if (cfm) {
                $.ajax({
                    url: "metaBus/user/deleteInfo",
                    type: 'POST',
                    cache: false,
                    dataType: "json",
                    data: $('#form1').serialize(),
                    async: false,
                    success: function (data) {
                        alert("접속불가 처리되었습니다.");
                        fnDoMetaUserList(page);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        }

        function fnDoMetaUserUp(val) {
            var f = document.form1;
            var page = f.page.value;
            var cfm = confirm("선택하신 인원을 접속 가능 처리하시겠습니까?");
            if (cfm) {
                $.ajax({
                    url: "metaBus/user/upInfo",
                    type: 'POST',
                    cache: false,
                    dataType: "json",
                    data: {"userId" : val},
                    async: false,
                    success: function (data) {
                        alert("접속 가능 처리되었습니다.");
                        fnDoMetaUserList(page);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        }

        //회원정보보기용
        function fnDoPopupMetaUserManage(code) {
            console.log(code);
            var params = "userId=" + code;

            if (code) {
                title = "메타버스 유저 확인";
                var reqUrl = "metaBus/user/viewInfo";
                var desc = "메타버스 유저 정보를 확인합니다";
            }

            wn_modalPop({
                title: title,

                desc: desc,
                width: "800px",
                actUrl: reqUrl,
                cbFunc: fnDoPopupMetaUserManageCallback
            }, params);
        }

        function fnDoPopupMetaUserManageCallback() {

        }

        //순위보기
        function fnDoPopupMetaRankingManage(code) {

            console.log(code);
            var params = "userId=" + code;

            var title = "메타버스 월별 순위 현황";
            var reqUrl = "metaBus/user/rankingInfo";
            var desc = "메타버스 유저 활동순위를 확인합니다";

            wn_modalPop({
                title: title,
                desc: desc,
                width: "800px",
                actUrl: reqUrl,
                cbFunc: fnDoPopupMetaUserManageCallback
            }, params);
        }


        function fnDoChkAll(chkAll) {
            if ($(chkAll).prop("checked")) {
                $("#listTable tbody input[type=checkbox]").prop("checked", true);
            } else {
                $("#listTable tbody input[type=checkbox]").prop("checked", false);
            }
        }

        function fnDoInitMetaUserList() {
            document.form1.reset();
            fnDoMetaUserList(0);
        }

        $(document).keyup(function (event) {
            if ($("#searchString").is(":focus") && event.key == "Enter") {
                // Do work
                fnDoMetaUserList(0);
            }
        });

    </script>

    <!-- Begin Page Content -->

        <div class="title" style="display: flex; justify-content: space-between; align-items: center">
            <div style="padding-left: 20px;">
                <span class="font-size-32 bold font-color">메타버스 사용자 조회</span>
                <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
            </div>
        <span class="pull-right" style="display: flex; align-items: center">
            <button type="button" class="btn btn-manage btn-sm pull-right" onclick="fnDoMetaUserDelete();">
                    <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="접속불가"/>&nbsp;접속불가
                </button>
            <button type="button" class="btn btn-add pull-right" style="text-align: center"
                                 onclick="fnDoPopupMetaRankingManage();">월별랭킹보기</button>
            <!--
                <button type="button" class="btn btn-add pull-right" style="text-align: center"
                    onclick="fnDoPopupMetaUserManage();">등록</button>
                <button type="button" class="btn btn-manage btn-sm pull-right" style="margin-right: 3px;"
                        onclick="fnExcelDownloadMetaUserList();">
                    <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
                </button>
            -->
	    </span>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <input type="hidden" name="page" id="page" th:value="${userPaging['page']}"/>
                        <input type="hidden" name="size" id="size" th:value="10"/>
                        <div style="float: left;">
                            <select name="orderStatus" id="orderStatus" class="btn-primary term" onchange="fnDoMetaUserList(0)">
                                <option value="">정렬방식</option>
                                <option value="orderCreateAt">가입일</option>
                                <option value="orderLastConnectAt">최종접속일</option>
                                <option value="orderPoint">클린포인트</option>
                                <option value="orderDelYAndLastConnectAt">접속 불가 & 최종 접속일</option>
                                <option value="orderDelNAndLastConnectAt">접속 가능 & 최종 접속일</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <div class="pull-right" style="margin-bottom: 6px;">
                                <div id="searchStringB lock" style="float: left;">
                                    <input type="text" id="searchString" name="searchString" maxlength="20" placeholder="Search" class="form-control brdr-rd input-sm inline"  style="width:160px;">
                                </div>
                                <span class="inline input-group-btn" style="float:left;">
					                <button type="button" class="btn-srch" onclick="fnDoMetaUserList(0);" th:text="#{common.button.search}" />
						        </span>
                            </div>

                            <select name="searchSelect" id="searchSelect" class="btn-primary term" onchange="document.form1.searchString.value=''" style="margin-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0;">
                                <option value="">검색유형</option>
                                <option value="searchName" selected="selected">닉네임</option>
                            </select>
                        </div>
                        <div class="row"></div>
                        <div id="listArea">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</th:block>
</html>