<script type="text/javascript">

    $(document).ready(function () {
        // $("#datepicker3").datepicker({
        //     dateFormat: "yy-mm-dd"
        // });
    });
</script>

<style>
    .auth-menu {
        border: 1px #000 solid;
        border-radius: 5px;
        width: 100px;
        height: 25px;
        text-align: center;
    }

    #addProj {
        font-size: large;
        font-weight: bold;
    }

    #addMenu {
        display: inline;
        margin-right: 10px;
    }

    .viewText {
        font-weight: bold;
        margin-top: 15px;
    }

    .viewTextContent {
        background: #F7F8F9 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 2;
        padding: 13px 20px;
    }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal">
    <th:block th:if="${metaUserOne.userId} == null or ${metaUserOne.userId} == ''">
        <input type="hidden" name="flag" id="flag" value="add"/>
    </th:block>
    <th:block th:unless="${metaUserOne.userId} == null or ${metaUserOne.userId} == ''">
        <input type="hidden" name="flag" id="flag" value="modify"/>
        <input type="hidden" name="userSeq" id="userSeq" th:value="${metaUserOne.userId}"/>
    </th:block>

    <div class="modal-body p-all-0">
        <div class="ibox float-e-margins">
            <div class="ibox-content">

                <div class="form-box">
                    <div class="viewText">
                        닉네임
                    </div>
                    <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${metaUserOne.nickname}">
                        <!-- 접수 작성일 -->
                        2022-05-10
                    </div>
                </div>

                <div class="form-box">
                    <div class="viewText">
                        이메일
                    </div>
                    <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${metaUserOne.email}">
                        <!-- 접수 작성일 -->
                        2022-05-10
                    </div>
                </div>

                <div class="form-box">
                    <div class="viewText">
                        구분
                    </div>
                    <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${metaUserOne.provider}">
                        <!-- 접수 작성일 -->
                        2022-05-10
                    </div>
                </div>

                <div class="form-box">
                    <div class="viewText">
                        아바타 성별
                    </div>
                    <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${metaUserOne.avatarType} == 1 ? '여자' : '남자'">
                        <!-- 접수 작성일 -->
                        2022-05-10
                    </div>
                </div>

                <div class="form-box">
                    <div class="viewText">
                        가입일
                    </div>
                    <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${#strings.substring(metaUserOne.createdAt,0,10)}">
                        <!-- 접수 작성일 -->
                        2022-05-10
                    </div>
                </div>

                <div class="form-box">
                    <div class="viewText">
                        수정일
                    </div>
                    <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${#strings.substring(metaUserOne.updatedAt,0,10)}">
                        <!-- 접수 작성일 -->
                        2022-05-10
                    </div>
                </div>

                <div class="form-box">
                    <div class="viewText">
                        최종 접속일
                    </div>
                    <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${#strings.substring(metaUserOne.lastConnectAt,0,10)}">
                        <!-- 접수 작성일 -->
                        2022-05-10
                    </div>
                </div>

                <div class="form-box">
                    <div class="viewText">
                        최근 마일리지 적립내역
                    </div>
                    <div class="col-5 viewTextContent"  style="padding: 14px;">
                        <th:block th:if="${umhList.size()} != 0">
                            <th:block th:each="umh, i : ${umhList}">
                                <p>
                                    <span style="display: inline-block; padding-right: 20px;">&#91;[[${#strings.replace(umh.regDt, "T", " ")}]]&#93;</span>
                                    <span style="display: inline-block; padding-right: 20px;">[[${umh.processLocation}]]에서 [[${umh.trashName}]] [[${umh.reason}]]</span>
                                    <span th:if="${umh.point} > 0" style="display: inline-block; padding-right: 20px; color: #0a4d85;">(+[[${umh.point}]])</span>
                                    <span th:unless="${umh.point} > 0" style="display: inline-block; padding-right: 20px; color: #c93b31;">([[${umh.point}]])</span>
                                </p>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${umhList.size()} != 0">
                            적립된 마일리지가 없습니다.
                        </th:block>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
<!--        <button type="button" class="btn btn-submit" onclick="fnDoSaveUser();" th:text="#{common.button.save}">-->
<!--            저장-->
<!--        </button>-->
    </div>

</form>