<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">


    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function () {
            //ajax 준비중입니다.
            fnDoInitMetaBoardList();

            $("#datepicker1").datepicker({dateFormat: 'yy-mm-dd'});
            $("#datepicker2").datepicker({dateFormat: 'yy-mm-dd'});
            $("#datepicker3").datepicker({dateFormat: 'yy-mm-dd'});
            $("#datepicker4").datepicker({dateFormat: 'yy-mm-dd'});
            $("#datepicker5").datepicker({dateFormat: 'yy-mm-dd'});
        });

        //리스트만 불러오기
        function fnDoMetaBoardList(page) {
            var f = document.form1;
            f.page.value = page;
            console.log("test");
            $.ajax({
                url: "metaBus/board/listAjax",
                type: 'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    document.getElementById("listArea").innerHTML = data;
                    wn_setSortTable();
                }
            });
        }

        //액셀 다운
        function fnExcelDownloadMetaBoardList() {

            if ($("#listLength").val() == "0") {
                alert("검색결과 목록이 없습니다.");

            } else {
                var f = document.form1;
                //$('#nm').val("metaBoard");
                f.action = "downExcel";
                f.submit();
            }

        }

        //등록용
        function fnDoPopupMetaBoardManage(code) {
            console.log(code);
            var boardType = document.form1.boardType.value;
            var params = "seq=" + code + "&boardType=" + boardType;

            if (code) {
                title = "게시판 내용 확인";
                var reqUrl = "metaBus/board/modifyForm";
                var desc = "게시판 내용을 확인합니다";
            } else {
                title = "게시판 내용 등록";
                var reqUrl = "metaBus/board/writeForm";
                var desc = "게시판 내용을 등록합니다";
            }

            wn_modalPop({
                title: title,

                desc: desc,
                width: "800px",
                actUrl: reqUrl,
                cbFunc: fnDoPopupMetaBoardManageCallback
            }, params);
        }

        function fnDoPopupMetaBoardManageCallback() {

        }

        function fnDoChkAll(chkAll) {
            if ($(chkAll).prop("checked")) {
                $("#listTable tbody input[type=checkbox]").prop("checked", true);
            } else {
                $("#listTable tbody input[type=checkbox]").prop("checked", false);
            }
        }

        function fnDoMetaBoardDelete() {
            if ($("#listTable tbody input[type=checkbox]:checked").length < 1) {
                alert("삭제하실 접수내용을 선택 해주세요.");
                return;
            }
            var cfm = confirm("선택하신 접수내용을 삭제 하시겠습니까?");
            if (cfm) {
                $.ajax({
                    url: "metaBus/board/deleteInfo",
                    type: 'POST',
                    cache: false,
                    dataType: "json",
                    data: $('#form1').serialize(),
                    async: false,
                    success: function (data) {
                        alert("삭제 되었습니다.");
                        fnDoMetaBoardList(0);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        }

        function fnDoSearchText(val) {

            console.log(val);
            if (val == "searchReg" || val == "searchComplete") {
                $('#datepicker1').val('');
                $('#datepicker2').val('');
                $('#searchDateBlock').show();
                $('#searchString').val('');
                $('#searchStringBlock').hide();
            } else {
                $('#datepicker1').val('');
                $('#datepicker2').val('');
                $('#searchDateBlock').hide();
                $('#searchString').val('');
                $('#searchStringBlock').show();
            }
        }

        function fnDoInitMetaBoardList() {
            document.form1.reset();
            fnDoMetaBoardList(0);
        }

        $(document).keyup(function (event) {
            if ($("#searchString").is(":focus") && event.key == "Enter") {
                // Do work
                fnDoMetaBoardList(0);
            }
        });

    </script>

    <!-- Begin Page Content -->

        <div class="title" style="display: flex; justify-content: space-between; align-items: center">
            <div style="padding-left: 20px;">
                <span class="font-size-32 bold font-color" th:text="${pageTitle}">컨텐츠 관리</span>
                <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
            </div>
        <span class="pull-right" style="display: flex; align-items: center">

<button type="button" class="btn btn-add pull-right" style="text-align: center"
        onclick="fnDoPopupMetaBoardManage();">등록</button>
                <button type="button" class="btn btn-manage btn-sm pull-right" onclick="fnDoMetaBoardDelete();"
                        >
                <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제"/>&nbsp;삭제
                </button>

            <!--
            <button type="button" class="btn btn-manage btn-sm pull-right" style="margin-right: 3px;"
                    onclick="fnExcelDownloadMetaBoardList();">
                <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
            </button>
            -->
	    </span>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <input type="hidden" name="page" id="page" th:value="${boardPaging['page']}"/>
                        <input type="hidden" name="size" id="size" th:value="10"/>
                        <input type="hidden" name="boardType" id="boardType" th:value="${boardType}"/>
<!--                        <div class="col-12">-->


<!--                                <span class="inline input-group-btn" style="float:right;">-->
<!--					                <button type="button" class="btn-srch" onclick="fnDoMetaBoardList(0);"-->
<!--                                            th:text="#{common.button.search}"/>-->
<!--						        </span>-->
<!--                            <div id="searchStringBlock" style="float: right;">-->
<!--                                <input type="text" id="searchString" name="searchString" maxlength="20"-->
<!--                                       placeholder="Search" class="form-control brdr-rd input-sm inline"-->
<!--                                       style="width:250px;margin-right: 10px;">-->
<!--                            </div>-->
<!--                            <div id="searchDateBlock" style="display: none; float: right;">-->
<!--                                <input type="text" id="datepicker1" name="sdate"-->
<!--                                       class="form-control brdr-rd input-sm inline" placeholder="시작일"-->
<!--                                       style="width: 100px; float: left; margin-right: 10px;">-->
<!--                                <input type="text" id="datepicker2" name="edate"-->
<!--                                       class="form-control brdr-rd input-sm inline" placeholder="종료일"-->
<!--                                       style="width: 100px; float: left; margin-right: 10px;">-->
<!--                            </div>-->
<!--                            <div style="float: right;">-->
<!--                                <select name="searchSelect" id="searchSelect" class="btn-primary term"-->
<!--                                        onchange="fnDoSearchText(this.value)">-->
<!--                                    <option value="searchTitle" selected="selected">제목</option>-->
<!--                                    <option value="searchContent">내용</option>-->
<!--                                    &lt;!&ndash;<option value="searchReg">등록기간</option>&ndash;&gt;-->
<!--                                </select>-->
<!--                            </div>-->


<!--                        </div>-->
                        <div class="col-12">

                            <div class="pull-right" style="margin-bottom: 6px;">
                                <div id="searchStringB lock" style="float: left;">
                                    <input type="text" id="searchString" name="searchString" maxlength="20" placeholder="Search" class="form-control brdr-rd input-sm inline"  style="width:160px;">
                                </div>
                                <span class="inline input-group-btn" style="float:left;">
					                <button type="button" class="btn-srch" onclick="fnDoPopupMetaBoardManage(0);" th:text="#{common.button.search}" />
						        </span>
                            </div>

                            <select name="searchSelect" id="searchSelect" class="btn-primary term" onchange="document.form1.searchString.value=''" style="margin-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0;">
                                <option value="">검색유형</option>
                                <option value="searchName" selected="selected">이름</option>
                            </select>
                        </div>
                        <div class="row"></div>
                        <div id="listArea">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</th:block>
</html>