<input type="hidden" id="listLength" th:value="${boardPaging.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <colgroup>
        <col style="width: 1%;"><!-- 체크박스 -->
        <col style="width: 5%;"><!-- 번호 -->
        <col style="width: 34%;"><!-- 제목  -->
        <col style="width: 10%;"><!-- 사용여부 -->
        <col style="width: 10%;"><!-- 작성자 -->
        <col style="width: 15%;"><!-- 작성일 -->
        <col style="width: 10%;"><!-- 수정자 -->
        <col style="width: 15%;"><!-- 수정일 -->
    </colgroup>
    <thead>
    <tr>
        <th class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" onchange="fnDoChkAll(this);">
                <label for=""></label>
            </div>
        </th>
        <th>번호</th>
        <th>제목</th>
        <th>사용여부</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>수정자</th>
        <th>수정일</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->
    <tr th:each="board, i : ${boardList}">
        <td class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" name="boardSeq" th:id="${'id' + board.boardSeq}" th:value="${board.boardSeq}">
                <label th:for="${'id' + board.boardSeq}"></label>
            </div>
        </td>
        <td th:text="${#numbers.formatInteger(boardPaging.totalSize - (i.count + ((boardPaging.page) * boardPaging.size)) + 1, 0, 'COMMA')}">1 </td>
        <td><a href="javascript:;" th:onclick="fnDoPopupMetaBoardManage([[${board.boardSeq}]]);">[[${board.boardTitle}]]</a></td>
        <td th:text="(${board.useYn} == 'Y') ? '사용함' : '사용안함'"></td>
        <td th:text="${board.boardRegName}">2022-04-20</td>
        <td th:text="${board.regDt}">2022-04-20</td>
        <td th:text="${board.boardModName}">2022-04-20</td>
        <td th:text="${board.modDt}">2022-04-20</td>
    </tr>

    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>

<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(boardPaging['page'] / maxPage) * maxPage + 1},
                        end=(${(boardPaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < boardPaging['totalPage'] ? start + (maxPage - 1) : boardPaging['totalPage'])})
    ">
    <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoMetaBoardList('0');">
        <i class="fa fa-angle-double-left"></i></button>

    <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoMetaBoardList([[${start - maxPage}]]);|">
        <i class="fa fa-angle-left"></i></button>
    <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoMetaBoardList(0);">
        <i class="fa fa-angle-left"></i></button>

    <!-- for문 사용 리스스 출력 시작 -->
    <th:block th:each="num : ${#numbers.sequence(start,end)}">
        <button type="button" th:if="${num} == ${boardPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoMetaBoardList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
        <button type="button" th:unless="${num} == ${boardPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoMetaBoardList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
    </th:block>
    <!-- for문 사용 리스스 출력 끝 -->

    <button type="button" th:if="${end < boardPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoMetaBoardList('${start + maxPage}');|">
        <i class="fa fa-angle-right"></i>
    </button>
    <button type="button" th:unless="${end < boardPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoMetaBoardList('${boardPaging['totalPage'] - 1}');|">
        <i class="fa fa-angle-right"></i></button>

    <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoMetaBoardList('${boardPaging['totalPage'] - 1}');|">
        <i class="fa fa-angle-double-right"></i>
    </button>
    </th:block>
</div>
