<script type="text/javascript">

    function fnDoSaveBoard() {
        var f = document.popupForm;
        var formData = $('#popupForm').serialize();
        var form = $('#popupForm')[0];
        var formData2 = new FormData(form);


        if (f.boardTitle.value == '') {
            alert("제목을 입력해주세요.");
            return false;
        }
        if (f.boardContent.value == '') {
            alert("내용을 입력해주세요.");
            return false;
        }
        if (formData.search("useYn") == -1) {
            alert("사용여부을 선택해 주세요.");
            return false;
        }

        var reqUrl = "";
        var page = ($('#page').val() != "" || $('#page').val() != null) ? $('#page').val() : 0;

        if (f.flag.value == 'add') {
            reqUrl = "metaBus/board/insertInfo";
        } else {
            reqUrl = "metaBus/board/updateInfo"
        }

        $.ajax({
            url: reqUrl,
            type: "POST",
            cache: false,
            dataType: "json",
            data: formData2,
            processData: false,
            contentType: false,
            async: false,
            success: function (data) {
                alert("저장하였습니다.");
                fnDoMetaBoardList(page);
                wn_modalClose();
            },
            error: function (e) {
                console.log(e);
            }
        });

    }


    $(document).ready(function () {
        $("#datepicker3").datepicker({
            dateFormat: "yy-mm-dd"
        });
    });
</script>

<style>
    .auth-menu {
        border: 1px #000 solid;
        border-radius: 5px;
        width: 100px;
        height: 25px;
        text-align: center;
    }

    #addProj {
        font-size: large;
        font-weight: bold;
    }

    #addMenu {
        display: inline;
        margin-right: 10px;
    }

    .viewText {
        font-weight: bold;
        margin-top: 15px;
    }

    .viewTextContent {
        background: #F7F8F9 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 2;
        padding: 13px 20px;
    }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal">
    <th:block th:if="${metaBoardOne.boardSeq} == null or ${metaBoardOne.boardSeq} == ''">
        <input type="hidden" name="flag" id="flag" value="add"/>
    </th:block>
    <th:block th:unless="${metaBoardOne.boardSeq} == null or ${metaBoardOne.boardSeq} == ''">
        <input type="hidden" name="flag" id="flag" value="modify"/>
        <input type="hidden" name="boardSeq" id="boardSeq" th:value="${metaBoardOne.boardSeq}"/>
    </th:block>
    <input type="hidden" name="boardType" id="boardType" th:value="${metaBoardOne.boardType}"/>

    <div class="modal-body p-all-0">
        <div class="ibox float-e-margins">
            <div class="ibox-content">

                <div class="form-box">
                    <label class="col-5 label-title m-t-s">제목</label>
                    <div class="col-5">
                        <input style="width: 100%; margin-bottom: 10px;" type="text" id="boardTitle" name="boardTitle"
                               class="col-5 input-control" placeholder="제목을 입력하세요" maxlength="40"
                               th:value="${metaBoardOne.boardTitle}">
                    </div>
                </div>

                <div id="responseBox_0" class="responseBox" style="">
                    <div class="responseList_0 bk-input p-m p-b-m" id="content_st_0" style="">
                        <div class="form-box col-5"><label class="col-1 m-r-m block">내용</label></div>
                        <div class="col-5">
                            <textarea rows="3" cols="" name="boardContent" id="boardContent"
                                      class="col-5 input-control-white"
                                      th:text="${metaBoardOne.boardContent}"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-box">
                    <label class="col-5 label-title m-t-s">첨부파일</label>
                    <div class="col-5">
                        <input style="padding: 14px; height: 48px; width: 100%; margin-bottom: 10px" type="file" name="uploadfile"
                               id="uploadfile" class="col-5 input-control" placeholder="첨부파일 등록하세요">
                    </div>
                </div>
                <th:block th:if="${metaBoardOne.boardAttList.size()} > 0">
                    <th:block th:each="boardAtt, i : ${metaBoardOne.boardAttList}">
                        <div><i style="color: #58616B; font-size: 16px; margin-right: 5px;" class="fas fa-arrow-alt-circle-down"></i><a style="color: #777" th:href="${boardAtt}">첨부파일</a></div>
                    </th:block>
                </th:block>


                <div class="form-box ">
                    <label class="col-5 m-t-s block">사용여부 <span class="necessary">*</span></label>
                    <div class="col-5 bk-input" style="height: 48px; padding: 14px;">
                        <div class="col-5">
                            <label for="useYnY" style="width: 50px; float: left; margin-right: 12px;">
                                <input type="radio" name="useYn" id="useYnY" value="Y" class="m-r-m"
                                       style="margin-right: 4px;" th:if="${metaBoardOne.useYn} == 'Y'"
                                       checked="checked">
                                <input type="radio" name="useYn" id="useYnY" value="Y" class="m-r-m"
                                       style="margin-right: 4px;" th:unless="${metaBoardOne.useYn} == 'Y'">
                                예
                            </label>
                            <label for="useYnN" style="width: 70px;">
                                <input type="radio" name="useYn" id="useYnN" value="N" style="margin-right: 4px;"
                                       th:if="${metaBoardOne.useYn} != 'Y'" checked="checked">
                                <input type="radio" name="useYn" id="useYnN" value="N" style="margin-right: 4px;"
                                       th:unless="${metaBoardOne.useYn} != 'Y'">
                                아니오
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
        <button type="button" class="btn btn-submit" onclick="fnDoSaveBoard();" th:text="#{common.button.save}">
            저장
        </button>
    </div>

</form>