<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function(){
            //ajax 준비중입니다.
            fnDoInitPersonalInfoLogList();

            $("#datepicker1").datepicker();
            $("#datepicker2").datepicker();
            // $("#datepicker3").datepicker();
            // $("#datepicker4").datepicker();
            // $("#datepicker5").datepicker();
        });

        //리스트만 불러오기
        function fnDoPersonalInfoLogList(page) {
            var f = document.form1;
            f.page.value = page;
            console.log("test");
            $.ajax({
                url: "operation/personalInfo/listAjax",
                type:'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function() {
                    console.log('error');
                },
                success: function(data) {
                    document.getElementById("listArea").innerHTML = data;
                    wn_setSortTable();
                }
            });
        }

        //수정용
        function fnDoPopupPersonalInfoLogManage(code) {
            console.log(code);
            var params = "seq=" + code;

            if (code) {
                var title = "메뉴 내용";
                var desc = "메뉴를 확인합니다.";
                var reqUrl = "operation/personalInfoLog/modifyForm";
            } else {
                var title = "메뉴 등록";
                var desc = "메뉴를 등록합니다.";
                var reqUrl = "operation/personalInfoLog/writeForm";
            }

            wn_modalPop({title: title,

                desc: desc,
                width:"800px",
                actUrl: reqUrl,
                cbFunc: fnDoPopupPersonalInfoLogManageCallback}, params);
        }

        function fnDoPopupPersonalInfoLogManageCallback() {

        }

        function fnDoChkAll(chkAll){
            if ($(chkAll).prop("checked")) {
                $("#listTable tbody input[type=checkbox]").prop("checked", true);
            } else {
                $("#listTable tbody input[type=checkbox]").prop("checked", false);
            }
        }

        function fnDoInitPersonalInfoLogList() {
            document.form1.reset();
            fnDoPersonalInfoLogList(0);
        }

        //확인용
        function fnDoViewManage(code, menu) {
            console.log(code);

            if (menu == "Chatbot" || menu == "Band" || menu == "Phone" || menu == "Visit" ) {
                var params = "seq=" + code;
                var title = "상세접수내용";
                var desc = "깨끗한 마을 사용자를 확인합니다.";
                var reqUrl = "environmental/report/viewForm";
            } else if (menu == "UserInfo" ) {
                var params = "did=" + code;
                var title = "깨끗한 마을 사용자 확인";
                var desc = "깨끗한 마을 사용자를 확인합니다.";
                var reqUrl = "operation/user/viewForm";
            } else if (menu == "Campaign" ) {
                var params = "seq=" + code;
                var title = "캠페인 활동 사용자 확인";
                var desc = "캠페인 활동 사용자를 확인합니다.";
                var reqUrl = "environmental/campaign/viewForm";
            } else {
                alert("잘못된 정보입니다.");
                return;
            }

            wn_modalPop({
                title: title,
                desc: desc,
                width: "800px",
                actUrl: reqUrl,
                cbFunc: fnDoPopupManageCallback
            }, params);
        }

        function fnDoPopupManageCallback() {

        }

        $(document).keyup(function(event) {
            if ($("#searchString").is(":focus") && event.key == "Enter") {
                // Do work
                fnDoPersonalInfoLogList(0);
            }
        });
    </script>


    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">개인정보 확인내역 조회</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
        </div>
        <span class="pull-right">
                <!--
                <button type="button" class="btn btn-add pull-right"
                        onclick="fnDoPopupPersonalInfoLogManage();">메뉴등록</button>
                <button type="button" class="btn btn-manage btn-sm pull-right" onclick="fnDoPersonalInfoLogDelete();"
                        style="margin-right: 5px;">
                    <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제"/>&nbsp;삭제
                </button>
                <button type="button" class="btn btn-manage btn-sm pull-right" style="margin-right: 3px;"
                        onclick="fnExcelDownloadPersonalInfoLogList();">
                    <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
                </button>
                -->
	    </span>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <input type="hidden" name="page" id="page" th:value="${personalInfoLogPaging['page']}"/>
                        <input type="hidden" name="size" id="size" th:value="10"/>
                        <div class="col-12">
                            <div class="pull-right" style="margin-bottom: 6px;">
                                <div id="searchStringB lock" style="float: left;">
                                    <input type="text" id="searchString" name="searchString" maxlength="20" placeholder="Search" class="form-control brdr-rd input-sm inline"  style="width:160px; border-top-right-radius: 0; border-bottom-right-radius: 0;">
                                </div>
                                <span class="inline input-group-btn" style="float:left;">
					                <button type="button" class="btn-srch" onclick="fnDoPersonalInfoLogList(0);" th:text="#{common.button.search}" />
						        </span>
                            </div>

                            <select name="searchSelect" id="searchSelect" class="btn-primary term" onchange="document.form1.searchString.value=''" style="margin-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0;">
                                <option value="">검색유형</option>
                                <option value="searchName" selected="selected">이름</option>
                                <option value="searchMenu">메뉴명</option>
                            </select>
                        </div>
                        <div class="row"></div>
                        <div id="listArea">

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=118b669ea30b6960602b1cd950cc83d3&libraries=services"></script>

</th:block>
</html>