<input type="hidden" id="listLength" th:value="${pushPaging.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <colgroup>
        <col style="width: 12%;"><!-- 등록일시 -->
        <col style="width: 8%;"><!-- 시간유형  -->
        <col style="width: 5%;"><!-- 상태  -->
        <col style="width: 12%;"><!-- 보낸 시간 -->
        <col style="width: 12%;"><!-- 제목 -->
        <col style="width: 25%;"><!-- 메시지 -->
        <col style="width: 8%;"><!-- 삭제 -->
        <col style="width: 8%;"><!-- 전송수 -->
        <col style="width: 8%;"><!-- 등록자 -->
    </colgroup>
    <thead>
    <tr>
        <th>등록일시</th>
        <th>시간유형</th>
        <th>상태</th>
        <th>보낸 시간</th>
        <th>제목</th>
        <th>메시지</th>
        <th>삭제</th>
        <th>전송수</th>
        <th>등록자</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->
    <tr th:each="push, i : ${pushList}">
        <td th:text="${#strings.replace(push.regDt,'T',' ')}"></td>
        <td th:text="${push.sendTypeName}"></td>
        <td th:text="${push.resultTypeName}"></td>
        <td th:text="${#strings.replace(push.sendDt,'T',' ')}"></td>
        <td th:text="${push.title}"></td>
        <td th:text="${push.body}"></td>
        <td>
            <th:block th:if="${push.resultType} == 'W'">
                <a href="#" th:onclick="fnDoMetaPushDelete([[${push.sendSeq}]])">삭제하기</a>
            </th:block>
        </td>
        <td th:text="${push.sendCnt}">2022-04-20</td>
        <td th:text="${push.regName}"></td>
    </tr>

    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>

<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(pushPaging['page'] / maxPage) * maxPage + 1},
                        end=(${(pushPaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < pushPaging['totalPage'] ? start + (maxPage - 1) : pushPaging['totalPage'])})
    ">
    <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoMetaPushList('0');">
        <i class="fa fa-angle-double-left"></i></button>

    <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoMetaPushList([[${start - maxPage -1}]]);|">
        <i class="fa fa-angle-left"></i></button>
    <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoMetaPushList(0);">
        <i class="fa fa-angle-left"></i></button>

    <!-- for문 사용 리스스 출력 시작 -->
    <th:block th:each="num : ${#numbers.sequence(start,end)}">
        <button type="button" th:if="${num} == ${pushPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoMetaPushList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
        <button type="button" th:unless="${num} == ${pushPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoMetaPushList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
    </th:block>
    <!-- for문 사용 리스스 출력 끝 -->

    <button type="button" th:if="${end < pushPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoMetaPushList('${start + maxPage -1}');|">
        <i class="fa fa-angle-right"></i>
    </button>
    <button type="button" th:unless="${end < pushPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoMetaPushList('${pushPaging['totalPage'] - 1}');|">
        <i class="fa fa-angle-right"></i></button>

    <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoMetaPushList('${pushPaging['totalPage'] - 1}');|">
        <i class="fa fa-angle-double-right"></i>
    </button>
    </th:block>
</div>
