<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">


    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function () {
            //ajax 준비중입니다.
            fnDoInitMetaPushList();

            $("#datepicker1").datepicker({dateFormat: 'yy-mm-dd'});
            $("#datepicker2").datepicker({dateFormat: 'yy-mm-dd'});
            $("#sdate").datepicker({dateFormat: 'yy-mm-dd'});
        });

        //리스트만 불러오기
        function fnDoMetaPushList(page) {
            var f = document.form1;
            f.page.value = page;
            console.log("test");
            $.ajax({
                url: "metaBus/push/listAjax",
                type: 'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    document.getElementById("listArea").innerHTML = data;
                    wn_setSortTable();
                }
            });
        }

        function fnDoSave() {
            var f = document.form2;
            console.log("test");
            var reqUrl = "metaBus/push/insertInfo"
            $.ajax({
                url: reqUrl,
                type: "POST",
                cache: false,
                dataType: "json",
                data: $('#form2').serialize(),
                async: false,
                success: function (data) {
                    alert("저장하였습니다.");
                    $('#sdate').val("");
                    $('#shour').val("");
                    $('#sminite').val("");
                    $('#title').val("");
                    $('#body').val("");
                    document.form1.reset();
                    fnDoMetaPushList(0);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }

        function fnDoMetaPushDelete(val) {
            var cfm = confirm("예약하신 푸쉬를 삭제 하시겠습니까?");
            var page = $("#page").val();
            var data = {"seq" : val};
            if (cfm) {
                $.ajax({
                    url: "metaBus/push/deleteInfo",
                    type: 'POST',
                    cache: false,
                    dataType: "json",
                    data: data,
                    async: false,
                    success: function (data) {
                        alert("삭제 되었습니다.");
                        fnDoMetaPushList(page);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        }


        function fnDoSearchText(val) {

            console.log(val);
            if (val == "searchReg" || val == "searchSend") {
                $('#datepicker1').val('');
                $('#datepicker2').val('');
                $('#searchDateBlock').show();
                $('#searchString').val('');
                $('#searchStringBlock').hide();
            } else {
                $('#datepicker1').val('');
                $('#datepicker2').val('');
                $('#searchDateBlock').hide();
                $('#searchString').val('');
                $('#searchStringBlock').show();
            }
        }

        function fnDoInitMetaPushList() {
            document.form2.reset();
            document.form1.reset();
            fnDoMetaPushList(0);
        }

        $(document).keyup(function (event) {
            if ($("#searchString").is(":focus") && event.key == "Enter") {
                // Do work
                fnDoMetaPushList(0);
            }
        });


    </script>

    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">푸쉬 관리</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
        </div>
        <span class="pull-right" style="display: flex; align-items: center">
            <!--
            <button type="button" class="btn btn-add pull-right" style="text-align: center"
                    onclick="fnDoPopupMetaPushManage();">등록</button>

            <button type="button" class="btn btn-manage btn-sm pull-right" onclick="fnDoMetaPushDelete();">
                <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제"/>&nbsp;삭제
                </button>


            <button type="button" class="btn btn-manage btn-sm pull-right" style="margin-right: 3px;"
                    onclick="fnExcelDownloadMetaPushList();">
                <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
            </button>
            -->
        </span>
    </div>

    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form2" id="form2" method="post" onsubmit="return false;">
                        <div style="font-size: 16px; padding-bottom: 12px; color: #222222; font-weight: bold;">
                            부천시 클린 메타버스 설지 된 모든 사용자에게 앱 알림(푸쉬) 제공하며, 해당 기능 사용은 최소화 하여야 합니다.
                        </div>
                        <div style="display: flex; align-items: center; height: 62px; border-bottom: 1px solid #ccc;">
                            <p style="background-color: #DCDDE0; width: 238px; height: 100%; text-align: center; line-height: 62px; margin: 0; font-weight: bold">시간 선택</p>
                            <div style="padding-left: 40px;">
                                <label for="sendTypeI" style="width: 60px; margin-right: 12px;">
                                    <input type="radio" name="sendType" id="sendTypeI" value="I" class="m-r-m"
                                           style="margin-right: 4px;" checked="checked">
                                    즉시
                                </label>
                                <label for="sendTypeR" style="width: 60px;">
                                    <input type="radio" name="sendType" id="sendTypeR" value="R" style="margin-right: 4px;">
                                    예약
                                </label>
                                <span id="sendDate">
                                    <select name="sminite" id="sminite" class="btn-primary term">
                                        <option value="">분선택</option>
                                        <tb:block th:each="num : ${#numbers.sequence(0,5)}">
                                            <option th:value="${num * 10}" th:text="${num * 10 + '분'}">시간 선택</option>
                                        </tb:block>
                                    </select>

                                    <select name="shour" id="shour" class="btn-primary term">
                                        <option value="">시간선택</option>
                                        <tb:block th:each="num : ${#numbers.sequence(0,23)}">
                                            <option th:value="${num}" th:text="${num + '시'}">시간 선택</option>
                                        </tb:block>
                                    </select>

                                    <input type="text" id="sdate" name="sdate" maxlength="20"
                                           placeholder="날짜선택" class="form-control brdr-rd input-sm inline"
                                           style="width:160px; border-radius: 0; margin-right: 16px; border-radius: 5px;">
                                </span>
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; height: 62px; border-bottom: 1px solid #ccc;">
                            <p style="background-color: #DCDDE0; width: 238px; height: 100%; text-align: center; line-height: 62px; margin: 0; font-weight: bold">제목</p>
                            <div style="padding-left: 40px;">
                                <input name="title" id="title" style="background-color: #F0F2F5; width: 300px; height: 32px; margin-right: 12px; border-radius: 4px; border: none; padding-left: 16px; color: #999999" value="" placeholder="제목을 입력해주세요" maxlength="180"  />
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; height: 62px; border-bottom: 1px solid #ccc;">
                            <p style="background-color: #DCDDE0; width: 238px; height: 100%; text-align: center; line-height: 62px; margin: 0; font-weight: bold">내용</p>
                            <div style="padding-left: 40px;">
                                <input name="body" id="body" style="background-color: #F0F2F5; width: 300px; height: 32px; margin-right: 12px; border-radius: 4px; border: none; padding-left: 16px; color: #999999" value="" placeholder="내용을 입력해주세요" maxlength="180"  />
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; height: 62px; ">
                            <p style="background-color: #DCDDE0; width: 238px; height: 100%; text-align: center; line-height: 62px; margin: 0; font-weight: bold">저장여부 </p>
                            <div style="padding-left: 40px;">
                                <button style="background-color: #3363FF; border: none; width: 82px; height: 48px; color: #fff; border-radius: 4px;" onclick="fnDoSave()">저장</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <input type="hidden" name="page" id="page" th:value="${pushPaging['page']}"/>
                        <input type="hidden" name="size" id="size" th:value="10"/>
                        <div class="col-12">
                            <div style="float: left;">
                                <select name="searchSendType" id="searchSendType" class="btn-primary term"
                                        onchange="fnDoMetaPushList(0)">
                                    <option value="">시간유형선택</option>
                                    <option value="F">즉시</option>
                                    <option value="S">예약</option>
                                </select>
                            </div>

                            <div style="float: left;">
                                <select name="searchResultType" id="searchResultType" class="btn-primary term"
                                        onchange="fnDoMetaPushList(0)">
                                    <option value="">상태선택</option>
                                    <option value="C">전송</option>
                                    <option value="W">대기</option>
                                </select>
                            </div>

                            <div style="float: left;">
                                <select name="searchSelect" id="searchSelect" class="btn-primary term" style="margin-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0"
                                        onchange="fnDoSearchText(this.value)">
                                    <option value="">검색유형</option>
                                    <option value="searchTitle" selected="selected">제목</option>
                                    <option value="searchBody">내용</option>
                                    <option value="searchReg">등록기간</option>
                                    <option value="searchSend">발신기간</option>
                                </select>
                            </div>

                            <div id="searchStringBlock" style="float: left;">
                                <input type="text" id="searchString" name="searchString" maxlength="20"
                                       placeholder="Search" class="form-control brdr-rd input-sm inline"
                                       style="width:160px; border-radius: 0">
                            </div>
                            <div id="searchDateBlock" style="display: none; float: left;">
                                <input type="text" id="datepicker1" name="sdate"
                                       class="form-control brdr-rd input-sm inline" placeholder="시작일"
                                       style="width: 100px; float: left; margin-right: 10px;">
                                <input type="text" id="datepicker2" name="edate"
                                       class="form-control brdr-rd input-sm inline" placeholder="종료일"
                                       style="width: 100px; float: left; margin-right: 10px;">
                            </div>
                            <span class="inline input-group-btn" style="float:left; ">
					                <button type="button" class="btn-srch" onclick="fnDoMetaPushList(0);"
                                            th:text="#{common.button.search}" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"/>
						        </span>

                        </div>
                        <div class="row"></div>
                        <div id="listArea">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</th:block>
</html>