#content {
	-webkit-box-sizing: border-box;
}
#content ::before {
	box-sizing: border-box; -webkit-box-sizing: border-box;
}
#content ::after {
	box-sizing: border-box; -webkit-box-sizing: border-box;
}
#content a {
	color: rgb(65, 65, 65); text-decoration: none; cursor: pointer;
}
#content a:hover {
	text-decoration: none;
}
#content a:focus {
	outline: rgb(56, 171, 142) solid 1px; text-decoration: none; position: relative; z-index: 1;
}
#content a:active {
	
}
#content .btn {
	padding: 5px; border-radius: 2px; border: 1px solid rgb(231, 235, 238); border-image: none; font-size: 0.9rem; cursor: pointer;
}
#content .btn-group .btn {
	border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgb(231, 235, 238) currentColor rgb(231, 235, 238) rgb(231, 235, 238); border-radius: 0px; border-image: none; float: left; background-color: white;
}
#content .btn-group :first-child.btn {
	border-radius: 3px 0px 0px 3px;
}
#content .btn-group :last-child.btn {
	border-radius: 0px 3px 3px 0px; border-right-color: rgb(231, 235, 238); border-right-width: 1px; border-right-style: solid;
}
#content .btn-group .btn:hover {
	background-image: linear-gradient(rgb(219, 219, 219), rgb(255, 255, 255) 25%); background-color: rgb(217, 221, 221);
}
#content .btn-group .active {
	background-image: linear-gradient(rgb(219, 219, 219), rgb(255, 255, 255) 25%); background-color: rgb(217, 221, 221);
}
#content .hr-lg {
	margin: 14px 0px; border: 0px currentColor; border-image: none;
}
#content .hr-md {
	margin: 12px 0px; border: 0px currentColor; border-image: none;
}
#content .hr-sm {
	margin: 10px 0px; border: 0px currentColor; border-image: none;
}
#content .font-size-sm {
	font-size: 0.9rem;
}
#content .font-size-md {
	font-size: 1.3rem;
}
#content .font-size-lg {
	font-size: 1.5rem;
}
#content .bold {
	font-weight: bold;
}
#content .row {
	margin: 0px; padding: 0px;
}
#content .row::after {
	clear: both; display: table; content: "";
}
#content .row > img {
	width: 100%; height: auto;
}
.content-body [class*='col-'] {
	float: left;
}
#content .right {
	float: right;
}  
#content .col-1 {
	width: 8.33%; 
}
#content .col-2 {
	width: 16.66%;
}
#content .col-3 {
	width: 33.33%;
}
#content .col-4 {
	width: 33.33%;
}
#content .col-5 {
	width: 41.66%;
} 
#content .col-6 {
	width: 50%;
} 
#content .col-7 {
	width: 58.33%;
}
#content .col-8 {
	width: 66.66%;
}
#content .col-9 {
	width: 75%;
}
#content .col-10 {
	width: 83.33%;
}
#content .col-11 {
	width: 91.66%;
}
#content .col-12 {
	width: 100%;
}
#content .col-13 {
	width: 50.33%;
}
#content .col-div-5 {
	width: 20%;
}
#content .outer {
	height: 100%; display: table;
}
#content .outer .middle {
	vertical-align: middle; display: table-cell;
}
div#sidenav {
	left: 0px; top: 0px; height: 100%; overflow: hidden; position: fixed; z-index: 9999;
}
div#sidenav header {
	height: 49px; background-color: rgb(48, 64, 80);
}
div#sidenav header #hamburger {
	top: 0px; color: rgb(56, 171, 142); display: none; position: relative; background-color: rgb(31, 41, 51);
}
div#sidenav header #hamburger .middle {
	width: 49px; height: 49px; font-size: 1.5em; cursor: pointer;
}
div#sidenav header #hamburger .middle i {
	margin: 0px; left: 50%; top: 50%; position: absolute; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);
}
div#sidenav nav {
	height: 100%; list-style-type: none;
}
div#sidenav nav ul {
	list-style: none; width: 219px; height: 100%; background-color: rgb(48, 64, 80);
}
div#sidenav nav ul li {
	width: 100%;
}
div#sidenav nav ul li a {
	color: rgb(167, 176, 193); display: block;
}
div#sidenav nav ul li a .middle {
	height: 46px; padding-left: 20px;
}
div#sidenav nav ul li a:not(.active):hover {
	color: white; background-color: rgb(43, 57, 70);
}
div#sidenav nav ul li a:not(.active):hover .middle {
	padding-left: 17px; border-left-color: rgb(56, 171, 142); border-left-width: 3px; border-left-style: solid;
}
div#sidenav nav ul li a.active {
	color: white; font-weight: bold; background-color: rgb(43, 57, 70);
}
div#sidenav nav ul li a.active .middle {
	padding-left: 17px; border-left-color: rgb(56, 171, 142); border-left-width: 3px; border-left-style: solid;
}
div#sidenav nav ul li a.subdown {
	background: url("../imgs/caret-down.svg") no-repeat 195px / 1em;
}
div#sidenav nav ul ul {
	background-color: rgb(42, 56, 70);
}
div#sidenav nav ul ul a .middle {
	padding-left: 35px;
}
div#sidenav nav ul ul a:not(.active):hover {
	color: white; background-color: rgb(37, 49, 61);
}
div#sidenav nav ul ul a:not(.active):hover .middle {
	padding-left: 32px;
}
div#sidenav nav ul ul a.active {
	color: white; font-weight: bold; background-color: rgb(37, 49, 61);
}
div#sidenav nav ul ul a.active .middle {
	padding-left: 32px;
}
div#content header {
	left: 0px; top: 0px; width: 100%; color: rgb(155, 154, 160); position: fixed; z-index: 999; background-color: rgb(48, 64, 80);
}
div#content header .middle {
	height: 49px; padding-right: 20px;
}
div#content header .middle a {
	color: rgb(155, 154, 160);
}
div#content header #chat a {
	color: white; font-size: 1.5rem;
}
div#content section nav.content-title {
	padding: 22px 27px; border: 1px solid rgb(231, 235, 238); border-image: none; height: 77px; color: rgb(65, 65, 65); font-size: 1.5rem; background-color: rgb(255, 255, 255);
}
div#content section nav.content-title .btn {
	background-color: rgb(252, 252, 252);
}
div#content section div.content-body {
	margin: auto;
}
div#content section div.content-body > div.border-box {
	padding: 15px 10px; clear: both; margin-top: 0px; margin-bottom: 25px; background-color: white;
}
div#content section div.content-body > div.border-box article.row .table2 {
	margin: 10px; border-radius: 3px; border: 1px solid rgb(204, 213, 219); border-image: none;
}
div#content section div.content-body > div.border-box article.row .table2 .title {
	padding: 15px; -ms-word-break: keep-all; background-color: rgb(245, 245, 245);
}
div#content section div.content-body > div.border-box article.row .table2 .body {
	padding: 28px 0px; text-align: center; border-top-color: rgb(204, 213, 219); border-top-width: 1px; border-top-style: solid;
}
div#content section div.content-body > div.border-box article.row .box {
	margin: 0px 10px;
}
div#content section div.content-body > div.border-box article.row .table-nb {
	margin: 0px 10px;
}
div#content section div.content-body > div.border-box article.row .table-nb .title {
	padding: 15px; font-weight: bold; -ms-word-break: keep-all;
}
div#content section div.content-body > div.border-box article.row .table-nb .body {
	padding: 28px; text-align: center;
}
div.ibox > #js-tree {
	display: block;
}
@media screen and (max-width:768px)
{
div#sidenav {
	left: -219px;
}
div#sidenav header #hamburger {
	display: inline-block;
}
div#sidenav nav .desktop-menu {
	display: none;
}
div#content header #chat {
	display: none;
}
div#content section {
	margin-left: 0px;
}
div.ibox .ibox-title #dialog-confirm {
	
}
div#content section #data-download {
	display: none;
}
div#content section div.content-body > div.border-box article.row .table2 .title {
	padding: 15px 0px; text-align: center;
}
div.ibox > #js-tree {
	display: none;
}
div.ibox > #js-tree img {
	margin-right: auto; margin-left: auto; display: block;
}
div.ibox > #intent {
	display: block;
}
div.ibox > #intent img {
	margin-right: auto; margin-left: auto; display: block;
}
}
@media screen and (max-width:576px)
{
html {
	font-size: 1em;
}
body #content {
	font-size: 1em;
}
#content select {
	font-size: 1em;
}
div#content section div.content-body [class*='col-'] {
	width: 100%;
}
div#content section div.content-body .table2 .row {
	-ms-overflow-x: auto; -ms-overflow-y: hidden; max-width: 100%;
}
div#content section div.content-body .box .row {
	-ms-overflow-x: auto; -ms-overflow-y: hidden; max-width: 100%;
}
div#content section div.content-body .table-nb .row {
	-ms-overflow-x: auto; -ms-overflow-y: hidden; max-width: 100%;
}
div#content section div.content-body .table2 .row > img {
	
}
div#content section div.content-body .box .row > img {
	
}
div#content section div.content-body .table-nb .row > img {
	
}
}
