<!DOCTYPE html>
<html>
<head>
    <meta name="decorator" content="null" />
    <title>manage | Access Denied</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome/css/font-awesome.css}" rel="stylesheet">
    <link th:href="@{/font-awesome/css/all.min.css}" rel="stylesheet">
    <!--<link th:href="@{/fontawesome-free-6.1.1-web/css/all.min.css}" rel="stylesheet" >-->
    <link th:href="@{/css/animate.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/manager.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/dataTables/datatables.min.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/select2/select2.min.css}" rel="stylesheet">

    <link th:href="@{/css/plugins/jasny/jasny-bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/chosen/bootstrap-chosen.css}" rel="stylesheet">
    <!--<link th:href="@{/css/newstyle.css}" rel="stylesheet">-->
    <link th:href="@{/css/popupManage.css}" rel="stylesheet">
    <link th:href="@{/css/adminstyle.css}" rel="stylesheet">


    <!-- favicon -->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">

    <!-- fontAwesome -->
    <script th:src="@{/font-awesome/js/all.min.js}"></script>

    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/js/jquery_cookie.js}"></script>

    <script th:src="@{/js/plugins/dataTables/datatables.min.js}"></script>

    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>


    <script th:src="@{/js/manage.comn.js}"></script>

    <!-- iCheck -->
    <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

    <!-- Select2 -->
    <script th:src="@{/js/plugins/select2/select2.full.min.js}"></script>

    <!-- Jasny -->
    <script th:src="@{/js/plugins/jasny/jasny-bootstrap.min.js}"></script>
    <!-- Chosen -->
    <script th:src="@{/js/plugins/chosen/chosen.jquery.js}"></script>


    <!-- jquery.serialize-object -->
    <script th:src="@{/js/jquery.serialize-object.js}"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->

    <script type="text/javascript">
        $.ajaxPrefilter(function(options, originalOptions, jqXHR ) {
            options.url = "/manager" + "/" + options.url;
            jqXHR.setRequestHeader("AJAX", "true");
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            if (jqxhr.status == '401') {
                alert("세션이 만료되었습니다.");
                location.href="/manager";
            } else if (jqxhr.status == '500') {
                alert("서버와의 연결이 끊어졌습니다. 서버가 켜져 있고 IP 주소에 도달 할 수 있는지 확인하십시오.");
            } else {
                alert("서버 오류가 발생하였습니다. 관리자에게 문의하세요.");
            }

            console.log("status : " + jqxhr.status + ", statusText : " + jqxhr.statusText);
            console.log("responseText : " + jqxhr.responseText);
            console.log("url : " + settings.url);
            console.log(event);
            console.log(jqxhr);
            console.log(settings);
            console.log(thrownError);
        });

        function fnDoLogout() {
            var cfm = confirm("로그아웃 하시겠습니까?");
            if (cfm) {
                document.logoutForm.submit();
                /* $.ajax({
                    url: "login/logout",
                    type:'POST',
                    cache: false,
                    dataType: "json",
                    async: false,
                    success: function(data) {
                        location.href = "/manager/";
                    },
                    error: function(e) {
                        console.log(e);
                    }
                 }); */
            }
        }
    </script>
    <form id="logoutForm" name="logoutForm" action="/manager/j_logout" method="post">
        <input type="hidden" name="" value="">
    </form>

    <meta name="decorator" content="null" />
    <title>manage | Access Denied</title>
    <script type="text/javascript">
        $(document).ready(function(){
        });
    </script>
</head>

<body class="gray-bg">

<div class="lock-word animated fadeInDown" style="text-align: center; width: 100%; left: 0; margin-left: 0px; z-index: 0;">
    <span>LOCKED SCREEN</span>
</div>
<div class="middle-box text-center lockscreen animated fadeInDown" style="padding-top: 300px;">
    <div>
        <div class="m-b-md">
        </div>
        <h3>Access is denied.</h3>
        <p>403 Error</p>
        <form class="m-t" role="form" action="/admin/login/info">
            <button type="submit" class="btn btn-success block full-width">로그인 페이지로 이동</button>
        </form>
    </div>
</div>

</body>

</html>