<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function(){
            //ajax 준비중입니다.
            fnDoInitAdminList();

            $("#datepicker1").datepicker();
            $("#datepicker2").datepicker();
            $("#datepicker3").datepicker();
            $("#datepicker4").datepicker();
            $("#datepicker5").datepicker();
        });

        //리스트만 불러오기
        function fnDoAdminList(page) {
            var f = document.form1;
            f.page.value = page;
            console.log("test");
            $.ajax({
                url: "operation/admin/listAjax",
                type:'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function() {
                    console.log('error');
                },
                success: function(data) {
                    document.getElementById("listArea").innerHTML = data;
                    wn_setSortTable();
                }
            });
        }

        //액셀 다운
        function fnExcelDownloadAdminList() {

            alert("엑셀다운 테스트");

            // if($("#listLength").val() == "0") {
            //     alert("검색결과 목록이 없습니다.");
            //
            // } else {
            //     var f = document.form1;
            //     $('#nm').val("report");
            //     f.action = "reportExcelList";
            //     f.submit();
            // }

        }

        //수정용
        function fnDoPopupAdminManage(code) {
            console.log(code);
            var params = "seq=" + code;

            if (code) {
                var title = "운영자 확인";
                var desc = "운영자를 확인합니다.";
                var reqUrl = "operation/admin/modifyForm";
            } else {
                var title = "운영자 등록";
                var desc = "운영자를 등록합니다.";
                var reqUrl = "operation/admin/writeForm";
            }

            wn_modalPop({title: title,

                desc: desc,
                width:"800px",
                actUrl: reqUrl,
                cbFunc: fnDoPopupAdminManageCallback}, params);
        }

        function fnDoPopupAdminManageCallback() {

        }

        function fnDoChkAll(chkAll){
            if ($(chkAll).prop("checked")) {
                $("#listTable tbody input[type=checkbox]").prop("checked", true);
            } else {
                $("#listTable tbody input[type=checkbox]").prop("checked", false);
            }
        }

        function fnDoAdminDelete() {
            if ($("#listTable tbody input[type=checkbox]:checked").length < 1) {
                alert("삭제하실 운영자를 선택 해주세요.");
                return;
            }
            var cfm = confirm("선택하신 운영자를 삭제 하시겠습니까?");
            if (cfm) {
                $.ajax({
                    url: "operation/admin/deleteInfo",
                    type:'POST',
                    cache: false,
                    dataType: "json",
                    data: $('#form1').serialize(),
                    async: false,
                    success: function(data) {
                        alert("삭제 되었습니다.");
                        fnDoAdminList(0);
                    },
                    error: function(e) {
                        console.log(e);
                    }
                });
            }
        }

        function fnDoInitAdminList() {
            document.form1.reset();
            fnDoAdminList(0);
        }

        $(document).keyup(function(event) {
            if ($("#searchString").is(":focus") && event.key == "Enter") {
                // Do work
                fnDoAdminList(0);
            }
        });
    </script>

    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">운영자관리</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
        </div>
        <span class="pull-right">
                    <button type="button" class="btn btn-add pull-right"
                            onclick="fnDoPopupAdminManage();">운영자 등록</button>
                    <!--
                    <button type="button" class="btn btn-manage btn-sm pull-right" onclick="fnDoAdminDelete();"
                            style="margin-right: 5px;">
                    <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제"/>&nbsp;삭제
                </button>
                -->
                <!--
                <button type="button" class="btn btn-manage btn-sm pull-right" style="margin-right: 3px;"
                        onclick="fnExcelDownloadAdminList();">
                    <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
                </button>
                -->
	    </span>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <input type="hidden" name="page" id="page" th:value="${adminPaging['page']}"/>
                        <input type="hidden" name="size" id="size" th:value="10"/>
                        <div class="col-12">

                            <div class="pull-right" style="margin-bottom: 6px;">
                                <div id="searchStringBlock" style="float: left;">
                                    <input type="text" id="searchString" name="searchString" maxlength="20" placeholder="Search" class="form-control brdr-rd input-sm inline"  style="margin-right: 0;width:160px; border-bottom-right-radius: 0; border-top-right-radius: 0;">
                                </div>
                                <span class="inline input-group-btn" style="float:left;">
					                <button type="button" class="btn-srch" onclick="fnDoAdminList(0);" th:text="#{common.button.search}" />
						        </span>
                            </div>

                            <select name="searchSelect" id="searchSelect" class="btn-primary term" onchange="document.form1.searchString.value=''" style="margin-right: 0;border-bottom-right-radius: 0; border-top-right-radius: 0; ">
                                <option value="">검색유형선택</option>
                                <option value="searchName" selected="selected">이름</option>
                                <option value="searchId">아이디</option>
                                <option value="searchArea">행정동</option>
                            </select>
                        </div>
                        <div class="row"></div>
                        <div id="listArea">



                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    
</th:block>
</html>