<input type="hidden" id="listLength" th:value="${adminPaging.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <colgroup>
        <col style="width: 1%;"><!-- 체크박스 -->
        <col style="width: 5%;"><!-- 번호 -->
        <col style="width: 14%;"><!-- 관리자 ID  -->
        <col style="width: 10%;"><!-- 관리자명 -->
        <col style="width: 10%;"><!-- 권한 -->
        <col style="width: 10%;"><!-- 슈퍼관리자여부 -->
        <col style="width: 10%;"><!-- 행정동 -->
        <col style="width: 10%;"><!-- 등록일자 -->
        <col style="width: 10%;"><!-- 수정일자 -->
    </colgroup>
    <thead>
    <tr>
        <th class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" onchange="fnDoChkAll(this);">
                <label for=""></label>
            </div>
        </th>
        <th>번호</th>
        <th>관리자 ID</th>
        <th>관리자명</th>
        <th>권한</th>
        <th>슈퍼관리자</th>
        <th>행정동</th>
        <th>등록일자</th>
        <th>수정일자</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->

    <tr th:each="admin, i : ${adminList}">
        <td class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" name="adminSeq" th:id="${'id' + admin.adminSeq}" th:value="${admin.adminSeq}">
                <label th:for="${'id' + admin.adminSeq}"></label>
            </div>
        </td>
        <td th:text="${#numbers.formatInteger(adminPaging.totalSize - (i.count + ((adminPaging.page) * adminPaging.size)) + 1, 0, 'COMMA')}">1 </td>
        <td><a href="javascript:;" th:onclick="fnDoPopupAdminManage([[${admin.adminSeq}]]);"  th:text="${admin.adminId}">admin</a></td>
        <td th:text="${admin.adminName}">관리자</td>
        <td th:text="${admin.permission}">권한</td>
        <td th:text="${admin.superYn}">Y</td>
        <td th:text="${admin.administrativeDivision}">전체</td>
        <td th:text="${#strings.substring(admin.regDt,0,10)}">2022-05-11</td>
        <td th:text="${#strings.substring(admin.modDt,0,10)}">2022-05-11</td>
    </tr>

    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>

<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(adminPaging['page'] / maxPage) * maxPage + 1},
                        end=(${(adminPaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < adminPaging['totalPage'] ? start + (maxPage - 1) : adminPaging['totalPage'])})
    ">
        <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoAdminList('0');">
            <i class="fa fa-angle-double-left"></i></button>

        <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoAdminList([[${start - maxPage}]]);|">
            <i class="fa fa-angle-left"></i></button>
        <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoAdminList(0);">
            <i class="fa fa-angle-left"></i></button>

        <!-- for문 사용 리스스 출력 시작 -->
        <th:block th:each="num : ${#numbers.sequence(start,end)}">
            <button type="button" th:if="${num} == ${adminPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoAdminList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
            <button type="button" th:unless="${num} == ${adminPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoAdminList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
        </th:block>
        <!-- for문 사용 리스스 출력 끝 -->

        <button type="button" th:if="${end < adminPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoAdminList('${start + maxPage}');|">
            <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" th:unless="${end < adminPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoAdminList('${adminPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-right"></i></button>

        <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoAdminList('${adminPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </th:block>
</div>