<input type="hidden" id="listLength" th:value="${reportPaging.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <colgroup>
        <col style="width: 1%;"><!-- 체크박스 -->
        <col style="width: 10%;"><!-- 번호 -->
        <col style="width: 10%;"><!-- 유형  -->
        <th:block th:if="${pageType} == 'C'">
            <col style="width: 20%;"><!-- 내용 50자 -->
        </th:block>
        <th:block th:unless="${pageType} == 'C'">
            <col style="width: 30%;"><!-- 내용 50자 -->
        </th:block>
        <col style="width: 10%;"><!-- 행정구역 -->
        <col style="width: 15%;"><!-- 위치 -->
        <col style="width: 7%;"><!-- 진행 -->
        <th:block th:if="${pageType} == 'C'">
            <col style="width: 10%;"><!-- 마일리지 지급 -->
        </th:block>
        <col style="width: 8%;"><!-- 등록일자 -->
        <col style="width: 8%;"><!-- 처리일자 -->
    </colgroup>
    <thead>
    <tr>
        <th class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" onchange="fnDoChkAll(this);">
                <label for=""></label>
            </div>
        </th>
        <th>접수번호</th>
        <th>쓰레기 유형</th>
        <th>내용</th>
        <th>행정구역</th>
        <th th:text="${pageType} == 'B' ? '밴드명' : '위치'">위치</th>
        <th>처리상황</th>
        <th:block th:if="${pageType} == 'C'">
            <th>마일리지 지급</th>
        </th:block>
        <th>등록일</th>
        <th>처리일</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->
    <tr th:each="report, i : ${reportList}">
        <td class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" name="reportSeq" th:id="${'id' + report.reportSeq}"
                       th:value="${report.reportSeq}">
                <label th:for="${'id' + report.reportSeq}"></label>
            </div>
        </td>
        <td th:text="${(report.receptionNum != null and report.receptionNum != '') ? report.receptionNum : #numbers.formatInteger(reportPaging.totalSize - (i.count + ((reportPaging.page) * reportPaging.size)) + 1, 0, 'COMMA')}">1</td>
        <td><a href="javascript:;" th:onclick="fnDoViewReportManage([[${report.reportSeq}]]);">[[${report.reportTypeName}]]</a>
        </td>
        <td style="text-align: left">
            <a href="javascript:;" th:onclick="fnDoViewReportManage([[${report.reportSeq}]]);"
               th:text="${#strings.length(report.reportContent)} > 30 ? ${#strings.substring(report.reportContent,0,30)}+'...' : ${report.reportContent}">내용</a>
        </td>
        <td th:text="${report.areaName}">소사동</td>
        <td th:text="(${report.reportAddrNew}) != null and (${report.reportAddrNew}) != '' ? ${report.reportAddrNew} : ${report.reportAddrOld}">소사동</td>
        <td th:text="${report.reportStatusName}">접수완료</td>
        <th:block th:if="${pageType} == 'C'">
            <td th:text="${report.ReportPointPaymentName}">마일리지 지급여부</td>
        </th:block>
        <td th:text="${report.regDts}">2022-04-20</td>
        <td th:text="${report.comDts}">2022-04-20</td>
    </tr>

    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>
<button type="button" class="btn btn-add"
        style="background-color: #3363FF; color: #fff; font-size: 14px; height: 32px; margin-top: 10px; "
        onclick="fnDoReportComplete();">완료 처리
</button>

<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(reportPaging['page'] / maxPage) * maxPage + 1},
                        end=(${(reportPaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < reportPaging['totalPage'] ? start + (maxPage - 1) : reportPaging['totalPage'])})
    ">
        <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoReportList('0');">
            <i class="fa fa-angle-double-left"></i></button>

        <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지"
                th:onclick="|javascript:fnDoReportList([[${start - maxPage -1}]]);|">
            <i class="fa fa-angle-left"></i></button>
        <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지"
                onclick="javascript:fnDoReportList(0);">
            <i class="fa fa-angle-left"></i></button>

        <!-- for문 사용 리스스 출력 시작 -->
        <th:block th:each="num : ${#numbers.sequence(start,end)}">
            <button type="button" th:if="${num} == ${reportPaging['page']+1}" th:title="${num}+'페이지'"
                    th:onclick="|javascript:fnDoReportList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]
            </button>
            <button type="button" th:unless="${num} == ${reportPaging['page']+1}" th:title="${num}+'페이지'"
                    th:onclick="|javascript:fnDoReportList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]
            </button>
        </th:block>
        <!-- for문 사용 리스스 출력 끝 -->

        <button type="button" th:if="${end < reportPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지"
                th:onclick="|javascript:fnDoReportList('${start + maxPage -1}');|">
            <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" th:unless="${end < reportPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지"
                th:onclick="|javascript:fnDoReportList('${reportPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-right"></i></button>

        <button type="button" class="btn btn-pageAngle" title="마지막페이지"
                th:onclick="|javascript:fnDoReportList('${reportPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </th:block>
</div>
