<script type="text/javascript">

  function fnDoSaveReport() {
    var f = document.popupForm;
    var formData = $('#popupForm').serialize();

    if (f.reportPointCompleteYn == 'Y'){
      alert("잘못된 경로입니다.");
      return false;
    }

    if (formData.search("reportStatus") == -1 && (f.nowProcess.value != 'C' && f.nowProcess.value != 'R')) {
      alert("진행상황을 선택해 주세요.");
      return false;
    }

    if($("input[name='reportStatus']:checked").val() == 'R' && f.reportStatusRejectReason.value == ''){
      alert("처리불가 사유를 입력해주세요.");
      return false;
    }

    if (formData.search("reportPointCompleteYn") == -1 && f.nowStatus.value == 'C' && f.nowReception.value == 'C') {
      alert("마일리지 지급을 선택해 주세요.");
      return false;
    }

    if($("input[name='reportPointCompleteYn']:checked").val() == 'R' && f.reportPointRejectReason.value == '' && f.nowStatus.value == 'C' && f.nowReception.value == 'C'){
      alert("지급불가 사유를 입력해주세요.");
      return false;
    }

    var reqUrl = "";
    var page = ($('#page').val() != "" || $('#page').val() != null) ? $('#page').val() : 0;

    if (f.flag.value == 'add') {
      reqUrl = "environmental/report/insertInfo";
    } else {
      reqUrl = "environmental/report/updateInfo"
    }
    $.ajax({
      url: reqUrl,
      type: "POST",
      cache: false,
      dataType: "json",
      data: formData,
      async: false,
      success: function (data) {
        alert("저장하였습니다.");
        fnDoReportList(page);
        wn_modalClose();
      },
      error: function (e) {
        console.log(e);
      }
    });
  }

  function fnDoStatusReasonChange(val){
    var nowStatus = document.popupForm.nowStatus.value;

    if(val != 'R') {
      document.popupForm.reportStatusRejectReason.value = '';
      document.popupForm.reportStatusRejectReason.readOnly = true;
    } else {
      document.popupForm.reportStatusRejectReason.readOnly = false;
    }

    if(nowStatus == 'D' && (val == 'C' || val == 'R')){
      if(confirm("처리중 단계를 생략하고 진행하시겠습니까?") == false){
        $("input[name='reportStatus']").eq(0).prop("checked", true);
      }
    }

  }

  function fnDoMileageChange(val){
    if(val != 'R') {
      document.popupForm.reportPointRejectReason.value = '';
      document.popupForm.reportPointRejectReason.readOnly = true;
    } else {
      document.popupForm.reportPointRejectReason.readOnly = false;
    }

    if(val == 'C'){
      document.popupForm.reportPoint.value = document.popupForm.declarationPoint.value;
    } else {
      document.popupForm.reportPoint.value = 0
    }


    // if(reportReception == 'C' && reportPointCompleteYn == 'F'){
    //   $('#reportPoint').val($('#declarationPoint').val());
    // } else {
    //   $('#reportPoint').val(0);
    // }

  }

  /****************************************************************
   fnDoPersonalInfoPopup
   * 개인정보확인 호출 팝업
   isThis ==>> 현재 이벤트 버튼
   ****************************************************************/
  function fnDoPersonalInfoPopup(val) {
    if(confirm("개인정보조회 이력이 남습니다.\n그래도 진행하시겠습니까?")) {

      var params = "seq=" + val + "&pageType=" + $("#nowReception").val();
      wn_modalPop2({
        title: "개인정보확인",
        desc: "개인정보를 확인합니다. 확인 시 내용은 저장됩니다.",
        width: "750px",
        actUrl: "environmental/report/viewPersonalInfo",
        cbFunc: fnDoPersonalInfoPopupCallback
      }, params);

    }
  }

  function fnDoPersonalInfoPopupCallback(params) {
  }



  $(document).ready(function () {
    // $("#datepicker3").datepicker({
    //   dateFormat: "yy-mm-dd"
    // });
  });
</script>
<style>
  .auth-menu {
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
  }

  #addProj {
    font-size: large;
    font-weight: bold;
  }

  #addMenu {
    display: inline;
    margin-right: 10px;
  }

  .viewText {
    font-weight:bold;
    margin-top: 15px;
  }

  .viewTextContent {
    background: #F7F8F9 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 2;
    padding:13px 20px;
  }

  .btn-personal-info{
    clear: both;
    width: 112px;
    height: 48px;
    background: #3363ff 0% 0% no-repeat padding-box;
    border: 0px;
    border-radius: 5px;
    opacity: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    font: normal normal normal 14px/20px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal">
  <th:block th:if="${reportOne.reportSeq} == null or ${reportOne.reportSeq} == ''">
    <input type="hidden" name="flag" id="flag" value="add" />
  </th:block>
  <th:block th:unless="${reportOne.reportSeq} == null or ${reportOne.reportSeq} == ''">
    <input type="hidden" name="flag" id="flag" value="modify" />
    <input type="hidden" name="reportSeq" id="reportSeq" th:value="${reportOne.reportSeq}"/>
    <input type="hidden" name="ci" id="ci" th:value="${reportOne.ci}"/>
    <input type="hidden" name="regUserId" id="regUserId" th:value="${reportOne.regUserId}"/>
    <input type="hidden" name="did" id="did" th:value="${userOne.did}"/>
    <input type="hidden" name="nowPointCompleteYn" id="nowPointCompleteYn" th:value="${reportOne.reportPointCompleteYn}"/>
    <input type="hidden" name="nowStatus" id="nowStatus" th:value="${reportOne.reportStatus}"/>
    <input type="hidden" name="nowReception" id="nowReception" th:value="${reportOne.reportReception}"/>
  </th:block>

  <div class="modal-body p-all-0">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <div class="form-box">
          <div class="viewText">
            접수번호
          </div>
          <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${reportOne.receptionNum}">
            <!-- 접수 작성일 -->
            2022-05-10
          </div>
        </div>

        <div class="form-box">
          <div class="viewText">
            접수일
          </div>
          <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${#strings.substring(reportOne.regDt,0,10)}">
            <!-- 접수 작성일 -->
            2022-05-10
          </div>
        </div>

        <th:block th:if="${reportOne.reportStatus}=='C' or ${reportOne.reportStatus}=='R'">
          <div class="form-box">
            <div class="viewText">
              처리일시
            </div>
            <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${#strings.replace(reportOne.comDt,'T',' ')}">
              <!-- 접수 작성일 -->
              2022-05-10
            </div>
          </div>
        </th:block>

        <div class="form-box">
          <label class="col-5 m-t-s block">쓰레기 유형 선택</label>
          <div class="bk-input p-m">
            <div class="checkbox checkbox-primary checkbox-inline for-sel-chkbox" style="padding: 0">
              <!-- 분류 For문 이용 -->
              <th:blcok th:each="trash, i :${trashList}">
                <span class="checkbox checkbox-primary for-sel-chkbox" style="float: left; min-width: 200px;">
                <input type="radio"
                       th:value="${trash.trashSeq}"
                       checked="checked"
                       name="reportType"
                       th:id="${'reportType' + trash.trashSeq}"
                       th:if="${trash.trashSeq == reportOne.reportType}"
                       disabled="disabled"
                >
                <input type="radio"
                       th:value="${trash.trashSeq}"
                       name="reportType"
                       th:id="${'reportType' + trash.trashSeq}"
                       th:unless="${trash.trashSeq == reportOne.reportType}"
                       disabled="disabled"
                >
                <label th:for="${'reportType' + trash.trashSeq}" th:text="${trash.trashName}">유형이름</label>
              </span>

              </th:blcok>


            </div>
          </div>
        </div>

        <div class="form-box">

          <div class="viewText">
            장소
            <input type="hidden" id="reportLocationX" th:value="${reportOne.reportLocationX}">
            <input type="hidden" id="reportLocationY" th:value="${reportOne.reportLocationY}">
          </div>
          <div class="col-5">
            <div class="col-5 viewTextContent" style="padding: 14px; height: 48px;" th:text="(${reportOne.reportAddrNew} != null and ${reportOne.reportAddrNew} != '') ? ${reportOne.reportAddrNew} : ${reportOne.reportAddrOld}">
              <!-- 주소(신주소 없으면 구주소 보여줌 -->
              경기도 부천시 소사동
            </div>
          </div>
        </div>
        <th:block th:if="${reportOne.reportLocationX} != null and ${reportOne.reportLocationX} != '' and ${reportOne.reportLocationY} != null and ${reportOne.reportLocationY} != ''">
          <div id="map" style="width:300px;height:300px;margin-top:10px;display:block"></div>
        </th:block>
        <th:block th:unless="${reportOne.reportLocationX} != null and ${reportOne.reportLocationX} != '' and ${reportOne.reportLocationY} != null and ${reportOne.reportLocationY} != ''">
          <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>
        </th:block>

        <div class="form-box ">
          <label class="col-5 m-t-s block">접수처</label>
          <div class="col-5 bk-input" style="padding: 14px; height: 48px;">
            <div class="col-5">
              <label for="reportReceptionC" style="float: left; margin-right: 12px; width: 50px;">
                <input type="radio" name="reportReception" id="reportReceptionC" value="C" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportReception} == 'C'" checked="checked" disabled="disabled">
                <input type="radio" name="reportReception" id="reportReceptionC" value="C" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportReception} == 'C'" disabled="disabled">
                챗봇
              </label>
              <label for="reportReceptionB" style="float: left; margin-right: 12px; width: 50px;">
                <input type="radio" name="reportReception" id="reportReceptionB" value="B" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportReception} == 'B'" checked="checked" disabled="disabled">
                <input type="radio" name="reportReception" id="reportReceptionB" value="B" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportReception} == 'B'" disabled="disabled">
                밴드
              </label>
              <label for="reportReceptionP" style="float: left; margin-right: 12px; width: 50px;">
                <input type="radio" name="reportReception" id="reportReceptionP" value="P" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportReception} == 'P'" checked="checked" disabled="disabled">
                <input type="radio" name="reportReception" id="reportReceptionP" value="P" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportReception} == 'P'" disabled="disabled">
                전화
              </label>
              <label for="reportReceptionV" style="margin-right: 12px; width: 50px; ">
                <input type="radio" name="reportReception" id="reportReceptionV" value="V" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportReception} == 'V'" checked="checked" disabled="disabled">
                <input type="radio" name="reportReception" id="reportReceptionV" value="V" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportReception} == 'V'" disabled="disabled">
                방문
              </label>
            </div>
          </div>
        </div>

        <div class="form-box ">
          <label class="col-5 m-t-s block">진행상황</label>

          <div class="col-5 bk-input" style="padding: 14px; height: 48px;">
            <th:block th:if="${reportOne.reportStatus}!='C' and ${reportOne.reportStatus}!='R'">
              <div class="col-5">
                <label for="reportStatusD" style="width: 50px; float: left; margin-right: 12px;">
                  <input type="radio" name="reportStatus" id="reportStatusD" value="D" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportStatus} == 'D'" checked="checked" onclick="fnDoStatusReasonChange(this.value);">
                  <input type="radio" name="reportStatus" id="reportStatusD" value="D" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportStatus} == 'D'" onclick="fnDoStatusReasonChange(this.value);">
                  접수
                </label>
                <label for="reportStatusP" style="float: left; margin-right: 12px;">
                  <input type="radio" name="reportStatus" id="reportStatusP" value="P" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportStatus} == 'P'" checked="checked" onclick="fnDoStatusReasonChange(this.value);">
                  <input type="radio" name="reportStatus" id="reportStatusP" value="P" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportStatus} == 'P'" onclick="fnDoStatusReasonChange(this.value);">
                  처리중
                </label>
                <label for="reportStatusC" style="width: 50px;float: left; margin-right: 12px;">
                  <input type="radio" name="reportStatus" id="reportStatusC" value="C" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportStatus} == 'C'"  checked="checked" onclick="fnDoStatusReasonChange(this.value);">
                  <input type="radio" name="reportStatus" id="reportStatusC" value="C" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportStatus} == 'C'" onclick="fnDoStatusReasonChange(this.value);">
                  완료
                </label>
                <label for="reportStatusR"  style="width: 120px;">
                  <input type="radio" name="reportStatus" id="reportStatusR" value="R" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportStatus} == 'R'"  checked="checked" onclick="fnDoStatusReasonChange(this.value);">
                  <input type="radio" name="reportStatus" id="reportStatusR" value="R" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportStatus} == 'R'" onclick="fnDoStatusReasonChange(this.value);">
                  처리불가
                </label>
              </div>
            </th:block>
            <th:block th:unless="${reportOne.reportStatus}!='C' and ${reportOne.reportStatus}!='R'">
              <div class="col-5">
                <label for="reportStatusD" style="width: 50px; float: left; margin-right: 12px;">
                  <input type="radio" name="reportStatus" id="reportStatusD" value="D" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportStatus} == 'D'" checked="checked" disabled="disabled">
                  <input type="radio" name="reportStatus" id="reportStatusD" value="D" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportStatus} == 'D'" disabled="disabled">
                  접수
                </label>
                <label for="reportStatusP" style="float: left; margin-right: 12px;">
                  <input type="radio" name="reportStatus" id="reportStatusP" value="P" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportStatus} == 'P'" checked="checked" disabled="disabled">
                  <input type="radio" name="reportStatus" id="reportStatusP" value="P" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportStatus} == 'P'" disabled="disabled">
                  처리중
                </label>
                <label for="reportStatusC" style="width: 50px;float: left; margin-right: 12px;">
                  <input type="radio" name="reportStatus" id="reportStatusC" value="C" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportStatus} == 'C'"  checked="checked" disabled="disabled">
                  <input type="radio" name="reportStatus" id="reportStatusC" value="C" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportStatus} == 'C'" disabled="disabled">
                  완료
                </label>
                <label for="reportStatusR"  style="width: 120px;">
                  <input type="radio" name="reportStatus" id="reportStatusR" value="R" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportStatus} == 'R'"  checked="checked" disabled="disabled">
                  <input type="radio" name="reportStatus" id="reportStatusR" value="R" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportStatus} == 'R'" disabled="disabled">
                  처리불가
                </label>
              </div>
            </th:block>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">처리불가 사유</label>
          <div class="col-5">
              <input style="width: 100%" type="text" id="reportStatusRejectReason" name="reportStatusRejectReason" class="col-5 input-control" placeholder="처리불가 사유를 입력하세요." th:value="${reportOne.reportStatusRejectReason}" readonly="readonly">
          </div>
        </div>

        <th:block th:if="${reportOne.reportReception}=='C' and ${reportOne.reportStatus}=='C'" >
          <div class="form-box ">
            <label class="col-5 m-t-s block">마일리지 지급</label>

            <div class="col-5 bk-input" style="padding: 14px; height: 48px;">
              <th:block th:if="${reportOne.reportPointCompleteYn}=='W'">
                <div class="col-5">
                  <label for="reportPointCompleteYnW" style="width: 85px; float: left; margin-right: 12px;">
                    <input type="radio" name="reportPointCompleteYn" id="reportPointCompleteYnW" value="W" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportPointCompleteYn} == 'W'" checked="checked" onclick="fnDoMileageChange(this.value);">
                    <input type="radio" name="reportPointCompleteYn" id="reportPointCompleteYnW" value="W" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportPointCompleteYn} == 'W'" onclick="fnDoMileageChange(this.value);">
                    지급대기
                  </label>
                  <label for="reportPointCompleteYnC" style="width: 85px; float: left; margin-right: 12px;">
                    <input type="radio" name="reportPointCompleteYn" id="reportPointCompleteYnC" value="C" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportPointCompleteYn} == 'C'" checked="checked" onclick="fnDoMileageChange(this.value);">
                    <input type="radio" name="reportPointCompleteYn" id="reportPointCompleteYnC" value="C" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportPointCompleteYn} == 'C'" onclick="fnDoMileageChange(this.value);">
                    지급완료
                  </label>
                  <label for="reportPointCompleteYnR"  style="width: 120px;">
                    <input type="radio" name="reportPointCompleteYn" id="reportPointCompleteYnR" value="R" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportPointCompleteYn} == 'R'"  checked="checked" onclick="fnDoMileageChange(this.value);">
                    <input type="radio" name="reportPointCompleteYn" id="reportPointCompleteYnR" value="R" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportPointCompleteYn} == 'R'" onclick="fnDoMileageChange(this.value);">
                    지급불가
                  </label>
                </div>
              </th:block>
              <th:block th:unless="${reportOne.reportPointCompleteYn}=='W'">
                <div class="col-5">
                  <label for="reportPointCompleteYnW" style="width: 85px; float: left; margin-right: 12px;">
                    <input type="radio" name="reportPointCompleteYn" id="reportPointCompleteYnW" value="W" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportPointCompleteYn} == 'W'" checked="checked" disabled="disabled">
                    <input type="radio" name="reportPointCompleteYn" id="reportPointCompleteYnW" value="W" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportPointCompleteYn} == 'W'" disabled="disabled">
                    지급대기
                  </label>
                  <label for="reportPointCompleteYnC" style="width: 85px; float: left; margin-right: 12px;">
                    <input type="radio" name="reportPointCompleteYn" id="reportPointCompleteYnC" value="C" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportPointCompleteYn} == 'C'" checked="checked" disabled="disabled">
                    <input type="radio" name="reportPointCompleteYn" id="reportPointCompleteYnC" value="C" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportPointCompleteYn} == 'C'" disabled="disabled">
                    지급완료
                  </label>
                  <label for="reportPointCompleteYnR"  style="width: 120px;">
                    <input type="radio" name="reportPointCompleteYn" id="reportPointCompleteYnR" value="R" class="m-r-m" style="margin-right: 4px;" th:if="${reportOne.reportPointCompleteYn} == 'R'"  checked="checked" disabled="disabled">
                    <input type="radio" name="reportPointCompleteYn" id="reportPointCompleteYnR" value="R" class="m-r-m" style="margin-right: 4px;" th:unless="${reportOne.reportPointCompleteYn} == 'R'" disabled="disabled">
                    지급불가
                  </label>
                </div>
              </th:block>
            </div>
          </div>

          <!-- 챗봇만 보임 -->
          <div class="form-box">
            <label class="col-5 label-title m-t-s" th:text="${reportOne.reportPointCompleteYn}=='W' ? '지급 마일리지' : '지급된 마일리지'"></label>
            <div class="col-5">
              <input type="hidden" name="declarationPoint" id="declarationPoint" th:value="${declarationPoint}">
              <input style="width: 100%" type="text" id="reportPoint" name="reportPoint" class="col-5 input-control" placeholder="지급 마일리지입니다." th:value="(${reportOne.reportPoint} == null or ${reportOne.reportPoint} == '') ? 0 : ${reportOne.reportPoint}" readonly="readonly">
            </div>
          </div>

          <div class="form-box">
            <label class="col-5 label-title m-t-s">지급불가 사유</label>
            <div class="col-5">
              <input style="width: 100%" type="text" id="reportPointRejectReason" name="reportPointRejectReason" class="col-5 input-control" placeholder="지급불가 사유를 입력하세요." th:value="${reportOne.reportPointRejectReason}" readonly="readonly">
            </div>
          </div>
        </th:block>


        <div class="form-box">
          <div class="viewText">
            접수자명
          </div>
          <div class="col-4 viewTextContent" style="padding: 14px; float:left;">
            <!-- 접수자 -->
            <th:block th:if="${userOne.did} != null and ${userOne.did} != ''">
              [[${reportOne.reportUserName}]] (인증됨)
            </th:block>
            <th:block th:unless="${userOne.did} != null and ${userOne.did} != ''">
              [[${reportOne.reportUserName}]] (인증안됨)
            </th:block>
          </div>
          <button type="button" class="btn-srch btn-personal-info" th:onclick="fnDoPersonalInfoPopup([[${reportOne.reportSeq}]]);"
                  th:text="'개인정보확인'" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"/>
        </div>

        <div class="form-box">
          <div class="viewText">
            접수자 연락처
          </div>
          <div style="padding: 14px; height: 48px; float:left;" class="col-4 viewTextContent" th:text="${reportOne.reportUserPhone}">
            <!-- 접수자 연락처 -->
            010-2356-6545
          </div>
          <button type="button" class="btn-srch btn-personal-info" th:onclick="fnDoPersonalInfoPopup([[${reportOne.reportSeq}]]);"
                  th:text="'개인정보확인'" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"/>
        </div>

        <div class="form-box">
          <div class="viewText">
            접수자 Email
          </div>
          <div style="padding: 14px; height: 48px; float:left;" class="col-4 viewTextContent" th:text="${reportOne.reportUserEmail}">
            <!-- 접수자 Email -->
            정병철@naver.com
          </div>
          <button type="button" class="btn-srch btn-personal-info" th:onclick="fnDoPersonalInfoPopup([[${reportOne.reportSeq}]]);"
                                            th:text="'개인정보확인'" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"/>
        </div>

        <div class="item14 ">
          <label class="col-5 m-t-s block">사진</label>
          <div class="chatImgs" th:if="${reportOne.reportImgs} != null and ${reportOne.reportImgs} != ''">
            <th:block th:each="reportImg : ${reportOne.reportImgs}">
              <div>
                <img th:src="${reportImg}" width="45%" style="float: left; margin: 2.5%;" alt="">
              </div>
            </th:block>
          </div>
        </div>

        <div id="responseBox_0" class="responseBox" style="">
          <div class="responseList_0 bk-input p-m p-b-m" id="content_st_0" style="">
            <div class="form-box col-5"><label class="col-1 m-r-m block">내용</label></div>
            <div class="col-5" th:text="${reportOne.reportContent}">
              <p>내용입니다!!!!!!!</p>
              <p>내용입니다!!!!!!!</p>
              <p>내용입니다!!!!!!!</p>
              <p>내용입니다!!!!!!!</p>
            </div>
          </div>
        </div>

        <div id="responseBox_1" class="responseBox" style="margin-top: 20px;">
          <div class="responseList_0 bk-input p-m p-b-m" id="content_st_1" style="">
            <div class="form-box col-5"><label class="col-1 m-r-m block">이력보기</label></div>
            <div class="col-5">
              <th:block th:each="reportLog, ii : ${reportLogList}">
                <p th:text="'[' + ${#strings.replace(reportLog.logTime,'T',' ')} + '] ' + ${reportLog.msg}">[내용입니다!!!!!!!]</p>
              </th:block>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
    <th:block th:if="${reportOne.reportReception} == 'C' and (${reportOne.reportPointCompleteYn} != 'C' and ${reportOne.reportPointCompleteYn} != 'R')">
        <button type="button" class="btn btn-submit" onclick="fnDoSaveReport();" th:text="#{common.button.save}">저장</button>
    </th:block>
    <th:block th:if="${reportOne.reportReception} != 'C' and (${reportOne.reportStatus} != 'C' and ${reportOne.reportStatus} != 'R')">
      <button type="button" class="btn btn-submit" onclick="fnDoSaveReport();" th:text="#{common.button.save}">저장</button>
    </th:block>
  </div>

  <script>

    $(document).ready(function () {
      var x = document.getElementById("reportLocationX").value; // 좌표 넣기`
      var y = document.getElementById("reportLocationY").value; // 좌표 넣기`

      viewGeo(x,y);
    });

    function viewGeo(x,y) {
      if (x != null && y != null) {

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                  center: new daum.maps.LatLng(y, x), // 지도의 중심좌표
                  level: 5 // 지도의 확대 레벨
                };

        //지도를 미리 생성
        var map = new daum.maps.Map(mapContainer, mapOption);
        //주소-좌표 변환 객체를 생성
        var geocoder = new daum.maps.services.Geocoder();
        //마커를 미리 생성
        var marker = new daum.maps.Marker({
          position: new daum.maps.LatLng(y, x),
          map: map
        });
      }
    }

  </script>
</form>