<script type="text/javascript">

  function fnDoSaveReport2() {
    var f = document.popupForm;
    var formData = $('#popupForm').serialize();
    var form = $('#popupForm')[0];
    var formData2 = new FormData(form);


    if (formData.search("reportType") == -1) {
      alert("쓰레기 유형을 선택해 주세요.");
      return false;
    }
    if (f.reportAddrNew.value == '') {
      alert("장소를 입력해주세요.");
      return false;
    }
    // if (formData.search("reportStatus") == -1) {
    //   alert("진행상황을 선택해 주세요.");
    //   return false;
    // }
    if (f.reportContent.value == '') {
      alert("내용을 입력해주세요.");
      return false;
    }

    var reqUrl = "";
    var page = ($('#page').val() != "" || $('#page').val() != null) ? $('#page').val() : 0;

    if (f.flag.value == 'add') {
      reqUrl = "environmental/report/insertInfo";
    } else {
      reqUrl = "environmental/report/updateInfo"
    }

    $.ajax({
      url: reqUrl,
      type: "POST",
      cache: false,
      dataType: "json",
      data: formData2,
      processData: false,
      contentType: false,
      async: false,
      success: function (data) {
          alert("저장하였습니다.");
          fnDoReportList(page);
          wn_modalClose();
      },
      error: function (e) {
          console.log(e);
      }
    });

  }



  $(document).ready(function () {
    $("#datepicker3").datepicker({
      dateFormat: "yy-mm-dd"
    });
  });
</script>

<style>
  .auth-menu {
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
  }

  #addProj {
    font-size: large;
    font-weight: bold;
  }

  #addMenu {
    display: inline;
    margin-right: 10px;
  }

  .viewText {
    font-weight:bold;
    margin-top: 15px;
  }

  .viewTextContent {
    background: #F7F8F9 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 2;
    padding:13px 20px;
  }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal">
    <input type="hidden" name="flag" id="flag" value="add" />

  <div class="modal-body p-all-0">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

       <div class="form-box">
          <label class="col-5 m-t-s block">쓰레기 유형 선택</label>
          <div class="bk-input p-m">
            <div class="checkbox checkbox-primary checkbox-inline for-sel-chkbox" style="padding-top: 0;">
              <!-- 분류 For문 이용 -->
              <th:blcok th:each="trash, i :${trashList}">
                <span class="checkbox checkbox-primary for-sel-chkbox" style="float: left; min-width: 200px;">
                <input type="radio"
                       th:value="${trash.trashSeq}"
                       name="reportType"
                       th:id="${'reportType' + trash.trashSeq}"
                >
                <label th:for="${'reportType' + trash.trashSeq}" th:text="${trash.trashName}">유형이름</label>
              </span>

              </th:blcok>


            </div>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">장소</label>
          <div class="col-5">
              <input type="hidden" name="reportLocationX" id="reportLocationX" value="">
              <input type="hidden" name="reportLocationY" id="reportLocationY" value="">
              <input type="hidden" name="reportAddrOld" id="reportAddrOld" value="">
              <input type="hidden" name="bname" id="bname" value="">
              <input type="hidden" name="reportReception" id="reportReception" th:value="${pageType}">
              <input type="text" name="reportAddrNew" id="reportAddrNew" class="col-5 input-control" placeholder="장소를 입력하세요" value="">
          </div>
        </div>

          <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">접수자명</label>
          <div class="col-5">
            <input type="text" id="reportUserName" name="reportUserName" class="col-5 input-control" placeholder="접수자명을 입력하세요">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">접수자 연락처</label>
          <div class="col-5">
            <input type="text" id="reportUserPhone" name="reportUserPhone" class="col-5 input-control" placeholder="접수자 연락처를 입력하세요">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">접수자 Email</label>
          <div class="col-5">
            <input type="text" id="reportUserEmail" name="reportUserEmail" class="col-5 input-control" placeholder="접수자 Email을 입력하세요" value="">
          </div>
        </div>

        <div id="responseBox_0" class="responseBox" style="margin-top: 10px">
          <div class="responseList_0 bk-input p-m p-b-m" id="content_st_0" style="">
            <div class="form-box col-5"><label class="col-1 m-r-m block">내용</label></div>
            <div class="col-5">
              <textarea rows="3" cols="" name="reportContent" id="reportContent" class="col-5 input-control-white"></textarea>
            </div>
          </div>
        </div>

          <div class="form-box">
              <label class="col-5 label-title m-t-s">사진</label>
              <div class="col-5">
                  <input  style="padding: 14px; height: 48px; width: 100%" type="file" name="uploadfile" id="uploadfile" class="col-5 input-control" placeholder="사진을 등록하세요">
              </div>
          </div>

      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
    <button type="button" class="btn btn-submit" onclick="fnDoSaveReport2();" th:text="#{common.button.save}">
      저장</button>
  </div>

    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
                level: 5 // 지도의 확대 레벨
            };

        //지도를 미리 생성
        var map = new daum.maps.Map(mapContainer, mapOption);
        //주소-좌표 변환 객체를 생성
        var geocoder = new daum.maps.services.Geocoder();
        //마커를 미리 생성
        var marker = new daum.maps.Marker({
            position: new daum.maps.LatLng(37.537187, 127.005476),
            map: map
        });

        document.getElementById("reportAddrNew").addEventListener("click", function(){
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                    // 예제를 참고하여 다양한 활용법을 확인해 보세요.
                    document.getElementById("reportAddrNew").value = data.address; // 주소 넣기`
                    document.getElementById("reportAddrOld").value = data.jibunAddress; // 주소 넣기`
                    document.getElementById("bname").value = data.bname;

                    // 주소로 상세 정보를 검색
                    geocoder.addressSearch(data.address, function(results, status) {
                        // 정상적으로 검색이 완료됐으면
                        if (status === daum.maps.services.Status.OK) {

                            var result = results[0]; //첫번째 결과의 값을 활용

                            // 해당 주소에 대한 좌표를 받아서
                            var coords = new daum.maps.LatLng(result.y, result.x);

                            document.getElementById("reportLocationX").value = result.x; // 좌표 넣기`
                            document.getElementById("reportLocationY").value = result.y; // 좌표 넣기`

                            // 지도를 보여준다.
                            mapContainer.style.display = "block";
                            map.relayout();
                            // 지도 중심을 변경한다.
                            map.setCenter(coords);
                            // 마커를 결과값으로 받은 위치로 옮긴다.
                            marker.setPosition(coords)
                        }
                    });
                }
            }).open();
        });
    </script>
</form>