<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function(){

        });

        function fnDoDamdangChage(val1, val2) {

            var formData = {"dong" : val1, "damdang" : val2};

            var reqUrl = "operation/damdang/updateInfo"
            $.ajax({
                url: reqUrl,
                type: "POST",
                cache: false,
                dataType: "json",
                data: formData,
                async: false,
                success: function (data) {
                    alert("저장하였습니다.");

                },
                error: function (e) {
                    console.log(e);
                }
            });
        }


    </script>

    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">밴드 고정 담당자 지정관리</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
        </div>
        <span class="pull-right">
                    <!--
                    <button type="button" class="btn btn-add pull-right"
                            onclick="fnDoPopupAdminManage();">운영자 등록</button>
                    -->
                    <!--
                    <button type="button" class="btn btn-manage btn-sm pull-right" onclick="fnDoAdminDelete();"
                            style="margin-right: 5px;">
                    <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제"/>&nbsp;삭제
                </button>
                -->
                <!--
                <button type="button" class="btn btn-manage btn-sm pull-right" style="margin-right: 3px;"
                        onclick="fnExcelDownloadAdminList();">
                    <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
                </button>
                -->
	    </span>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <div style="font-size: 16px; padding-bottom: 12px; color: #222222; font-weight: bold;">
                            챗봇을 통해서 들어오는 불편사항 담당자를 지정합니다.
                        </div>
                        <div>
                            <p style="padding-left: 10px; color:#222222;">- 챗봇을 통해서 들어오는 불편사항은 5분 후 자동 처리 중으로 변경됩니다.</p>
                            <p style="padding-left: 10px; color:#222222;">- 처리중으로 변경 시 지정되는 담당자를 지정하는 페이지입니다.</p>
                            <p style="padding-left: 10px; color:#222;">- 등록 시 바로 적용되는점 유의바랍니다.</p>
                        </div>
                        <div style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; margin-top: 32px; ">
                            <th:block th:each="damdang , i : ${damdangList}">
                                <div style="display: flex; align-items: center; height: 52px; border-bottom: 1px solid #ccc;">
                                    <p style="background-color: #DCDDE0; width: 238px; height: 100%; text-align: center; line-height: 52px; margin: 0; font-weight: bold" th:text="${damdang.dong}">동이름</p>

                                    <div style="display: flex; margin-left: 40px; align-items: center; height: 52px;">
                                        <select class="btn-primary term" th:onchange="fnDoDamdangChage([[${damdang.dong}]],this.value);" style="margin-right: 0;">
                                            <th:block th:each="admin , ii : ${adminList}">
                                                <th:block th:if="${damdang.damdang} == ${admin.adminSeq}">
                                                    <option th:value="${admin.adminSeq}" th:text="${admin.adminName}" selected="selected">이름</option>
                                                </th:block>
                                                <th:block th:unless="${damdang.damdang} == ${admin.adminSeq}">
                                                    <option th:value="${admin.adminSeq}" th:text="${admin.adminName}">이름</option>
                                                </th:block>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div class="row"></div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    
</th:block>
</html>