<script type="text/javascript" xmlns:th="http://www.w3.org/1999/html">

  //클릭 시 저장
  function fnDoAddSavePoint(){

    if(confirm("추가 지급 시 기록에 남습니다. 그래도 지급하시겠습니까?") != true){
      return false;
    }

    var f = document.popupForm;
    var formData = $('#popupForm').serialize();

    if(f.addPoint.value == ''){
      alert("지급할 마일리지를 입력해주세요.");
      return false;
    }

    if(f.reasonPoint.value == ''){
      alert("지급할 이유를 입력해주세요.");
      return false;
    }

    var reqUrl = "operation/user/addMilege";

    $.ajax({
      url: reqUrl,
      type: "POST",
      cache: false,
      dataType: "json",
      data: formData,
      async: false,
      success: function (data) {

        var oriPoint = f.oriPoint.value;
        var addPoint = f.addPoint.value;
        var sum = parseInt(oriPoint)+parseInt(addPoint);

        //초기화
        $('#pointAddDiv').hide();
        f.addPoint.value = '';
        f.reasonPoint.value = '';

        f.oriPoint.value = sum;
        $('#oriPointText').text(sum);

        alert("저장하였습니다.");

      },
      error: function (e) {
        console.log(e);
      }
    });

  }

  /****************************************************************
   fnDoPersonalInfoPopup
   * 개인정보확인 호출 팝업
   isThis ==>> 현재 이벤트 버튼
   ****************************************************************/
  function fnDoPersonalInfoPopup(val) {
    if(confirm("개인정보조회 이력이 남습니다.\n그래도 진행하시겠습니까?")) {

      var params = "did=" + val;
      wn_modalPop2({
        title: "개인정보확인",
        desc: "개인정보를 확인합니다. 확인 시 내용은 저장됩니다.",
        width: "750px",
        actUrl: "operation/user/viewPersonalInfo",
        cbFunc: fnDoPersonalInfoPopupCallback
      }, params);

    }
  }

  function fnDoPersonalInfoPopupCallback(params) {
  }

  $(document).ready(function () {
  });

  function fnDoAddPoint(){
    $('#pointAddDiv').show();
  }
</script>
<style>
  .auth-menu {
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
  }

  #addProj {
    font-size: large;
    font-weight: bold;
  }

  #addAdmin {
    display: inline;
    margin-right: 10px;
  }

  .necessary {
    color : #c93b31;
  }

  .viewText {
    font-weight:bold;
    margin-top: 15px;
  }

  .viewTextContent {
    background: #F7F8F9 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 2;
    padding:13px 20px;
  }

  .btn-personal-info{
    clear: both;
    width: 112px;
    height: 48px;
    background: #3363ff 0% 0% no-repeat padding-box;
    border: 0px;
    border-radius: 5px;
    opacity: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    font: normal normal normal 14px/20px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal">
  <th:block th:if="${userOne.did} == null or ${userOne.did} == ''">
    <input type="hidden" name="flag" id="flag"  value="add" />
  </th:block>
  <th:block th:unless="${userOne.did} == ''">
    <input type="hidden" name="flag" id="flag" value="modify" />
    <input type="hidden" name="did" id="did" th:value="${userOne.did}"/>
  </th:block>

  <div class="modal-body p-all-0">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <div class="form-box">
          <div class="viewText">
            이름
          </div>
          <div style="padding: 14px; height: 48px; float:left;" class="col-4 viewTextContent">
            <!-- 이름 / 생년월일 -->
            [[${userOne.name}]]
          </div>
          <button type="button" class="btn-srch btn-personal-info" th:onclick="fnDoPersonalInfoPopup([[${userOne.did}]]);"
                  th:text="'개인정보확인'" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"/>
        </div>

        <div class="form-box">
          <div class="viewText">
            아이디
          </div>
          <div style="padding: 14px; height: 48px; float:left;" class="col-4 viewTextContent" th:text="${userOne.did}">
            <!-- 아이디 -->
          </div>
          <button type="button" class="btn-srch btn-personal-info" th:onclick="fnDoPersonalInfoPopup([[${userOne.did}]]);"
                  th:text="'개인정보확인'" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"/>
        </div>

        <div class="form-box">
          <div class="viewText">
            휴대전화
          </div>
          <div style="padding: 14px; height: 48px; float:left;" class="col-4 viewTextContent" th:text="${userOne.phone}">
            <!-- 이름 -->
          </div>
          <button type="button" class="btn-srch btn-personal-info" th:onclick="fnDoPersonalInfoPopup([[${userOne.did}]]);"
                  th:text="'개인정보확인'" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"/>
        </div>

        <div class="form-box">
          <div class="viewText">
            이메일
          </div>
          <div style="padding: 14px; height: 48px; float:left;" class="col-4 viewTextContent" th:text="${userOne.email}">
            <!-- 이름 -->
          </div>
          <button type="button" class="btn-srch btn-personal-info" th:onclick="fnDoPersonalInfoPopup([[${userOne.did}]]);"
                  th:text="'개인정보확인'" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"/>
        </div>

        <div class="form-box">
          <div class="viewText">
            현재 마일리지
          </div>
          <div class="col-5 viewTextContent">
            <input style="padding: 14px; height: 48px;" type="hidden" id="oriPoint" name="oriPoint" th:value="${um.mileageSum}">
            <span id="oriPointText" style="display: inline-block;" th:text="${um.mileageSum}"></span>
<!--            <button type="button" class="btn btn-white" style="margin-left: 20px;" onclick="fnDoAddPoint()">마일리지 추가 지급</button>-->
            <!-- 이름 -->
          </div>

          <div class="col-5" id="pointAddDiv" style="display: none; padding-top: 20px; padding-bottom: 30px;">
            <p>
              <input style="width: 100%" type="text" id="addPoint" name="addPoint" class="col-5 input-control" placeholder="지급할 마일리지를 입력하세요" value="">
            </p>
            <p>
              <input style="width: 100%" type="text" id="reasonPoint" name="reasonPoint" class="col-5 input-control" placeholder="마일리지를 추가로 지급하는 사유를 입력하세요" value="">
            </p>
            <p>
              <button type="button" class="btn btn-add pull-right" onclick="fnDoAddSavePoint()">마일리지 추가</button>
            </p>
          </div>
        </div>

        <div class="form-box">
          <div class="viewText">
            최근 마일리지 적립내역
          </div>
          <div class="col-5 viewTextContent"  style="padding: 14px;">
            <th:block th:if="${umhList.size()} != 0">
              <th:block th:each="umh, i : ${umhList}">
                <p>
                    <span style="display: inline-block; padding-right: 20px;">&#91;[[${#strings.replace(umh.sendDate, "T", " ")}]]&#93;</span>
                    <span style="display: inline-block; padding-right: 20px;">[[${umh.reason}]]</span>
                    <span th:if="${umh.mileage} > 0" style="display: inline-block; padding-right: 20px; color: #0a4d85;">(+[[${umh.mileage}]])</span>
                    <span th:unless="${umh.mileage} > 0" style="display: inline-block; padding-right: 20px; color: #c93b31;">([[${umh.mileage}]])</span>
                </p>
              </th:block>
            </th:block>
            <th:block th:unless="${umhList.size()} != 0">
              적립된 마일리지가 없습니다.
            </th:block>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
  </div>
</form>