<input type="hidden" id="listLength" value="${userPaging.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <colgroup>
        <col style="width: 1%;"><!-- 체크박스 -->
        <col style="width: 5%;"><!-- 번호 -->
        <col style="width: 20%;"><!-- 이름  -->
        <col style="width: 20%;"><!-- 휴대전화 -->
        <col style="width: 20%;"><!-- 이메일 -->
        <col style="width: 20%;"><!-- 가입일자 -->
    </colgroup>
    <thead>
    <tr>
        <th class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" onchange="fnDoChkAll(this);">
                <label for=""></label>
            </div>
        </th>
        <th>번호</th>
        <th>이름</th>
        <th>휴대전화</th>
        <th>이메일</th>
        <th>가입일자</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->

    <tr th:each="user, i : ${userList}">
        <td class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" name="did" th:id="${'did' + user.did}" th:value="${user.did}">
                <label th:for="${'did' + user.did}"></label>
            </div>
        </td>
        <td th:text="${#numbers.formatInteger(userPaging.totalSize - (i.count + ((userPaging.page) * userPaging.size)) + 1, 0, 'COMMA')}">1 </td>
        <td><a href="javascript:;" th:onclick="fnDoPopupUserManage([[${user.did}]]);"  th:text="${user.name}">관리자</a></td>
        <td th:text="${user.phone}">010-1111-2222</td>
        <td th:text="${user.email}">이메일</td>
        <td th:text="${#strings.substring(user.createDate,0,10)}">2022-05-11</td>
    </tr>


    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>


<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(userPaging['page'] / maxPage) * maxPage + 1},
                        end=(${(userPaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < userPaging['totalPage'] ? start + (maxPage - 1) : userPaging['totalPage'])})
    ">
        <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoUserList('0');">
            <i class="fa fa-angle-double-left"></i></button>

        <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoUserList([[${start - maxPage -1}]]);|">
            <i class="fa fa-angle-left"></i></button>
        <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoUserList(0);">
            <i class="fa fa-angle-left"></i></button>

        <!-- for문 사용 리스스 출력 시작 -->
        <th:block th:each="num : ${#numbers.sequence(start,end)}">
            <button type="button" th:if="${num} == ${userPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoUserList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
            <button type="button" th:unless="${num} == ${userPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoUserList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
        </th:block>
        <!-- for문 사용 리스스 출력 끝 -->

        <button type="button" th:if="${end < userPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoUserList('${start + maxPage -1}');|">
            <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" th:unless="${end < userPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoUserList('${userPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-right"></i></button>

        <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoUserList('${userPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </th:block>
</div>