
<div class="title">
    <span class="font-size-16 bold font-color" style="font-size: 16px !important;">접수 현황</span>
</div>

<div class="boxes">
    <div class="box">
        <p>전체 건수</p>
        <span>1234건</span>
    </div>
    <div class="box">
        <p>처리건수(건/비율)</p>
        <span>1232건/98%</span>
    </div>
    <div class="box">
        <p>미처리건수(건/비율)</p>
        <span>2건/2%</span>
    </div>
</div>

<hr />

<div class="title">
    <span class="font-size-16 bold font-color" style="font-size: 16px !important;">민원 현황</span>
</div>

<div class="boxes">
    <div class="box">
        <p>전체 건수</p>
        <span>1234건</span>
    </div>
    <div class="box">
        <p>처리건수(건/비율)</p>
        <span>1232건/98%</span>
    </div>
    <div class="box">
        <p>미처리건수(건/비율)</p>
        <span>2건/2%</span>
    </div>
</div>

<hr />

<div class="title">
    <span class="font-size-16 bold font-color" style="font-size: 16px !important;">알림톡 현황</span>
</div>

<div class="boxes">
    <div class="box">
        <p>전체 건수</p>
        <span>1234건</span>
    </div>
    <div class="box">
        <p>발송 성공(건/비율)</p>
        <span>1232건/98%</span>
    </div>
    <div class="box">
        <p>발송 실패(건/비율)</p>
        <span>2건/2%</span>
    </div>
    <div class="box">
        <p>알림톡(건/비율)</p>
        <span>1200건/95%</span>
    </div>
    <div class="box">
        <p>문자(건/비율)</p>
        <span>34건/5%</span>
    </div>
</div>

<hr />