<script type="text/javascript">

  function fnDoSavePoint() {
    var f = document.popupForm;
    var formData = $('#popupForm').serialize();
    var form = $('#popupForm')[0];
    var formData2 = new FormData(form);

    if (f.trashName.value == '') {
      alert("항목명을 입력해주세요.");
      return false;
    }

    if (f.declarationMileage.value == '') {
      alert("접수마일리지를 입력해주세요.");
      return false;
    }

    if (f.processMileage.value == '') {
      alert("처리마일리지를 입력해주세요.");
      return false;
    }

    if (f.uploadfile.value == '' && f.iconUrl.value == '') {
      alert("아이콘 첨부파일을 등록해주세요.");
      return false;
    }

    if (formData.search("useYn") == -1) {
      alert("사용여부을 선택해 주세요.");
      return false;
    }

    var page = ($('#page').val() != "" || $('#page').val() != null) ? $('#page').val() : 0;
    var reqUrl = "";
    if (f.flag.value == 'add') {
      reqUrl = "operation/point/insertInfo";
    } else {
      reqUrl = "operation/point/updateInfo"
    }
    $.ajax({
      url: reqUrl,
      type: "POST",
      cache: false,
      dataType: "json",
      data: formData2,
      processData: false,
      contentType: false,
      async: false,
      success: function (data) {
        alert("저장하였습니다.");
        fnDoPointList(page);
        wn_modalClose();
      },
      error: function (e) {
        console.log(e);
      }
    });
  }

  function fnDoCheckAllType(obj) {
    if ($(obj).prop("checked")) {
      $(".for-sel-chkbox input[type=checkbox]", document.popupForm).prop("checked", true);
    } else {
      $(".for-sel-chkbox input[type=checkbox]", document.popupForm).prop("checked", false);
    }
  }

  function fnDoselectSubPointCheck(data, checkBool) {
    $.each(data, function (index, value) {
      $(".for-sel-chkbox input[type=checkbox][pointId=" + value + "]", document.popupForm).prop(
              "checked", checkBool);
    });
  }

  $(document).ready(function () {
  });
</script>
<style>
  .auth-menu {
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
  }

  #addProj {
    font-size: large;
    font-weight: bold;
  }

  #addPoint {
    display: inline;
    margin-right: 10px;
  }

  .necessary {
    color : #c93b31;
  }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal">
  <th:block th:if="${ttuVo.trashSeq} == null or ${ttuVo.trashSeq} == ''">
    <input type="hidden" name="flag"  value="add" />
  </th:block>
  <th:block th:unless="${ttuVo.trashSeq} == null or ${ttuVo.trashSeq} == ''">
    <input type="hidden" name="flag" value="modify" />
    <input type="hidden" name="trashSeq" th:value="${ttuVo.trashSeq}"/>
  </th:block>

  <div class="modal-body p-all-0">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <div class="form-box">
          <label class="col-5 label-title m-t-s">유형명</label>
          <div class="col-5">
            <input style="width: 100%;" type="text" name="trashName" id="trashName" class="col-5 input-control" placeholder="유형명을 입력하세요" th:value="${ttuVo.trashName}">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">접수마일리지 (숫자만 입력)</label>
          <div class="col-5">
            <input style="width: 100%;" type="text" name="declarationMileage" id="declarationMileage" class="col-5 input-control" placeholder="접수 마일리지를 입력하세요" th:value="${ttuVo.declarationMileage}" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">처리마일리지 (숫자만 입력)</label>
          <div class="col-5">
            <input style="width: 100%;" type="text" name="processMileage" id="processMileage" class="col-5 input-control" placeholder="처리 마일리지를 입력하세요" th:value="${ttuVo.processMileage}" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">아이콘 (사이즈 100x100 투명 PNG 파일로 올려주세요)</label>
          <div style="width: 100%;" class="col-5">
            <input style="width: 100%; padding: 14px;" type="file" name="uploadfile" id="uploadfile" class="col-5 input-control" placeholder="아이콘을 등록하세요">
            <input type="hidden" name="iconUrl" id="iconUrl" th:value="${ttuVo.iconUrl}">
          </div>
          <th:block th:if="${ttuVo.iconUrl} != '' and ${ttuVo.iconUrl} != null">
            <div><img th:src="${ttuVo.iconUrl}" width="100px" /></div>
          </th:block>
        </div>

        <div class="form-box ">
          <label class="col-5 m-t-s block">사용여부</label>
          <div class="col-5 bk-input" style="height: 48px; padding: 14px;">
            <div class="col-5">
              <label for="useYnY" style="width: 50px; float: left; margin-right: 12px;">
                <input type="radio" name="useYn" id="useYnY" value="Y" class="m-r-m" style="margin-right: 4px;" th:if="${ttuVo.useYn} == 'Y'" checked="checked">
                <input type="radio" name="useYn" id="useYnY" value="Y" class="m-r-m" style="margin-right: 4px;" th:unless="${ttuVo.useYn} == 'Y'">
                예
              </label>
              <label for="useYnN" style="width: 70px;">
                <input type="radio" name="useYn" id="useYnN" value="N" style="margin-right: 4px;"  th:if="${ttuVo.useYn} != 'Y'" checked="checked">
                <input type="radio" name="useYn" id="useYnN" value="N" style="margin-right: 4px;"  th:unless="${ttuVo.useYn} != 'Y'">
                아니오
              </label>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
    <button type="button" class="btn btn-submit" onclick="fnDoSavePoint();" th:text="#{common.button.save}">
      저장</button>
  </div>
</form>