<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function(){
            //ajax 준비중입니다.
            fnDoInitPointList();

            $("#datepicker1").datepicker();
            $("#datepicker2").datepicker();
            $("#datepicker3").datepicker();
            $("#datepicker4").datepicker();
            $("#datepicker5").datepicker();
        });

        //리스트만 불러오기
        function fnDoPointList(page) {
            var f = document.form1;
            f.page.value = page;
            console.log("test");
            $.ajax({
                url: "operation/point/listAjax",
                type:'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function() {
                    console.log('error');
                },
                success: function(data) {
                    document.getElementById("listArea").innerHTML = data;
                    wn_setSortTable();
                }
            });
        }

        //액셀 다운
        function fnExcelDownloadPointList() {

            alert("엑셀다운 테스트");

            // if($("#listLength").val() == "0") {
            //     alert("검색결과 목록이 없습니다.");
            //
            // } else {
            //     var f = document.form1;
            //     $('#nm').val("report");
            //     f.action = "reportExcelList";
            //     f.submit();
            // }

        }

        //수정용
        function fnDoPopupPointManage(code) {
            console.log(code);
            var params = "trashSeq=" + code;

            if (code) {
                var title = "쓰레기 유형 내용";
                var desc = "쓰레기 유형을 확인합니다.";
                var reqUrl = "operation/point/modifyForm";
            } else {
                var title = "쓰레기 유형 등록";
                var desc = "쓰레기 유형을 등록합니다.";
                var reqUrl = "operation/point/writeForm";
            }

            wn_modalPop({title: title,

                desc: desc,
                width:"800px",
                actUrl: reqUrl,
                cbFunc: fnDoPopupPointManageCallback}, params);
        }

        function fnDoPopupPointManageCallback() {

        }

        function fnDoChkAll(chkAll){
            if ($(chkAll).prop("checked")) {
                $("#listTable tbody input[type=checkbox]").prop("checked", true);
            } else {
                $("#listTable tbody input[type=checkbox]").prop("checked", false);
            }
        }

        function fnDoPointDelete() {
            if ($("#listTable tbody input[type=checkbox]:checked").length < 1) {
                alert("삭제할 쓰레기 유형을 선택 해주세요.");
                return;
            }
            var cfm = confirm("선택하신 쓰레기 유형을 삭제 하시겠습니까?");
            if (cfm) {
                $.ajax({
                    url: "operation/point/deleteInfo",
                    type:'POST',
                    cache: false,
                    dataType: "json",
                    data: $('#form1').serialize(),
                    async: false,
                    success: function(data) {
                        alert("삭제 되었습니다.");
                        fnDoInitMenuList();
                    },
                    error: function(e) {
                        console.log(e);
                    }
                });
            }
        }

        function fnDoInitPointList() {
            document.form1.reset();
            fnDoPointList(0);
        }

        $(document).keyup(function(event) {
            if ($("#trashName1").is(":focus") && event.key == "Enter") {
                // Do work
                fnDoPointList(0);
            }
        });

    </script>


    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">쓰레기 유형 관리</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
        </div>
        <span class="pull-right" style="display: flex; align-items: center;">
<button type="button" class="btn btn-add pull-right"
        onclick="fnDoPopupPointManage();">쓰레기 유형 등록</button>
                    <button type="button" class="btn btn-manage btn-sm pull-right" onclick="fnDoPointDelete();"
                            style="margin-right: 5px;">
                    <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제"/>&nbsp;삭제
                </button>

                <!--
                <button type="button" class="btn btn-manage btn-sm pull-right" style="margin-right: 3px;"
                        onclick="fnExcelDownloadPointList();">
                    <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
                </button>
                -->
	    </span>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <input type="hidden" name="page" id="page" th:value="${pointListPage['page']}"/>
                        <input type="hidden" name="size" id="size" th:value="10"/>
                        <div class="col-12">

                            <!--
                            <select name="searchSelect1" id="searchSelect1" class="btn-primary term">
                                <option value="" selected="selected">검색유형</option>
                                <option value="searchName">항목명</option>
                            </select>
                            -->
                            <div class="pull-right"  style="margin-bottom: 6px">
                                <div id="searchStringBlock" style="float: left;">
                                    <input type="text" id="trashName1" name="trashName" maxlength="20" placeholder="Search" class="form-control brdr-rd input-sm inline"  style="width:160px; border-top-right-radius: 0; border-bottom-right-radius: 0;">
                                </div>
                                <span class="inline input-group-btn" style="float:left;">
					                <button type="button" class="btn-srch" onclick="fnDoPointList(0);" th:text="#{common.button.search}" />
						        </span>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div id="listArea">



                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    
</th:block>
</html>