<script type="text/javascript">

  function fnDoSavePermission() {

    var f = document.popupForm;
    var formData = $('#popupForm').serialize();

    if (f.permissionName.value == '') {
      alert("권한명을 입력해주세요.");
      return false;
    }

    if (formData.search("permissionMenuArr") == -1) {
      alert("접근가능 메뉴를 선택해 주세요.");
      return false;
    }

    if (formData.search("useYn") == -1) {
      alert("사용여부을 선택해 주세요.");
      return false;
    }

    var reqUrl = "";
    var page = ($('#page').val() != "" || $('#page').val() != null) ? $('#page').val() : 0;
    if (f.flag.value == 'add') {
      reqUrl = "operation/permission/insertInfo";
      page = 1;
    } else {
      reqUrl = "operation/permission/updateInfo"
    }

    $.ajax({
      url: reqUrl,
      type: "POST",
      cache: false,
      dataType: "json",
      data: JSON.stringify(formData).replace (/"/g,''),
      async: false,
      success: function (data) {

          alert("저장하였습니다.");
          fnDoPermissionList(page);
          wn_modalClose();

      },
      error: function (e) {
        console.log(e);
      }
    });
  }

  function fnDoCheckAllType(obj) {
    if ($(obj).prop("checked")) {
      $(".for-sel-chkbox input[type=checkbox]", document.popupForm).prop("checked", true);
    } else {
      $(".for-sel-chkbox input[type=checkbox]", document.popupForm).prop("checked", false);
    }
  }

  function fnDoselectSubPermissionCheck(data, checkBool) {
    $.each(data, function (index, value) {
      $(".for-sel-chkbox input[type=checkbox][permissionId=" + value + "]", document.popupForm).prop(
              "checked", checkBool);
    });
  }

  $(document).ready(function () {
  });
</script>
<style>
  .auth-menu {
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
  }

  #addProj {
    font-size: large;
    font-weight: bold;
  }

  #addPermission {
    display: inline;
    margin-right: 10px;
  }

  .necessary {
    color : #c93b31;
  }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal">
  <th:block th:if="${permiOne.permissionSeq} == null or ${permiOne.permissionSeq} == ''">
    <input type="hidden" name="flag" id="flag" value="add" />
  </th:block>
  <th:block th:unless="${permiOne.permissionSeq} == null or ${permiOne.permissionSeq} == ''">
    <input type="hidden" name="flag" id="flag" value="modify" />
    <input type="hidden" name="permissionSeq" id="permissionSeq" th:value="${permiOne.permissionSeq}"/>
  </th:block>

  <div class="modal-body p-all-0">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <div class="form-box">
          <label class="col-5 label-title m-t-s">권한명 <span class="necessary">*</span></label>
          <div class="col-5">
            <input style="width: 100%" type="text" name="permissionName" id="permissionName" class="col-5 input-control" placeholder="권한명을 입력하세요" th:value="${permiOne.permissionName}">
          </div>
        </div>


        <div class="form-box">
          <label class="col-5 m-t-s block">접근 가능메뉴</label>
          <div class="bk-input">
            <div class="checkbox checkbox-primary for-sel-chkbox" style="border-bottom: 1px solid #ccc; padding: 20px;">
              <div style="padding-left: 20px; display: inline-block">
                <input type="checkbox" id="allTypeCheck" onclick="fnDoCheckAllType(this);">
                <label for="allTypeCheck"> 전체 </label>
              </div>
            </div>
<!--            <div class="checkbox-primary" style="border-bottom: 1px solid #ccc; padding: 20px; display: flex; align-items: center">-->
<!--              <input class="checkallbox" type="checkbox" id="allTypeCheck" onclick="fnDoCheckAllType(this);" >-->
<!--              <label for="allTypeCheck"> 전체 </label>-->
<!--            </div>-->

            <div class="checkbox checkbox-primary for-sel-chkbox marginallmenu">

              <!-- 분류 For문 이용 -->

                <th:block th:if="${permissionMenuList} != null and ${permissionMenuList} != ''">
                    <th:block th:each="permissionMenu, ii : ${permissionMenuList}">
                        <div class="checkbox checkbox-primary for-sel-chkbox">
                          <th:block th:if="${permissionMenu.menuLevel} > 1">
                            <div th:style="'padding-left:' + ${permissionMenu.menuLevel * 10} +'px; display:inline-block;'"></div>
                          </th:block>
                          <input type="checkbox"
                                 th:value="${permissionMenu.menuSeq}"
                                 name="permissionMenuArr"
                                 th:id="${'permissionMenuArr' + permissionMenu.menuSeq}"
                                 th:if="${permissionMenu.useYn} == 'Y'"
                                 checked="checked"
                          >
                          <input type="checkbox"
                                 th:value="${permissionMenu.menuSeq}"
                                 name="permissionMenuArr"
                                 th:id="${'permissionMenuArr' + permissionMenu.menuSeq}"
                                 th:unless="${permissionMenu.useYn} == 'Y'"
                          >
                          <label th:for="${'permissionMenuArr' + permissionMenu.menuSeq}">[[${permissionMenu.menuName}]]</label>
                        </div>

                    </th:block>
                </th:block>


              <th:block th:unless="${permissionMenuList} != null and ${permissionMenuList} != ''">
                <th:block th:each="menu, i : ${menuList}">
                  <div class="checkbox checkbox-primary for-sel-chkbox">
                    <th:block th:if="${menu.menuLevel} > 1">
                      <div th:style="'padding-left:' + ${menu.menuLevel * 5} +'px; display:inline-block;'"></div>
                    </th:block>
                    <input type="checkbox"
                           th:value="${menu.menuSeq}"
                           name="permissionMenuArr"
                           th:id="${'permissionMenuArr' + menu.menuSeq}"
                    >
                    <label th:for="${'permissionMenuArr' + menu.menuSeq}">[[${menu.menuName}]]</label>
                  </div>
                </th:block>
              </th:block>





            </div>
          </div>
        </div>

        <div class="form-box ">
          <label class="col-5 m-t-s block">사용여부 <span class="necessary">*</span></label>
          <div class="col-5 bk-input" style="padding: 14px;">
            <div class="col-5">
              <label for="useYnY" style=" width: 50px; float: left; margin-right: 12px;">
                <input type="radio" name="useYn" id="useYnY" value="Y" class="m-r-m" style="margin-right: 4px;" th:if="${permiOne.useYn} == 'Y'" checked="checked">
                <input type="radio" name="useYn" id="useYnY" value="Y" class="m-r-m" style="margin-right: 4px;" th:unless="${permiOne.useYn} == 'Y'">
                예
              </label>
              <label for="useYnN" style="width: 70px;">
                <input type="radio" name="useYn" id="useYnN" value="N" style="margin-right: 4px;"  th:if="${permiOne.useYn} != 'Y'" checked="checked">
                <input type="radio" name="useYn" id="useYnN" value="N" style="margin-right: 4px;"  th:unless="${permiOne.useYn} != 'Y'">
                아니오
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
    <button type="button" class="btn btn-submit" onclick="fnDoSavePermission();" th:text="#{common.button.save}">
      저장</button>
  </div>
</form>