<input type="hidden" id="listLength" th:value="${answerPaging.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <colgroup>
        <col style="width: 1%;"><!-- 체크박스 -->
        <col style="width: 5%;"><!-- 번호 -->
        <col style="width: 10%;"><!-- 수정일자  -->
        <col style="width: 14%;"><!-- 스킬명 -->
        <col style="width: 10%;"><!-- 스킬코드 -->
        <col style="width: 30%;"><!-- 답변레벨 -->
        <col style="width: 10%;"><!-- 응답타입1 -->
        <col style="width: 10%;"><!-- 응답타입2 -->
        <col style="width: 10%;"><!-- 응답타입3 -->
    </colgroup>
    <thead>
    <tr>
        <th class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" onchange="fnDoChkAll(this);">
                <label for=""></label>
            </div>
        </th>
        <th>번호</th>
        <th>수정일자</th>
        <th>스킬명</th>
        <th>스킬코드</th>
        <th>답변레벨</th>
        <th>응답타입1</th>
        <th>응답타입2</th>
        <th>응답타입3</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->

    <tr th:each="answer, i : ${answerList}">
        <td class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" name="answerSeq" th:id="${'answerSeq' + answer.skillCode}" th:value="${answer.skillCode}">
                <label th:for="${'answerSeq' + answer.skillCode}"></label>
            </div>
        </td>
        <td th:text="${#numbers.formatInteger(answerPaging.totalSize - (i.count + ((answerPaging.page) * answerPaging.size)) + 1, 0, 'COMMA')}">1 </td>
        <td>
            <th:block th:if="${answer.updtDe} != null and ${answer.updtDe} != ''">
                [[${answer.updtDe}]]
            </th:block>
            <th:block th:unless="${answer.updtDe} != null and ${answer.updtDe} != ''">
                [[${answer.registDe}]]
            </th:block>
        </td>
        <td><a href="javascript:;" th:onclick="fnDoPopupAnswerManage([[${answer.skillCode}]]);"  th:text="${answer.skillName}">스킬명</a></td>
        <td th:text="${answer.skillCode}">스킬코드</td>
        <td style="text-align: left">
            <!--답변레벨-->
            <th:block th:if="${answer.skillLevel1} != null and ${answer.skillLevel1} != ''">
                [[${answer.skillLevel1}]]
            </th:block>
            <th:block th:if="${answer.skillLevel2} != null and ${answer.skillLevel2} != ''">
                &nbsp;>&nbsp;[[${answer.skillLevel2}]]
            </th:block>
            <th:block th:if="${answer.skillLevel3} != null and ${answer.skillLevel3} != ''">
                &nbsp;>&nbsp;[[${answer.skillLevel3}]]
            </th:block>
            <th:block th:if="${answer.skillLevel4} != null and ${answer.skillLevel4} != ''">
                &nbsp;>&nbsp;[[${answer.skillLevel4}]]
            </th:block>
        </td>
        <td th:text="${(answer.resType1 == 'ST') ? '텍스트형' : (answer.resType1 == 'SI') ? '이미지형' : (answer.resType1 == 'BC') ? '카드형' : (answer.resType1 == 'LC') ? '리스트형' : (answer.resType1 == 'CC') ? '커머스형' : ''}">응답타입1</td>
        <td th:text="${(answer.resType2 == 'ST') ? '텍스트형' : (answer.resType2 == 'SI') ? '이미지형' : (answer.resType2 == 'BC') ? '카드형' : (answer.resType2 == 'LC') ? '리스트형' : (answer.resType2 == 'CC') ? '커머스형' : ''}">응답타입1</td>
        <td th:text="${(answer.resType3 == 'ST') ? '텍스트형' : (answer.resType3 == 'SI') ? '이미지형' : (answer.resType3 == 'BC') ? '카드형' : (answer.resType3 == 'LC') ? '리스트형' : (answer.resType3 == 'CC') ? '커머스형' : ''}">응답타입1</td>
    </tr>
    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>



<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(answerPaging['page'] / maxPage) * maxPage + 1},
                        end=(${(answerPaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < answerPaging['totalPage'] ? start + (maxPage - 1) : answerPaging['totalPage'])})
    ">
        <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoAnswerList('0');">
            <i class="fa fa-angle-double-left"></i></button>

        <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoAnswerList([[${start - maxPage}]]);|">
            <i class="fa fa-angle-left"></i></button>
        <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoAnswerList(0);">
            <i class="fa fa-angle-left"></i></button>

        <!-- for문 사용 리스스 출력 시작 -->
        <th:block th:each="num : ${#numbers.sequence(start,end)}">
            <button type="button" th:if="${num} == ${answerPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoAnswerList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
            <button type="button" th:unless="${num} == ${answerPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoAnswerList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
        </th:block>
        <!-- for문 사용 리스스 출력 끝 -->

        <button type="button" th:if="${end < answerPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoAnswerList('${start + maxPage}');|">
            <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" th:unless="${end < answerPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoAnswerList('${answerPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-right"></i></button>

        <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoAnswerList('${answerPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </th:block>
</div>

