<style>
	.txt_line {
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
	}
</style>
<script type="text/javascript">
$(document).ready(function(){
	fnDoListPop(0);
});

function fnDoListPop(page) {
	var f = document.popupForm2;
    f.page.value = page;
    
    $.ajax({
		url: "chatbot/answer/imageListAjax",
		type:'POST',
		cache: false,
		dataType: "html",
		data: $('#popupForm2').serialize(),
		async: false,
		beforeSend: function(){
			$("#imageListArea").html("<div id='LoadingImage' class='loading-LoadingImage' style='text-align: center;'><div class='loading-image'><img src='/admin/img/chatbot/indicator.gif'></div></div>");
		},
        success: function(data) {
        	
        	/* console.log(data); */
         	setTimeout(function() {
        		$("#imageListArea").html(data);
        	}, 450);
		},
		error: function(e) {
			console.log(e);
		},
		complete : function(request,status,error) {
	    }
		
 	});
}
function fnDoPopupImage(q,w,e){

	var searchUrlId = $("#searchUrlId").val();
	$("#"+searchUrlId).val(e);
	wn_modalClose2();
}
</script>

<form name="popupForm2" id="popupForm2" method="post" class="form-horizontal" enctype="multipart/form-data" onsubmit="fnDoListPop(0); return false;">
<input type="hidden" name="page" />
<input type="hidden" name="sortKey" />
<input type="hidden" name="sortDrct" />
<div class="modal-body pdmg">
	<div class="ibox float-e-margins">
	<!-- <div class="ibox m-n"> -->
		<div class="row" >
		    <div class="col-lg-12">
			    <div class="float-e-margins">
			        <div class="ibox-content">
						<div class="row" style="padding-bottom: 10px;">
				       		<div class="col-4-l">
							    <div class="pull-right">
								    <input type="text" name="searchValue" id="searchValue" maxlength="20" placeholder="검색어 입력" class="input-sm brdr-rd form-control" >
								    <span class="inline input-group-btn">
								        <button type="button" class="btn-srch" onclick="fnDoListPop(0);">검색</button>
									</span>
								</div>
							</div>	
						</div>
			        	<div class="padding-top-20" id="imageListArea"></div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
</form>
