<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function () {
            //ajax 준비중입니다.
            fnDoInitAnswerList();

            $("#datepicker1").datepicker();
            $("#datepicker2").datepicker();
            $("#datepicker3").datepicker();
            $("#datepicker4").datepicker();
            $("#datepicker5").datepicker();
        });

        //리스트만 불러오기
        function fnDoAnswerList(page) {
            var f = document.form1;
            f.page.value = page;
            console.log("test");
            $.ajax({
                url: "chatbot/answer/listAjax",
                type: 'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    document.getElementById("listArea").innerHTML = data;
                    wn_setSortTable();
                }
            });
        }

        //액셀 다운
        function fnExcelDownloadAnswerList() {

            alert("엑셀다운 테스트");

            // if($("#listLength").val() == "0") {
            //     alert("검색결과 목록이 없습니다.");
            //
            // } else {
            //     var f = document.form1;
            //     $('#nm').val("report");
            //     f.action = "reportExcelList";
            //     f.submit();
            // }

        }

        //수정용
        function fnDoPopupAnswerManage(code) {
            console.log(code);
            var params = "skillCode=" + code;

            if (code) {
                var title = "답변 내용 확인";
                var desc = "답변 내용을 확인합니다.";
                var reqUrl = "chatbot/answer/modifyForm";
            } else {
                var title = "답변 등록";
                var desc = "답변을 등록합니다.";
                var reqUrl = "chatbot/answer/writeForm";
            }

            wn_modalPop({
                title: title,

                desc: desc,
                width: "800px",
                actUrl: reqUrl,
                cbFunc: fnDoPopupAnswerManageCallback
            }, params);
        }

        function fnDoPopupAnswerManageCallback() {

        }

        function fnDoChkAll(chkAll) {
            if ($(chkAll).prop("checked")) {
                $("#listTable tbody input[type=checkbox]").prop("checked", true);
            } else {
                $("#listTable tbody input[type=checkbox]").prop("checked", false);
            }
        }

        function fnDoAnswerDelete(skillCode, resType1, resType2, resType3) {
            if ($("#listTable tbody input[type=checkbox]:checked").length < 1) {
                alert("삭제하실 답변내용을 선택 해주세요.");
                return;
            }
            var cfm = confirm("선택하신 답변내용을 삭제 하시겠습니까?");
            if (cfm) {
                $.ajax({
                    url: "chatbot/answer/deleteInfo",
                    type: 'POST',
                    cache: false,
                    dataType: "json",
                    //data: {"skillCode" : skillCode,"resType1": resType1,"resType2": resType2,"resType3": resType3},
                    data: $('#form1').serialize(),
                    async: false,
                    success: function (data) {
                        alert("삭제 되었습니다.");
                        fnDoAnswerList(0);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        }

        function fnExcelUploadPopup() {

            var params = "";
            var title = "답변관리 엑셀 업로드 일괄등록";

            wn_modalPop({
                title: title,
                desc: "업로드용 샘플파일을 다운로드하여 입력 후 업로드(확장자 .xlsx) 해주세요.",
                width: "800px",
                actUrl: "answer/answerExcelUploadAjax",
                cbFunc: fnExcelUploadPopupCallback
            }, params);
        }

        function fnExcelUploadPopupCallback() {

            //fnDoList(1);
        }

        function LoadingWithMask() {
            //화면의 높이와 너비를 구합니다.
            var maskHeight = $(document).height();
            var maskWidth = window.document.body.clientWidth;

            //화면에 출력할 마스크를 설정해줍니다.

            var mask = "<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'  class='loading-LoadingImage'></div>";
            var loadingImg = '';

            loadingImg += "<div id='loadingImg' class='loading-LoadingImage' style='position:absolute; left:0;top:0;z-index:9011;display:none;width:100%;height:100%;background:;'>";
            loadingImg += " <img src='../img/indicator.gif' style='position: relative; display: block; margin: 0px auto;'/>";
            loadingImg += "</div>";

            //화면에 레이어 추가
            $('body')
                .append(mask)
                .append(loadingImg)

            //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채웁니다.
            $('#mask').css({
                'width': maskWidth
                , 'height': maskHeight
                , 'opacity': '0.3'
            });

            //마스크 표시
            $('#mask').show();

            //로딩중 이미지 표시
            $('#loadingImg').show();
        }

        function closeLoadingWithMask() {
            $('#mask, #loadingImg').hide();
            $('#mask, #loadingImg').remove();
        }


        function unFocusSearchValue() {
            $('#searchValue').blur();
            console.log("blur......");
        }

        var lockFlag = false;

        function lockEnter() {
            lockFlag = false;
            console.log("searchFocus lockFlag==>" + lockFlag);
        }

        function unlockEnter() {
            lockFlag = false;
        }

        //$( "#searchValue" ).click(function() {
        //	  $( "#searchValue" ).focus();
        //	  console.log("searchValue...");
        //});

        $("#searchValue").focus(function () {
            console.log("searchValue... lockFlag(" + lockFlag + ")");
            unlockEnter();
        });

        function enterToSearch(e) {
            if (e.keyCode == 13 && e.srcElement.type != 'textarea' && lockFlag == true) {
                console.log("enter 막음");
                return false;
            } else {
                console.log("enter 아님..");
            }
        }

        function debugForm() {
            console.log("debugForm... lockFlag==>" + lockFlag);
        }

        function fnDoInitAnswerList() {
            document.form1.reset();
            fnDoAnswerList(0);
        }

    </script>


    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">카카오톡 챗봇 답변 관리</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
        </div>
        <span class="pull-right">
                    <button type="button" class="btn btn-add pull-right"
                            onclick="fnDoPopupAnswerManage();">답변 등록</button>
            <!--                    <button type="button" class="btn btn-manage btn-sm pull-right" onclick="fnDoAnswerDelete();"-->
            <!--                            style="margin-right: 5px;">-->
            <!--                    <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제"/>&nbsp;삭제-->
            <!--                </button>-->
            <!--
            <button type="button" class="btn btn-manage btn-sm pull-right" style="margin-right: 3px;"
                    onclick="fnExcelDownloadAnswerList();">
                <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
            </button>
            -->
	    </span>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <input type="hidden" name="page" id="page" th:value="${answerPaging['page']}"/>
                        <input type="hidden" name="size" id="size" th:value="10"/>
                        <input type="hidden" name="searchSkillCode" value=""/>
                        <input type="hidden" name="searchSkillName" value=""/>
                        <input type="hidden" id="searchUrlId" value="">
                        <input type="hidden" id="searchUrl" value="">
                        <!--                        <div class="col-12">-->
                        <!--                            <div>-->
                        <!--                                <div id="searchStringBlock" style="float: left;">-->
                        <!--                                    <input type="text" id="searchString" name="searchString" maxlength="20" placeholder="Search" class="form-control brdr-rd input-sm inline"  style="width:160px;margin-right: 10px;">-->
                        <!--                                </div>-->
                        <!--                                <span class="inline input-group-btn" style="float:left;">-->
                        <!--					                <button type="button" class="btn-srch" onclick="fnDoAnswerList(0);" th:text="#{common.button.search}" />-->
                        <!--						        </span>-->
                        <!--                            </div>-->
                        <!--                            <div class="pull-left">-->
                        <!--                            <select name="searchSelect" id="searchSelect" class="btn-primary term" onchange="document.form1.searchString.value=''">-->
                        <!--                                <option value="" >검색유형</option>-->
                        <!--                                <option value="searchName" selected="selected">스킬명</option>-->
                        <!--                                <option value="searchCode">스킬코드</option>-->
                        <!--                            </select>-->
                        <!--                        </div>-->
                        <div class="col-12" style="margin-bottom: 6px">
                            <div style="float: right;">
                                <div id="searchStringBlock" style="float: left;">
                                    <input type="text" id="searchString" name="searchString" maxlength="20"
                                           placeholder="Search" class="form-control brdr-rd input-sm inline"
                                           style="width:160px;">
                                </div>
                                <span class="inline input-group-btn" style="float:left;">
					                <button type="button" class="btn-srch" onclick="fnDoUserList(0);"
                                            th:text="#{common.button.search}"/>
						        </span>
                            </div>

                            <div style="float: right">
                                <select name="searchSelect" id="searchSelect" class="btn-primary term"
                                        onchange="document.form1.searchString.value=''" style="margin-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0">
                                    <option value="">검색유형</option>
                                    <option value="searchName">스킬명</option>
                                    <option value="searchCode">스킬코드</option>
                                </select>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div id="listArea">


                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</th:block>
</html>