<input type="hidden" id="listLength" value="${pointListPage.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <colgroup>
        <col style="width: 1%;"><!-- 체크박스 -->
        <col style="width: 5%;"><!-- 번호 -->
        <col style="width: 34%;"><!-- 카테고리명  -->
        <col style="width: 10%;"><!-- 접수포인트 -->
        <col style="width: 10%;"><!-- 처리포인트 -->
        <col style="width: 10%;"><!-- 아이콘 -->
        <col style="width: 10%;"><!-- 사용여부 -->

    </colgroup>
    <thead>
    <tr>
        <th class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" onchange="fnDoChkAll(this);">
                <label for=""></label>
            </div>
        </th>
        <th>번호</th>
        <th>쓰레기 유형</th>
        <th>접수포인트</th>
        <th>처리포인트</th>
        <th>아이콘</th>
        <th>사용여부</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->

    <tr th:each="point, i : ${pointList}">
        <td class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" name="trashSeq" th:id="${'id' + point.trashSeq}" th:value="${point.trashSeq}">
                <label th:for="${'id' + point.trashSeq}"></label>
            </div>
        </td>
        <td th:text="${#numbers.formatInteger(pointListPage.totalSize - (i.count + ((pointListPage.page) * pointListPage.size)) + 1, 0, 'COMMA')}">1 </td>
        <td><a href="javascript:;" th:onclick="fnDoPopupPointManage([[${point.trashSeq}]]);"  th:text="${point.trashName}">전체관리자</a></td>
        <td th:text="${point.declarationMileage}">100</td>
        <td th:text="${point.processMileage}">200</td>
        <td >
            <th:block th:if="${point.iconUrl} != null and ${point.iconUrl} != ''">
                <img th:src="@{${point.iconUrl}}" width="30px" height="30px" />
            </th:block>
        </td>
        <td th:if="${point.useYn} == 'Y'">사용</td>
        <td th:unless="${point.useYn} == 'Y'">중지</td>
    </tr>

    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>




<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(pointListPage['page'] / maxPage) * maxPage + 1},
                        end=(${(pointListPage['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < pointListPage['totalPage'] ? start + (maxPage - 1) : pointListPage['totalPage'])})
    ">
        <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoPointList('0');">
            <i class="fa fa-angle-double-left"></i></button>

        <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoPointList([[${start - maxPage}]]);|">
            <i class="fa fa-angle-left"></i></button>
        <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoPointList(0);">
            <i class="fa fa-angle-left"></i></button>

        <!-- for문 사용 리스스 출력 시작 -->
        <th:block th:each="num : ${#numbers.sequence(start,end)}">
            <button type="button" th:if="${num} == ${pointListPage['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoPointList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
            <button type="button" th:unless="${num} == ${pointListPage['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoPointList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
        </th:block>
        <!-- for문 사용 리스스 출력 끝 -->

        <button type="button" th:if="${end < pointListPage['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoPointList('${start + maxPage}');|">
            <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" th:unless="${end < pointListPage['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoPointList('${pointListPage['totalPage'] - 1}');|">
            <i class="fa fa-angle-right"></i></button>

        <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoPointList('${pointListPage['totalPage'] - 1}');|">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </th:block>

</div>
