<script type="text/javascript">

  function fnDoSaveReport2() {
    var f = document.popupForm;
    var formData = $('#popupForm').serialize();

    if (formData.search("reportType") == -1) {
      alert("쓰레기 유형을 선택해 주세요.");
      return false;
    }
    if (f.reportAddrNew.value == '') {
      alert("장소를 입력해주세요.");
      return false;
    }
    if (formData.search("reportReception") == -1) {
      alert("접수처를 선택해 주세요.");
      return false;
    }
    if (formData.search("reportStatus") == -1) {
      alert("진행상황을 선택해 주세요.");
      return false;
    }
    if (f.reportContent.value == '') {
      alert("내용을 입력해주세요.");
      return false;
    }

    var reqUrl = "";
    var page = ($('#page').val() != "" || $('#page').val() != null) ? $('#page').val() : 0;

    alert(f.flag.value)
    if (f.flag.value == 'add') {
      reqUrl = "environmental/report/insertInfo";
    } else {
      reqUrl = "environmental/report/updateInfo"
    }
    $.ajax({
      url: reqUrl,
      type: "POST",
      cache: false,
      dataType: "json",
      data: formData,
      async: false,
      success: function (data) {
        alert("저장하였습니다.");
        fnDoReportList(page);
        wn_modalClose();
      },
      error: function (e) {
        console.log(e);
      }
    });
  }

  $(document).ready(function () {
    $("#datepicker3").datepicker({
      dateFormat: "yy-mm-dd"
    });
  });
</script>
<style>
  .auth-menu {
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
  }

  #addProj {
    font-size: large;
    font-weight: bold;
  }

  #addMenu {
    display: inline;
    margin-right: 10px;
  }

  .viewText {
    font-weight:bold;
    margin-top: 15px;
  }

  .viewTextContent {
    background: #F7F8F9 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 2;
    padding:13px 20px;
  }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal">
    <input type="hidden" name="flag" id="flag" value="add" />

  <div class="modal-body p-all-0">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

       <div class="form-box">
          <label class="col-5 m-t-s block">쓰레기 유형 선택</label>
          <div class="bk-input p-m">
            <div class="checkbox checkbox-primary checkbox-inline for-sel-chkbox">
              <!-- 분류 For문 이용 -->
              <th:blcok th:each="trash, i :${trashList}">
                <span class="checkbox checkbox-primary for-sel-chkbox" style="float: left; min-width: 200px;">
                <input type="radio"
                       th:value="${trash.trashSeq}"
                       name="reportType"
                       th:id="${'reportType' + trash.trashSeq}"
                >
                <label th:for="${'reportType' + trash.trashSeq}" th:text="${trash.trashName}">유형이름</label>
              </span>

              </th:blcok>


            </div>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">장소</label>
          <div class="col-5">
            <input type="text" name="reportAddrNew" id="reportAddrNew" class="col-5 input-control" placeholder="장소를 입력하세요" value="">
          </div>
        </div>


        <div class="form-box ">
          <label class="col-5 m-t-s block">접수처</label>
          <div class="col-5 bk-input" style="padding: 0px 20px;">
            <div class="col-5">
              <label for="reportReceptionC" style="float: left; margin-right: 12px;">
                <input type="radio" name="reportReception" id="reportReceptionC" value="C" class="m-r-m" style="margin-right: 4px;">
                챗봇
              </label>
              <label for="reportReceptionB" style="float: left; margin-right: 12px;">
                <input type="radio" name="reportReception" id="reportReceptionB" value="B" class="m-r-m" style="margin-right: 4px;" >
                밴드
              </label>
              <label for="reportReceptionP" style="margin-right: 12px;">
                <input type="radio" name="reportReception" id="reportReceptionP" value="P" class="m-r-m" style="margin-right: 4px;">
                전화
              </label>
            </div>
          </div>
        </div>

        <div class="form-box ">
          <label class="col-5 m-t-s block">진행상황</label>
          <div class="col-5 bk-input" style="padding: 0px 20px;">
            <div class="col-5">
              <label for="reportStatusD" style="float: left; margin-right: 12px;">
                <input type="radio" name="reportStatus" id="reportStatusD" value="D" class="m-r-m" style="margin-right: 4px;">
                접수
              </label>
              <label for="reportStatusP" style="float: left; margin-right: 12px;">
                <input type="radio" name="reportStatus" id="reportStatusP" value="P" class="m-r-m" style="margin-right: 4px;">
                진행
              </label>
              <label for="reportStatusC">
                <input type="radio" name="reportStatus" id="reportStatusC" value="C" class="m-r-m" style="margin-right: 4px;">
                완료
              </label>
            </div>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">처리일자</label>
          <div class="col-5">
            <input type="text" id="datepicker3" name="comDt" class="col-5 input-control" placeholder="날짜를 선택하세요">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">접수자명</label>
          <div class="col-5">
            <input type="text" id="reportUserName" name="reportUserName" class="col-5 input-control" placeholder="접수자명을 입력하세요">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">접수자 연락처</label>
          <div class="col-5">
            <input type="text" id="reportUserPhone" name="reportUserPhone" class="col-5 input-control" placeholder="접수자 연락처를 입력하세요">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">접수자 연락처</label>
          <div class="col-5">
            <input type="text" id="reportUserEmail" name="reportUserEmail" class="col-5 input-control" placeholder="접수자 Email을 입력하세요" value="">
          </div>
        </div>

        <div id="responseBox_0" class="responseBox" style="">
          <div class="responseList_0 bk-input p-m p-b-m" id="content_st_0" style="">
            <div class="form-box col-5"><label class="col-1 m-r-m block">내용</label></div>
            <div class="col-5">
              <textarea rows="3" cols="" name="reportContent" id="reportContent" class="col-5 input-control-white"></textarea>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
    <button type="button" class="btn btn-submit" onclick="fnDoSaveReport2();" th:text="#{common.button.save}">
      저장</button>
  </div>
</form>