<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">


    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function(){
            //ajax 준비중입니다.
            fnDoInitCampaignList();

            $("#datepicker1").datepicker({ dateFormat: 'yy-mm-dd' });
            $("#datepicker2").datepicker({ dateFormat: 'yy-mm-dd' });
            $("#datepicker3").datepicker({ dateFormat: 'yy-mm-dd' });
            $("#datepicker4").datepicker({ dateFormat: 'yy-mm-dd' });
            $("#datepicker5").datepicker({ dateFormat: 'yy-mm-dd' });
        });

        //리스트만 불러오기
        function fnDoCampaignList(page) {

            var f = document.form1;
            f.page.value = page;
            console.log("test");
            $.ajax({
                url: "environmental/campaign/listAjax",
                type:'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function() {
                    console.log('error');
                },
                success: function(data) {
                    document.getElementById("listArea").innerHTML = data;
                    wn_setSortTable();
                }
            });

        }

        //액셀 다운
        function fnExcelDownloadCampaignList() {

            if($("#listLength").val() == "0") {
                alert("검색결과 목록이 없습니다.");

            } else {
                var f = document.form1;
                //$('#nm').val("campaign");
                f.action = "downExcel";
                f.submit();
            }

        }

        //확인용
        function fnDoViewCampaignManage(code) {
            console.log(code);
            var params = "seq=" + code;

            if (code) {
                title = "캠페인 내용";
                var reqUrl = "environmental/campaign/viewForm";
            } else {
                alert("잘못된 정보입니다.");
                return;
            }

            wn_modalPop({title: title,

                desc: "캠페인 내용을 확인합니다.",
                width:"800px",
                actUrl: reqUrl,
                cbFunc: fnDoPopupCampaignManageCallback}, params);
        }

        function fnDoPopupCampaignManageCallback() {

        }

        function fnDoChkAll(chkAll){
            if ($(chkAll).prop("checked")) {
                $("#listTable tbody input[type=checkbox]").prop("checked", true);
            } else {
                $("#listTable tbody input[type=checkbox]").prop("checked", false);
            }
        }

        function fnDoCampaignDelete() {
            if ($("#listTable tbody input[type=checkbox]:checked").length < 1) {
                alert("삭제하실 캠페인 내용을 선택 해주세요.");
                return;
            }
            var cfm = confirm("선택하신 캠페인 내용을 삭제 하시겠습니까?");
            if (cfm) {
                $.ajax({
                    url: "environmental/campaign/deleteInfo",
                    type:'POST',
                    cache: false,
                    dataType: "json",
                    data: $('#form1').serialize(),
                    async: false,
                    success: function(data) {
                        alert("삭제 되었습니다.");
                        fnDoCampaignList(0);
                    },
                    error: function(e) {
                        console.log(e);
                    }
                });
            }
        }

        function fnDoSearchText(val){

            console.log(val);
            if(val == "searchReg" || val == "searchComplete"){
                $('#datepicker1').val('');
                $('#datepicker2').val('');
                $('#searchDateBlock').show();
                $('#searchString').val('');
                $('#searchStringBlock').hide();
            } else {
                $('#datepicker1').val('');
                $('#datepicker2').val('');
                $('#searchDateBlock').hide();
                $('#searchString').val('');
                $('#searchStringBlock').show();
            }
        }

        function fnDoInitCampaignList() {
            document.form1.reset();
            setDateBox();
            fnDoCampaignList(0);
        }

        $(document).keyup(function(event) {
            if ($("#searchString").is(":focus") && event.key == "Enter") {
                // Do work
                fnDoCampaignList(0);
            }
        });

        // select box 연도 , 월 표시
        function setDateBox() {

            var startDate = new Date(2022,4,1);
            var nowDate = new Date();
            var year1=startDate.getFullYear();
            var year2=nowDate.getFullYear();
            var month1=startDate.getMonth()+1;
            var month2=nowDate.getMonth()+1;

            var numberOfMonths = (year2 - year1) * 12 + (month2 - month1) + 1;

            var year3 = year2;
            var month3 = month2;
            var k = 0;
            var ii = 0;
            var html = "";


            for(i=0; i < numberOfMonths; i++) {

                k = month2--;

                if( k < 10 && k > 0){
                    month3 = "0" + k;
                    ii++;
                }
                else if(k == 0){
                    year3 -= 1;
                    month3 = 12;
                    month2 = 11;
                    ii = 0;
                } else {
                    month3 = k;
                }


                html += "<option value='"+year3 + "-" + month3 +"'>" +year3 + "-" + month3 + "</option>";
            }
            $("#selectExcelMonth").append(html);


            if( (nowDate.getMonth()+1) < 10){
                month2 = "0" + (nowDate.getMonth()+1);
            }
            $("#selectedExcelYYYYMM").val(+nowDate.getFullYear() + "-" + month2);
        }


    </script>


    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">캠페인 활동 관리</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
        </div>
        <span class="pull-right" style="display: flex; align-items: center">
                    <!--
                    <button type="button" class="btn btn-add pull-right"
                            onclick="fnDoPopupCampaignManage();">캠페인 관리 등록</button>
                    -->
                    <th:block th:if="${adminInfo.superYn} == 'Y'">
                        <button type="button" class="btn btn-manage btn-sm pull-right" onclick="fnDoCampaignDelete();"
                            style="margin-right: 5px;">
                            <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제"/>&nbsp;삭제
                        </button>
                    </th:block>
            <select style="margin-right: 0" name="selectExcelMonth" id="selectExcelMonth" class="btn-primary term" onchange="document.form1.selectedExcelYYYYMM.value = this.value">
                </select>
                <button type="button" class="btn btn-manage btn-sm pull-right"
                        onclick="fnExcelDownloadCampaignList();">
                    <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
                </button>

	    </span>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <input type="hidden" name="page" id="page" th:value="${campaignPaging['page']}"/>
                        <input type="hidden" name="size" id="size" th:value="10"/>
                        <input type="hidden" name="selectedExcelYYYYMM" id="selectedExcelYYYYMM" />

                        <div class="col-12" style="float: right">

                            <div style="float: left;">
                            <select name="searchStatus" id="searchStatus" class="btn-primary term" onchange="fnDoCampaignList(0)">
                                <option value="">진행상황 전체보기</option>
                                <option value="D">접수</option>
                                <!--<option value="P">진행</option>-->
                                <option value="C">완료</option>
                                <option value="R">처리불가</option>
                            </select>
                            </div>

                            <div style="float: left;">
                                <select name="searchTrashType" id="searchTrashType" class="btn-primary term" onchange="fnDoCampaignList(0)">
                                    <option value="">유형전체보기</option>
                                    <th:block th:each="trashType, i : ${trashTypeList}">
                                        <option th:value="${trashType.trashSeq}" th:text="${trashType.trashName}"></option>
                                    </th:block>
                                </select>
                            </div>

                            <div style="float: left; ">
                                <select name="searchSelect" id="searchSelect" class="btn-primary term" onchange="fnDoSearchText(this.value)" style="margin-right: 0; border-bottom-right-radius: 0; border-top-right-radius: 0;">
                                    <option value="">검색유형선택</option>
                                    <option value="searchName" selected="selected">참여자명</option>
                                    <option value="searchAreaName">행정구역</option>
                                    <option value="searchLocation">위치</option>
                                    <option value="searchReg">등록기간</option>
                                    <option value="searchComplete">처리기간</option>
                                </select>
                            </div>

                            <div id="searchStringBlock" style="float: left;">
                                <input type="text" id="searchString" name="searchString" maxlength="20" placeholder="Search" class="form-control brdr-rd input-sm inline"  style="width:160px;">
                            </div>
                                <div id="searchDateBlock" style="display: none; float: left;">
                                    <input type="text" id="datepicker1" name="sdate" class="form-control brdr-rd input-sm inline" placeholder="시작일" style="width: 100px; float: left; margin-right: 10px;">
                                    <input type="text" id="datepicker2" name="edate" class="form-control brdr-rd input-sm inline" placeholder="종료일" style="width: 100px; float: left; margin-right: 10px;">
                                </div>
                                <span class="inline input-group-btn" style="float:left;">
					                <button type="button" class="btn-srch" onclick="fnDoCampaignList(0);" th:text="#{common.button.search}" />
						        </span>

                        </div>
                        <div class="row"></div>
                        <div id="listArea">



                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=118b669ea30b6960602b1cd950cc83d3&libraries=services"></script>

</th:block>
</html>