<script type="text/javascript" th:inline="javascript">
  $(document).ready(function () {
    // datetimepicker 세팅
    $("#startDatetime").datetimepicker({
      format: "Y.m.d H:i:s",
      lang: 'kr'
    });

    $("#endDatetime").datetimepicker({
      format: "Y.m.d H:i:s",
      lang: 'kr'
    });

    [[${word.startDatetime}]] !== null && $("#startDatetime").val(moment([[${word.startDatetime}]]).format('YYYY.MM.DD H:m:s'));
    [[${word.endDatetime}]] !== null && $("#endDatetime").val(moment([[${word.endDatetime}]]).format('YYYY.MM.DD H:m:s'));

    // 분류코드 세팅
    var busiBranCodeMap = [[${busiBranCodeMap}]];
    var busiBranCodeSelectHtml = "";
    for (let code in busiBranCodeMap) {
      busiBranCodeSelectHtml += "<option value='" + code + "'>" + busiBranCodeMap[code] + "</option>";
      // busiBranCodeSelectHtml += `<option value="${code}" selected="[[${word.busiBranCode}]] == ${code}">${busiBranCodeMap[code]}</option>`;
    }

    $("#busi").html(busiBranCodeSelectHtml);
    $("#busi").val([[${word.busiBranCode}]]).prop("selected", true);
  });

  function fnDoSave() {
    var f = document.popupForm;

    if (f.representativeWord1.value.length === 0) {
      alert("대표 앞단어를 입력해주세요.");
      return false;
    }
    if (f.representativeWord2.value.length === 0) {
      alert("대표 뒷단어를 입력해주세요.");
      return false;
    }
    if (f.originWord1.value.length === 0) {
      alert("원본 앞단어를 입력해주세요.");
      return false;
    }
    if (f.originWord2.value.length === 0) {
      alert("원본 뒷단어를 입력해주세요.");
      return false;
    }
    if (f.startDatetime.value === '') {
      alert("시작일시를 선택 해주세요.");
      return false;
    }
    if (f.endDatetime.value === '') {
      alert("종료일시를 선택 해주세요.");
      return false;
    }
    if (f.startDatetime.value > f.endDatetime.value) {
      alert("종료일시가 시작일시보다 빠릅니다. 다시 선택 해주세요.");
      return false;
    }
    if ($("#busi option:selected").val() === undefined) {
      alert("분류코드를 선택 해주세요.");
      return false;
    }

    var reqUrl = f.flag.value === 'add' ? "synonym/insertInfo" : "synonym/updateInfo";
    var data = {
      representativeWord1: $("#representativeWord1").val(),
      representativeWord2: $("#representativeWord2").val(),
      originWord1: $("#originWord1").val(),
      originWord2: $("#originWord2").val(),
      busiBranCode: $("#busi option:selected").val(),
      busiBranCodeName: $("#busi option:selected").text(),
      startDatetime: new Date($("#startDatetime").val()),
      endDatetime: new Date($("#endDatetime").val())
    }

    $.ajax({
      url: reqUrl,
      type: "POST",
      cache: false,
      dataType: "json",
      data: data,
      async: false,
      success: function (data) {
        alert("저장하였습니다.");
        fnDoList(0);
        wn_modalClose();
      },
      error: function (e) {
        console.log(e);
      }
    });
  }
</script>
<style>
  .auth-menu {
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
  }

  #addProj {
    font-size: large;
    font-weight: bold;
  }

  #addAdmin {
    display: inline;
    margin-right: 10px;
  }

  .necessary {
    color : #c93b31;
  }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal">
  <th:block th:if="${word.representativeWord1} == null or ${word.representativeWord1} == ''">
    <input type="hidden" name="flag"  value="add" />
  </th:block>
  <th:block th:unless="${word.representativeWord1} == null or ${word.representativeWord1} == ''">
    <input type="hidden" name="flag" value="modify" />
  </th:block>

  <div class="modal-body p-all-0">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="form-box">
          <label class="col-5 label-title m-t-s">대표 앞단어 <span class="necessary">*</span></label>
          <div class="col-5">
            <th:block th:if="${word.representativeWord1} == null or ${word.representativeWord1} == ''">
              <input style="width: 100%" type="text" id="representativeWord1" name="representativeWord1" class="col-5 input-control">
            </th:block>
            <th:block th:unless="${word.representativeWord1} == null or ${word.representativeWord1} == ''">
              <input style="width: 100%" type="text" id="representativeWord1" name="representativeWord1" class="col-5 input-control" th:value="${word.representativeWord1}" disabled>
            </th:block>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">대표 뒷단어 <span class="necessary">*</span></label>
          <div class="col-5">
            <th:block th:if="${word.representativeWord2} == null or ${word.representativeWord2} == ''">
              <input style="width: 100%" type="text" id="representativeWord2" name="representativeWord2" class="col-5 input-control">
            </th:block>
            <th:block th:unless="${word.representativeWord2} == null or ${word.representativeWord2} == ''">
              <input style="width: 100%" type="text" id="representativeWord2" name="representativeWord2" class="col-5 input-control" th:value="${word.representativeWord2}" disabled>
            </th:block>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">원본 앞단어 <span class="necessary">*</span></label>
          <div class="col-5">
            <th:block th:if="${word.originWord1} == null or ${word.originWord1} == ''">
              <input style="width: 100%" type="text" id="originWord1" name="originWord1" class="col-5 input-control">
            </th:block>
            <th:block th:unless="${word.originWord1} == null or ${word.originWord1} == ''">
              <input style="width: 100%" type="text" id="originWord1" name="originWord1" class="col-5 input-control" th:value="${word.originWord1}" disabled>
            </th:block>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">원본 뒷단어 <span class="necessary">*</span></label>
          <div class="col-5">
            <th:block th:if="${word.originWord2} == null or ${word.originWord2} == ''">
              <input style="width: 100%" type="text" id="originWord2" name="originWord2" class="col-5 input-control">
            </th:block>
            <th:block th:unless="${word.originWord2} == null or ${word.originWord2} == ''">
              <input style="width: 100%" type="text" id="originWord2" name="originWord2" class="col-5 input-control" th:value="${word.originWord2}" disabled>
            </th:block>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">시작일시 <span class="necessary">*</span></label>
          <div class="col-5">
            <input style="width: 100%" type="text" name="startDatetime" id="startDatetime" class="col-5 input-control" th:value="${word.startDatetime}">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">종료일시 <span class="necessary">*</span></label>
          <div class="col-5">
            <input style="width: 100%" type="text" name="endDatetime" id="endDatetime" class="col-5 input-control" th:value="${word.endDatetime}">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">분류코드 <span class="necessary">*</span></label>
          <div class="col-5">
            <th:block th:if="${word.busiBranCode} == null or ${word.busiBranCode} == ''">
              <select id="busi" name="busi" class="col-5 input-control level inline m-r-auto">
              </select>
            </th:block>
            <th:block th:unless="${word.busiBranCode} == null or ${word.busiBranCode} == ''">
              <select id="busi" name="busi" class="col-5 input-control level inline m-r-auto" disabled>
              </select>
            </th:block>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
    <button type="button" class="btn btn-submit" onclick="fnDoSave();" th:text="#{common.button.save}">저장</button>
  </div>
</form>