<script type="text/javascript">

  function fnDoSaveAdmin() {
    var f = document.popupForm;
    var formData = $('#popupForm').serialize();

    if (f.adminId.value == '' && f.flag.value == 'add') {
      alert("아이디를 입력해주세요.");
      return false;
    }
    if (f.adminIdCheckYn.value != 'Y' && f.flag.value == 'add') {
      alert("아이디 중복체크를 해주세요.");
      return false;
    }
    if (f.adminName.value == '') {
      alert("이름을 입력해주세요.");
      return false;
    }
    if (f.adminPassword.value == '') {
      alert("비밀번호를 입력해주세요.");
      return false;
    }
    if (f.adminPasswordConfirm.value == '') {
      alert("비밀번호를 입력해주세요.");
      return false;
    }
    if (f.adminPassword.value != f.adminPasswordConfirm.value) {
      alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
      return false;
    }
    if (f.adminPhone.value == '') {
      alert("연락처를 입력해주세요.");
      return false;
    }
    if (f.adminEmail.value == '') {
      alert("Email 주소를 입력해주세요.");
      return false;
    }
    if (formData.search("superYn") == -1) {
      alert("슈퍼관리자 여부를 선택해 주세요.");
      return false;
    }
    if (f.permissionSeq.value == '') {
      alert("권한을 선택해주세요.");
      return false;
    }
    if (f.permissionSeq.value == '') {
      alert("권한을 선택해주세요.");
      return false;
    }


    var reqUrl = "";
    if (f.flag.value == 'add') {
      reqUrl = "operation/admin/insertInfo";
    } else {
      reqUrl = "operation/admin/updateInfo"
    }
    $.ajax({
      url: reqUrl,
      type: "POST",
      cache: false,
      dataType: "json",
      data: formData,
      async: false,
      success: function (data) {
        alert("저장하였습니다.");
        fnDoAdminList(0);
        wn_modalClose();
      },
      error: function (e) {
        console.log(e);
      }
    });
  }

  function fnDoCheckAdminId() {
    var f = document.popupForm;
    var formData = $('#popupForm').serialize();

    if (f.adminId.value == '') {
      alert("아이디를 입력해주세요.");
      return false;
    }

    reqUrl = "operation/admin/checkAdminId";
    $.ajax({
      url: reqUrl,
      type: "POST",
      cache: false,
      dataType: "json",
      data: formData,
      async: false,
      success: function (data) {
        if(data.idCheck == 'N'){
          $('#adminIdadminIdCheckYn').val('Y');
          alert("사용가능한 아이디입니다.");
        } else {
          alert("이미 사용중인 아이디입니다. 다른 아이디를 입력하세요.");
        }

      },
      error: function (e) {
        console.log(e);
      }
    });
  }

  function fnDoCheckAllType(obj) {
    if ($(obj).prop("checked")) {
      $(".for-sel-chkbox input[type=checkbox]", document.popupForm).prop("checked", true);
    } else {
      $(".for-sel-chkbox input[type=checkbox]", document.popupForm).prop("checked", false);
    }
  }

  function fnDoselectSubAdminCheck(data, checkBool) {
    $.each(data, function (index, value) {
      $(".for-sel-chkbox input[type=checkbox][adminId=" + value + "]", document.popupForm).prop(
              "checked", checkBool);
    });
  }

  $(document).ready(function () {
  });
</script>
<style>
  .auth-menu {
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
  }

  #addProj {
    font-size: large;
    font-weight: bold;
  }

  #addAdmin {
    display: inline;
    margin-right: 10px;
  }

  .necessary {
    color : #c93b31;
  }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal">
  <th:block th:if="${adminOne.adminSeq} == null or ${adminOne.adminSeq} == ''">
    <input type="hidden" name="flag"  value="add" />
  </th:block>
  <th:block th:unless="${adminOne.adminSeq} == null or ${adminOne.adminSeq} == ''">
    <input type="hidden" name="flag" value="modify" />
    <input type="hidden" name="adminSeq" th:value="${adminOne.adminSeq}"/>
  </th:block>

  <div class="modal-body p-all-0">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <div class="form-box">
          <label class="col-5 label-title m-t-s">아이디</label>
          <div class="col-5" style="display: flex; align-items: center">
            <input type="hidden" name="adminIdCheckYn" id="adminIdadminIdCheckYn" value="N">
            <input style="width: 100%" type="text" th:if="${adminOne.adminSeq} == null or ${adminOne.adminSeq} == ''" name="adminId" id="adminId" class="col-4 input-control" placeholder="영문 대/소문자 숫자 입력 4-20자 미만" th:value="${adminOne.adminId}">
            <input style="width: 100%" type="text" th:unless="${adminOne.adminSeq} == null or ${adminOne.adminSeq} == ''" name="adminId" id="adminId" class="col-5 input-control" placeholder="영문 대/소문자 숫자 입력 4-20자 미만" th:value="${adminOne.adminId}" disabled="disabled">
            <th:block th:if="${adminOne.adminSeq} == null or ${adminOne.adminSeq} == ''">
            <button style="height: 48px; margin-top: 0; margin-left: 6px;" type="button" class="btn-mmd-l btn-submit pull-right m-t-x" onclick="fnDoCheckAdminId()">중복체크</button>
            </th:block>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">이름</label>
          <div class="col-5">
            <input style="width: 100%" type="text" name="adminName" id="adminName" class="col-5 input-control" placeholder="이름을 입력하세요" th:value="${adminOne.adminName}">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">비밀번호</label>
          <div class="col-5">
            <input style="width: 100%" type="password" name="adminPassword" id="adminPassword" class="col-5 input-control" placeholder="영문 대/소문자 숫자 특수문자 포함 6-20자 미만
">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">비밀번호 확인</label>
          <div class="col-5">
            <input style="width: 100%" type="password" name="adminPasswordConfirm" id="adminPasswordConfirm" class="col-5 input-control" placeholder="영문 대/소문자 숫자 특수문자 포함 6-20자 미만
">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">연락처</label>
          <div class="col-5">
            <input style="width: 100%" type="text" name="adminPhone" id="adminPhone" class="col-5 input-control" placeholder="연락처를 입력하세요" th:value="${adminOne.adminPhone}">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">Email 주소</label>
          <div class="col-5">
            <input style="width: 100%" type="text" name="adminEmail" id="adminEmail" class="col-5 input-control" placeholder="Email 주소를 입력하세요" th:value="${adminOne.adminEmail}">
          </div>
        </div>

        <div class="form-box ">
          <label class="col-5 m-t-s block">슈퍼관리자 여부 <span class="necessary">*</span></label>
          <div class="col-5 bk-input" style="padding: 14px;">
            <div class="col-5">
              <label for="superYnY" style="width: 50px; float: left; margin-right: 12px;">
                <input type="radio" name="superYn" id="superYnY" value="Y" class="m-r-m" style="margin-right: 4px;" th:if="${adminOne.superYn} == 'Y'" checked="checked">
                <input type="radio" name="superYn" id="superYnY" value="Y" class="m-r-m" style="margin-right: 4px;" th:unless="${adminOne.superYn} == 'Y'">
                예
              </label>
              <label for="superYnN" style="width: 70px;">
                <input type="radio" name="superYn" id="superYnN" value="N" style="margin-right: 4px;"  th:if="${adminOne.superYn} != 'Y'" checked="checked">
                <input type="radio" name="superYn" id="superYnN" value="N" style="margin-right: 4px;"  th:unless="${adminOne.superYn} != 'Y'">
                아니오
              </label>
            </div>
            <div>슈퍼 관리자로 등록할 경우 관리자 권한 관리가 가능합니다.</div>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">행정동 <span class="necessary">*</span></label>
          <div class="col-5">
            <select id="ad" name="administrativeDivision" class="col-5 input-control level inline m-r-auto">
              <option value="전체" th:if="${adminOne.administrativeDivision} == '전체'" selected="selected">전체</option>
              <option value="전체" th:unless="${adminOne.administrativeDivision} == '전체'">전체</option>
              <option value="심곡동" th:if="${adminOne.administrativeDivision} == '심곡동'" selected="selected">심곡동</option>
              <option value="심곡동" th:unless="${adminOne.administrativeDivision} == '심곡동'">심곡동</option>
              <option value="부천동" th:if="${adminOne.administrativeDivision} == '부천동'" selected="selected">부천동</option>
              <option value="부천동" th:unless="${adminOne.administrativeDivision} == '부천동'">부천동</option>
              <option value="중동" th:if="${adminOne.administrativeDivision} == '중동'" selected="selected">중동</option>
              <option value="중동" th:unless="${adminOne.administrativeDivision} == '중동'">중동</option>
              <option value="신중동" th:if="${adminOne.administrativeDivision} == '신중동'" selected="selected">신중동</option>
              <option value="신중동" th:unless="${adminOne.administrativeDivision} == '신중동'">신중동</option>
              <option value="상동" th:if="${adminOne.administrativeDivision} == '상동'" selected="selected">상동</option>
              <option value="상동" th:unless="${adminOne.administrativeDivision} == '상동'">상동</option>
              <option value="대산동" th:if="${adminOne.administrativeDivision} == '대산동'" selected="selected">대산동</option>
              <option value="대산동" th:unless="${adminOne.administrativeDivision} == '대산동'">대산동</option>
              <option value="소사본동" th:if="${adminOne.administrativeDivision} == '소사본동'" selected="selected">소사본동</option>
              <option value="소사본동" th:unless="${adminOne.administrativeDivision} == '소사본동'">소사본동</option>
              <option value="상동" th:if="${adminOne.administrativeDivision} == '상동'" selected="selected">상동</option>
              <option value="상동" th:unless="${adminOne.administrativeDivision} == '상동'">상동</option>
              <option value="범안동" th:if="${adminOne.administrativeDivision} == '범안동'" selected="selected">범안동</option>
              <option value="범안동" th:unless="${adminOne.administrativeDivision} == '범안동'">범안동</option>
              <option value="성곡동" th:if="${adminOne.administrativeDivision} == '성곡동'" selected="selected">성곡동</option>
              <option value="성곡동" th:unless="${adminOne.administrativeDivision} == '성곡동'">성곡동</option>
              <option value="오정동" th:if="${adminOne.administrativeDivision} == '오정동'" selected="selected">오정동</option>
              <option value="오정동" th:unless="${adminOne.administrativeDivision} == '오정동'">오정동</option>
            </select>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">권한 <span class="necessary">*</span></label>
          <div class="col-5">
            <select id="permissionSeq" name="permissionSeq" class="col-5 input-control level inline m-r-auto">
              <option value="">선택</option>
              <th:block th:each="permission : ${permiList}">
                <option th:if="${permission.permissionSeq} == ${adminOne.permissionSeq}" th:value="${permission.permissionSeq}" th:text="${permission.permissionName}" selected="selected"></option>
                <option th:unless="${permission.permissionSeq} == ${adminOne.permissionSeq}" th:value="${permission.permissionSeq}" th:text="${permission.permissionName}"></option>
              </th:block>
            </select>
          </div>
        </div>


      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
    <button type="button" class="btn btn-submit" onclick="fnDoSaveAdmin();" th:text="#{common.button.save}">
      저장</button>
  </div>
</form>