<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function(){
            //ajax 준비중입니다.
            fnDoInitPointHistoryList();
        });

        //리스트만 불러오기
        function fnDoPointHistoryList(page) {
            var f = document.form1;
            f.page.value = page;
            console.log("test");
            $.ajax({
                url: "operation/pointHistory/listAjax",
                type:'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function() {
                    console.log('error');
                },
                success: function(data) {
                    document.getElementById("listArea").innerHTML = data;
                    wn_setSortTable();
                }
            });
        }

        //수정용
        function fnDoPopupPointHistoryManage(code) {
            console.log(code);
            var params = "seq=" + code;

            if (code) {
                var title = "메뉴 내용";
                var desc = "메뉴를 확인합니다.";
                var reqUrl = "operation/pointHistory/modifyForm";
            } else {
                var title = "메뉴 등록";
                var desc = "메뉴를 등록합니다.";
                var reqUrl = "operation/pointHistory/writeForm";
            }

            wn_modalPop({title: title,

                desc: desc,
                width:"800px",
                actUrl: reqUrl,
                cbFunc: fnDoPopupPointHistoryManageCallback}, params);
        }

        function fnDoPopupPointHistoryManageCallback() {

        }

        function fnDoChkAll(chkAll){
            if ($(chkAll).prop("checked")) {
                $("#listTable tbody input[type=checkbox]").prop("checked", true);
            } else {
                $("#listTable tbody input[type=checkbox]").prop("checked", false);
            }
        }

        function fnDoInitPointHistoryList() {
            document.form1.reset();
            fnDoPointHistoryList(0);
        }

        function fnDoSearchText(val) {

            $("#datepicker1").datepicker({dateFormat: 'yy-mm-dd'});
            $("#datepicker2").datepicker({dateFormat: 'yy-mm-dd'});

            console.log(val);
            if (val == "searchReg" || val == "searchComplete") {
                $('#datepicker1').val('');
                $('#datepicker2').val('');
                $('#searchDateBlock').show();
                $('#searchString').val('');
                $('#searchStringBlock').hide();
            } else {
                $('#datepicker1').val('');
                $('#datepicker2').val('');
                $('#searchDateBlock').hide();
                $('#searchString').val('');
                $('#searchStringBlock').show();
            }
        }

        $(document).keyup(function(event) {
            if ($("#searchString").is(":focus") && event.key == "Enter") {
                // Do work
                fnDoPointHistoryList(0);
            }
        });
    </script>


    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">마일리지 지급내역 조회</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
        </div>
        <span class="pull-right">
                <!--
                <button type="button" class="btn btn-add pull-right"
                        onclick="fnDoPopupPointHistoryManage();">메뉴등록</button>
                <button type="button" class="btn btn-manage btn-sm pull-right" onclick="fnDoPointHistoryDelete();"
                        style="margin-right: 5px;">
                    <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제"/>&nbsp;삭제
                </button>
                <button type="button" class="btn btn-manage btn-sm pull-right" style="margin-right: 3px;"
                        onclick="fnExcelDownloadPointHistoryList();">
                    <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
                </button>
                -->
	    </span>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <input type="hidden" name="page" id="page" th:value="${pointHistoryPaging['page']}"/>
                        <input type="hidden" name="size" id="size" th:value="10"/>
                        <div class="col-12">
                            <div style="float: left;">
                                <select name="searchSelect" id="searchSelect" class="btn-primary term" style="margin-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0"
                                        onchange="fnDoSearchText(this.value)">
                                    <option value="">검색유형</option>
                                    <option value="searchName" selected="selected">지급대상자</option>
                                    <option value="searchReg">기간</option>
                                </select>
                            </div>

                            <div id="searchStringBlock" style="float: left;">
                                <input type="text" id="searchString" name="searchString" maxlength="20"
                                       placeholder="Search" class="form-control brdr-rd input-sm inline"
                                       style="width:160px; border-radius: 0">
                            </div>
                            <div id="searchDateBlock" style="display: none; float: left;">
                                <input type="text" id="datepicker1" name="searchSdate"
                                       class="form-control brdr-rd input-sm inline" placeholder="시작일"
                                       style="width: 100px; float: left; margin-right: 10px;">
                                <input type="text" id="datepicker2" name="searchEdate"
                                       class="form-control brdr-rd input-sm inline" placeholder="종료일"
                                       style="width: 100px; float: left; margin-right: 10px;">
                            </div>

                            <span class="inline input-group-btn" style="float:left;">
                                <button type="button" class="btn-srch" onclick="fnDoPointHistoryList(0);" th:text="#{common.button.search}" />
                            </span>
                        </div>
                        <div class="row"></div>
                        <div id="listArea">

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</th:block>
</html>