<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function(){
            //ajax 준비중입니다.
            fnDoInitAlarmtalkList();

            $("#datepicker1").datepicker();
            $("#datepicker2").datepicker();
            $("#datepicker3").datepicker();
            $("#datepicker4").datepicker();
            $("#datepicker5").datepicker();
        });

        //알림톡 정보 가져오기
        function fnDoAlarmtalkInfo() {
            var f = document.form1;
            console.log("test");
            $.ajax({
                url: "chatbot/alarmtalk/infoAjax",
                type:'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function() {
                    console.log('error');
                },
                success: function(data) {
                    document.getElementById("infoArea").innerHTML = data;
                    wn_setSortTable();
                }
            });
        }

        //리스트만 불러오기
        function fnDoAlarmtalkList(pageNo) {
            var f = document.form1;
            f.pageNo.value = pageNo;
            console.log("test");
            $.ajax({
                url: "chatbot/alarmtalk/listAjax",
                type:'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function() {
                    console.log('error');
                },
                success: function(data) {
                    document.getElementById("listArea").innerHTML = data;
                    wn_setSortTable();
                }
            });
        }

        //액셀 다운
        function fnExcelDownloadAlarmtalkList() {

            alert("엑셀다운 테스트");

            // if($("#listLength").val() == "0") {
            //     alert("검색결과 목록이 없습니다.");
            //
            // } else {
            //     var f = document.form1;
            //     $('#nm').val("report");
            //     f.action = "reportExcelList";
            //     f.submit();
            // }

        }

        function fnDoInitAlarmtalkList() {
            document.form1.reset();
            fnDoAlarmtalkInfo();
            fnDoAlarmtalkList(1);
        }

    </script>


    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color" >카카오톡 챗봇 알림톡 관리</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
        </div>
        <span class="pull-right">
            <!--
            <button type="button" class="btn btn-add pull-right"
                    onclick="fnDoPopupAlarmtalkManage();">답변 등록</button>
            <button type="button" class="btn btn-manage btn-sm pull-right" onclick="fnDoAlarmtalkDelete();"
                    style="margin-right: 5px;">
                <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제"/>&nbsp;삭제
            </button>
            <button type="button" class="btn btn-manage btn-sm pull-right" style="margin-right: 3px;"
                    onclick="fnExcelDownloadAlarmtalkList();">
                <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
            </button>
            -->
	    </span>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <input type="hidden" name="pageNo" value="1"/>
                        <input type="hidden" name="pageRows" value="10"/>
                        <input type="hidden" name="search_select1" value="search_term"/>
                        <div class="col-12">

                            <div class="pull-right">
                                <div id="search_date_block" style="float: left;">
                                    <input type="text" id="datepicker1" name="sdate" class="form-control brdr-rd input-sm inline" placeholder="시작일" style="width: 100px; float: left; margin-right: 10px;">
                                    <input type="text" id="datepicker2" name="edate" class="form-control brdr-rd input-sm inline" placeholder="종료일" style="width: 100px; float: left; margin-right: 10px;">
                                </div>
                                <span class="inline input-group-btn" style="float:left;">
					                <button type="button" class="btn-srch" onclick="fnDoAlarmtalkList(1);" th:text="#{common.button.search}" />
						        </span>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div id="infoArea">



                        </div>
                        <div class="row"></div>
                        <div id="listArea">



                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</th:block>
</html>