<div class="title">
    <span class="font-size-16 bold font-color" style="font-size: 16px !important;">알림톡 상세 이력</span>
    <span class="pull-right">

            <button type="button" class="btn btn-manage btn-sm pull-right" style="margin-right: 3px;"
                    onclick="fnExcelDownloadAlarmtalkList();">
                <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
            </button>
	    </span>
</div>
<input type="hidden" id="listLength" value="0">
<table class="table table-hoverm dataTable table-m table-border"
       id="list_table">
    <colgroup>
        <col style="width: 5%;"><!-- 번호 -->
        <col style="width: 20%;"><!-- 알림톡  템플릿명  -->
        <col style="width: 20%;"><!-- 발송일자 -->
        <col style="width: 10%;"><!-- 수신자 -->
        <col style="width: 10%;"><!-- 발송타입 -->
        <col style="width: 10%;"><!-- 발송결과 -->
        <col style="width: 25%;"><!-- 발송결과 상세 -->
    </colgroup>
    <thead>
    <tr>
        <th>번호</th>
        <th>알림톡  템플릿명</th>
        <th>발송일자</th>
        <th>수신자</th>
        <th>발송타입</th>
        <th>발송결과</th>
        <th>발송결과 상세</th>
    </tr>
    </thead>
    <tbody id="list_table_tbody">

    <!-- for문 사용 리스스 출력 시작 -->

    <tr th:each="alarmtalk : ${alarmtalkList}">
        <td th:text="${alarmtalk.num}">1</td>
        <td th:text="${alarmtalk.alarmtalkName}">알림톡  템플릿명</td>
        <td th:text="${alarmtalk.regDt}">발송일자</td>
        <td th:text="${alarmtalk.recieveName}">수신자</td>
        <td th:text="${alarmtalk.recieveType}">발송타입</td>
        <td th:text="${alarmtalk.recieveResult}">발송결과</td>
        <td th:text="${alarmtalk.recieveResultDetail}">발송결과 상세</td>
    </tr>

    <tr>
        <td>1</td>
        <td>불편접수_접수</td>
        <td>2022-04-17 23:59:21</td>
        <td>010-1234-5678</td>
        <td>알림톡</td>
        <td>성공</td>
        <td></td>
    </tr>

    <tr>
        <td>2</td>
        <td>불편접수_처리완료</td>
        <td>2022-04-17 23:59:21</td>
        <td>010-1234-5678</td>
        <td>문자</td>
        <td>성공</td>
        <td></td>
    </tr>

    <tr>
        <td>3</td>
        <td>불편접수_접수</td>
        <td>2022-04-17 23:59:21</td>
        <td>010-1234-5678</td>
        <td>알림톡</td>
        <td>실패</td>
        <td>잘못된 전화번호</td>
    </tr>

    <tr>
        <td>4</td>
        <td>불편접수_처리완료</td>
        <td>2022-04-17 23:59:21</td>
        <td>010-1234-5678</td>
        <td>알림톡</td>
        <td>성공</td>
        <td></td>
    </tr>

    <tr>
        <td>5</td>
        <td>불편접수_접수</td>
        <td>2022-04-17 23:59:21</td>
        <td>010-1234-5678</td>
        <td>알림톡</td>
        <td>실패</td>
        <td>잘못된 전화번호</td>
    </tr>
    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>




<div class="btn-page text-center">
    <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoAnswerList(1);">
        <i class="fa fa-angle-double-left"></i></button>
    <button type="button" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoAnswerList(1);">
        <i class="fa fa-angle-left"></i></button>

    <!-- for문 사용 리스스 출력 시작 -->
    <button type="button" title="1페이지" onclick="javascript:fnDoAnswerList(1);" class="btn btn-pageNum active">1
    </button>
    <!-- for문 사용 리스스 출력 끝 -->

    <button type="button" class="btn btn-pageAngle" title="다음페이지" onclick="javascript:fnDoAnswerList(1);">
        <i class="fa fa-angle-right"></i>
    </button>
    <button type="button" class="btn btn-pageAngle" title="마지막페이지" onclick="javascript:fnDoAnswerList(1);">
        <i class="fa fa-angle-double-right"></i>
    </button>
</div>
