<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function(){

        });

        function fnDoSave() {

            var f = document.form1;
            var formData = $('#form1').serialize();
            var form = $('#form1')[0];
            var formData2 = new FormData(form);

            if (formData.search("useYn") == -1) {
                alert("사용여부을 선택해 주세요.");
                return false;
            }

           $.ajax({
                url: "metaBus/board/updateNotice",
                type: "POST",
                cache: false,
                dataType: "json",
                data: formData2,
                processData: false,
                contentType: false,
                async: false,
                success: function (data) {
                    alert("저장하였습니다.");
                    $('#simg').attr('src', data.img);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }


    </script>

    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color" th:text="${pageTitle}">메타버스 불편접수 팝업 관리</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
        </div>
        <span class="pull-right">
	    </span>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <input type="hidden" name="popupType" th:value="${popupType}"/>
                        <div style="font-size: 16px; padding-bottom: 12px; color: #222222; font-weight: bold;">
                            메타버스 불편접수 팝업 이미지를 교체하거나 사용여부를 설정할 수 있습니다.
                        </div>
                        <div>
                            <p style="padding-left: 10px; color:#222222;" th:text="${'- 메타버스 내 ' + actText + '에 관한 안내 팝업 이미지를 관리할 수 있습니다.'}">불편접수</p>
                            <p style="padding-left: 10px; color:#222;">- 등록 시 바로 적용되는점 유의바랍니다.</p>
                        </div>
                        <div style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; margin-top: 32px; ">
                            <div style="display: flex; align-items: center; height: 250px; border-bottom: 1px solid #ccc;">
                                <p style="background-color: #DCDDE0; width: 238px; height: 100%; text-align: center; line-height: 250px; margin: 0; font-weight: bold">현재 적용된 팝업 이미지</p>
                                <p style="padding: 10px 40px; line-height: 230px; margin: 0; font-weight: bold; font-size: 20px;"><img th:src="${meta.popupImageUrl}" id="simg" style="max-width:360px;max-height:230px;"></p>
                            </div>
                            <div style="display: flex; align-items: center; height: 82px; border-bottom: 1px solid #ccc;">
                                <p style="background-color: #DCDDE0; width: 238px; height: 100%; text-align: center; line-height: 82px; margin: 0; font-weight: bold">변경할 이미지</p>
                                <div style="padding-left: 40px;">
                                    <span style="float: left;"><input style="width: 100%; padding: 14px;" type="file" name="uploadfile" id="uploadfile" class="col-5 input-control" placeholder="팝업 이미지를 등록하세요"></span>
                                    <span style="float: left; display: inline-block; padding-top: 16px; padding-left: 20px;">(사이즈 ???x??? PNG 파일로 올려주세요)</span>
                                </div>
                            </div>
                            <div style="display: flex; align-items: center; height: 62px; border-bottom: 1px solid #ccc;">
                                <p style="background-color: #DCDDE0; width: 238px; height: 100%; text-align: center; line-height: 62px; margin: 0; font-weight: bold">사용여부 </p>
                                <div style="padding-left: 40px;">
                                    <label for="useYnY" style="width: 50px; float: left; margin-right: 12px;">
                                        <input type="radio" name="useYn" id="useYnY" value="Y" class="m-r-m"
                                               style="margin-right: 4px;" th:if="${meta.useYn} == 'Y'"
                                               checked="checked">
                                        <input type="radio" name="useYn" id="useYnY" value="Y" class="m-r-m"
                                               style="margin-right: 4px;" th:unless="${meta.useYn} == 'Y'">
                                        예
                                    </label>
                                    <label for="useYnN" style="width: 70px;">
                                        <input type="radio" name="useYn" id="useYnN" value="N" style="margin-right: 4px;"
                                               th:if="${meta.useYn} != 'Y'" checked="checked">
                                        <input type="radio" name="useYn" id="useYnN" value="N" style="margin-right: 4px;"
                                               th:unless="${meta.useYn} != 'Y'">
                                        아니오
                                    </label>
                                </div>
                            </div>
                            <div style="display: flex; align-items: center; height: 62px; ">
                                <p style="background-color: #DCDDE0; width: 238px; height: 100%; text-align: center; line-height: 62px; margin: 0; font-weight: bold">저장여부 </p>
                                <div style="padding-left: 40px;">
                                    <button style="background-color: #3363FF; border: none; width: 82px; height: 48px; color: #fff; border-radius: 4px;" onclick="fnDoSave()">저장</button>
                                </div>
                            </div>
                        </div>
                        <div class="row"></div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    
</th:block>
</html>