<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">
    <link rel="stylesheet" th:href="@{/datetimepicker-master/jquery.datetimepicker.css}">

    <script th:src="@{/datetimepicker-master/build/jquery.datetimepicker.full.min.js}"></script>

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function(){
            var busiBranCodeMap = [[${busiBranCodeMap}]];
            var busiBranCodeSelectHtml = '<option value="">분류코드</option><option value="전체" selected>전체</option>';
            for (let code in busiBranCodeMap) {
                busiBranCodeSelectHtml += `<option value="${code}">${busiBranCodeMap[code]}</option>`
            }

            $("#searchCode").html(busiBranCodeSelectHtml);

            //ajax 준비중입니다.
            fnDoInitList();
        });

        //리스트만 불러오기
        function fnDoList(page) {
            $("#page").val(page);

            var f = document.form1;
            f.page.value = page;

            $.ajax({
                url: "interestword/listAjax",
                type:'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function() {
                    console.log('error');
                },
                success: function(data) {
                    document.getElementById("listArea").innerHTML = data;
                    wn_setSortTable();
                }
            });
        }

        //수정용
        function fnDoPopupManage(word1, word2, busiBranCode) {
            var params = "word1=" + word1 + "&word2=" + word2 + "&busiBranCode=" + busiBranCode;

            if (word1) {
                var title = "단어 수정";
                var desc = "등록된 관심단어쌍을 수정합니다.";
                var reqUrl = "interestword/modifyForm";
            } else {
                var title = "단어 등록";
                var desc = "관심단어쌍을 등록합니다.";
                var reqUrl = "interestword/writeForm";
            }

            wn_modalPop({title: title,
                desc: desc,
                width:"800px",
                actUrl: reqUrl,
                cbFunc: fnDoPopupManageCallback}, params);
        }

        function fnDoPopupManageCallback() {

        }

        function fnDoChkAll(chkAll){
            if ($(chkAll).prop("checked")) {
                $("#listTable tbody input[type=checkbox]").prop("checked", true);
            } else {
                $("#listTable tbody input[type=checkbox]").prop("checked", false);
            }
        }

        function fnDoDelete() {
            if ($("#listTable tbody input[type=checkbox]:checked").length < 1) {
                alert("삭제하실 단어 선택 해주세요.");
                return;
            }
            var cfm = confirm("선택하신 단어를 삭제 하시겠습니까?");
            if (cfm) {
                $.ajax({
                    url: "interestword/deleteInfo",
                    type:'POST',
                    cache: false,
                    dataType: "json",
                    data: $('#form1').serialize(),
                    async: false,
                    success: function(data) {
                        alert("삭제 되었습니다.");
                        fnDoList(0);
                    },
                    error: function(e) {
                        console.log(e);
                    }
                });
            }
        }

        function fnDoInitList() {
            document.form1.reset();
            fnDoList(0);
        }

        $(document).keyup(function(event) {
            if ($("#searchWord2").is(":focus") && event.key == "Enter") {
                // Do work
                fnDoList(0);
            }
        });
    </script>

    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">관심단어쌍 관리</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}"/>
        </div>
        <span class="pull-right">
            <button type="button" class="btn btn-add pull-right"
                    onclick="fnDoPopupManage();">관심단어쌍 등록</button>
            <th:block th:if="${adminInfo.superYn} == 'Y'">
                <button type="button" class="btn btn-manage btn-sm pull-right" onclick="fnDoDelete();"
                        style="margin-right: 5px;">
                <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제"/>&nbsp;삭제
                </button>
            </th:block>
	    </span>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <div class="col-12">
                            <input type="hidden" name="page" id="page" th:value="0"/>
                            <input type="hidden" name="size" id="size" th:value="10"/>
                            <input type="hidden" name="totalSize" id="totalSize" th:value="${paging['totalSize']}"/>
                            <div class="pull-right" style="margin-bottom: 6px;">
                                <div id="searchStringBlock" style="float: left;">
                                    <input type="text" id="searchWord1" name="searchWord1" placeholder="첫번째 단어" class="form-control brdr-rd input-sm inline"  style="margin-right: 0;width:160px; border-radius: 0;"/>
                                </div>

                                <div style="float: left;">
                                    <input type="text" id="searchWord2" name="searchWord2" placeholder="두번째 단어" class="form-control brdr-rd input-sm inline"  style="margin-right: 0;width:160px; border-radius: 0;"/>
                                </div>

                                <span class="inline input-group-btn" style="float:left;">
					                <button type="button" class="btn-srch" onclick="fnDoList(0);" th:text="#{common.button.search}" />
						        </span>
                            </div>

                            <select name="searchCode" id="searchCode" class="btn-primary term" style="margin-right: 0;border-radius: 0; ">
                            </select>

                            <select name="searchState" id="searchState" class="btn-primary term" style="margin-right: 0;border-bottom-right-radius: 0; border-top-right-radius: 0; ">
                                <option value="">상태 선택</option>
                                <option value="all" selected="selected">전체</option>
                                <option value="O">O</option>
                                <option value="X">X</option>
                            </select>
                        </div>
                        <div class="row"></div>
                        <div id="listArea"></div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</th:block>
</html>