<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <thead>
    <tr>
        <th class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" onchange="fnDoChkAll(this);">
                <label></label>
            </div>
        </th>
        <th>첫번째 단어</th>
        <th>두번째 단어</th>
        <th>분류코드</th>
        <th>분류코드명</th>
        <th>상태</th>
        <th>시작일시</th>
        <th>종료일시</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->

    <tr th:each="item, i : ${list}">
        <td class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" name="word1" th:id="${item.word1}" th:value="${item.word1} + '/' + ${item.word2} + '/' + ${item.busiBranCode}">
                <label></label>
            </div>
        </td>
        <td><a href="javascript:;" th:onclick="fnDoPopupManage([[${item.word1}]], [[${item.word2}]], [[${item.busiBranCode}]]);"  th:text="${item.word1}">admin</a></td>
        <td th:text="${item.word2}">1 </td>
        <td th:text="${item.busiBranCode}">1 </td>
        <td th:text="${item.busiBranCodeName}">1 </td>
        <td th:text="${item.state}">1 </td>
        <td th:text="${item.startDatetime}">1 </td>
        <td th:text="${item.endDatetime}">1 </td>
    </tr>

    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>

<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(paging['page'] / maxPage) * maxPage + 1},
                        end=(${(paging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < paging['totalPage'] ? start + (maxPage - 1) : paging['totalPage'])})
    ">
        <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoList('0');">
            <i class="fa fa-angle-double-left"></i></button>

        <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoList([[${start - maxPage -1}]]);|">
            <i class="fa fa-angle-left"></i></button>
        <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoList(0);">
            <i class="fa fa-angle-left"></i></button>

        <!-- for문 사용 리스스 출력 시작 -->
        <th:block th:each="num : ${#numbers.sequence(start,end)}">
            <button type="button" th:if="${num} == ${paging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
            <button type="button" th:unless="${num} == ${paging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
        </th:block>
        <!-- for문 사용 리스스 출력 끝 -->

        <button type="button" th:if="${end < paging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoList('${start + maxPage -1}');|">
            <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" th:unless="${end < paging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoList('${paging['totalPage'] - 1}');|">
            <i class="fa fa-angle-right"></i></button>

        <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoList('${paging['totalPage'] - 1}');|">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </th:block>
</div>