<input type="hidden" id="listLength" th:value="${boxPaging.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <colgroup>
        <col style="width: 1%;"><!-- 체크박스 -->
        <col style="width: 5%;"><!-- 번호 -->
        <col style="width: 30%;"><!-- 제목  -->
        <col style="width: 10%;"><!-- 링크  -->
        <col style="width: 20%;"><!-- 링크  -->
        <col style="width: 10%;"><!-- 사용여부 -->
        <col style="width: 10%;"><!-- 작성자 -->
        <col style="width: 14%;"><!-- 작성일 -->
    </colgroup>
    <thead>
    <tr>
        <th class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" onchange="fnDoChkAll(this);">
                <label for=""></label>
            </div>
        </th>
        <th>번호</th>
        <th>내용</th>
        <th>링크</th>
        <th>링크Url</th>
        <th>사용여부</th>
        <th>작성자</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->
    <tr th:each="box, i : ${boxList}">
        <td class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" name="boxSeq" th:id="${'id' + box.boxSeq}" th:value="${box.boxSeq}">
                <label th:for="${'id' + box.boxSeq}"></label>
            </div>
        </td>
        <td th:text="${#numbers.formatInteger(boxPaging.totalSize - (i.count + ((boxPaging.page) * boxPaging.size)) + 1, 0, 'COMMA')}">1 </td>
        <td><a href="javascript:;" th:onclick="fnDoPopupBoxManage([[${box.boxSeq}]]);">[[${box.boardTitle}]]</a></td>
        <td th:text="${box.pathName}"></td>
        <td th:text="${box.pathUrl}"></td>
        <td th:text="(${box.useYn} == 'Y') ? '사용함' : '사용안함'"></td>
        <td th:text="${box.modName}">2022-04-20</td>
        <td th:text="${box.modDt}">2022-04-20</td>
    </tr>

    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>

<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(boxPaging['page'] / maxPage) * maxPage + 1},
                        end=(${(boxPaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < boxPaging['totalPage'] ? start + (maxPage - 1) : boxPaging['totalPage'])})
    ">
    <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoBoxList('0');">
        <i class="fa fa-angle-double-left"></i></button>

    <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoBoxList([[${start - maxPage -1}]]);|">
        <i class="fa fa-angle-left"></i></button>
    <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoBoxList(0);">
        <i class="fa fa-angle-left"></i></button>

    <!-- for문 사용 리스스 출력 시작 -->
    <th:block th:each="num : ${#numbers.sequence(start,end)}">
        <button type="button" th:if="${num} == ${boxPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoBoxList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
        <button type="button" th:unless="${num} == ${boxPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoBoxList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
    </th:block>
    <!-- for문 사용 리스스 출력 끝 -->

    <button type="button" th:if="${end < boxPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoBoxList('${start + maxPage -1}');|">
        <i class="fa fa-angle-right"></i>
    </button>
    <button type="button" th:unless="${end < boxPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoBoxList('${boxPaging['totalPage'] - 1}');|">
        <i class="fa fa-angle-right"></i></button>

    <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoBoxList('${boxPaging['totalPage'] - 1}');|">
        <i class="fa fa-angle-double-right"></i>
    </button>
    </th:block>
</div>
