<script type="text/javascript">

    function fnDoSaveBox() {
        var f = document.popupForm;
        var formData = $('#popupForm').serialize();
        var form = $('#popupForm')[0];
        var formData2 = new FormData(form);


        if (f.boardTitle.value == '') {
            alert("제목을 입력해주세요.");
            return false;
        }
        
        var reqUrl = "";
        var page = ($('#page').val() != "" || $('#page').val() != null) ? $('#page').val() : 0;

        if (f.flag.value == 'add') {
            reqUrl = "operation/globalbox/insertInfo";
        } else {
            reqUrl = "operation/globalbox/updateInfo"
        }

        $.ajax({
            url: reqUrl,
            type: "POST",
            cache: false,
            dataType: "json",
            data: formData2,
            processData: false,
            contentType: false,
            async: false,
            success: function (data) {
                alert("저장하였습니다.");
                fnDoBoxList(page);
                wn_modalClose();
            },
            error: function (e) {
                console.log(e);
            }
        });

    }


    $(document).ready(function () {
        $("#datepicker3").datepicker({
            dateFormat: "yy-mm-dd"
        });
    });
</script>
<style>
    .auth-menu {
        border: 1px #000 solid;
        border-radius: 5px;
        width: 100px;
        height: 25px;
        text-align: center;
    }

    #addProj {
        font-size: large;
        font-weight: bold;
    }

    #addMenu {
        display: inline;
        margin-right: 10px;
    }

    .viewText {
        font-weight: bold;
        margin-top: 15px;
    }

    .viewTextContent {
        background: #F7F8F9 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 2;
        padding: 13px 20px;
    }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal">
    <th:block th:if="${boxOne.boxSeq} == null or ${boxOne.boxSeq} == ''">
        <input type="hidden" name="flag" id="flag" value="add"/>
    </th:block>
    <th:block th:unless="${boxOne.boxSeq} == null or ${boxOne.boxSeq} == ''">
        <input type="hidden" name="flag" id="flag" value="modify"/>
        <input type="hidden" name="boxSeq" id="boxSeq" th:value="${boxOne.boxSeq}"/>
    </th:block>

    <div class="modal-body p-all-0">
        <div class="ibox float-e-margins">
            <div class="ibox-content">

                <div class="form-box">
                    <label class="col-5 label-title m-t-s">제목</label>
                    <div class="col-5">
                        <input style="width: 100%; margin-bottom: 10px;" type="text" id="boardTitle" name="boardTitle"
                               class="col-5 input-control" placeholder="제목을 입력하세요" maxlength="40"
                               th:value="${boxOne.boardTitle}">
                    </div>
                </div>

                <div class="form-box">
                    <div class="viewText">
                        연결 URL 선택
                    </div>
                    <div style="padding: 14px; height: 56px; float:left;" class="col-5 viewTextContent">
                        <select name="pathSeq" id="pathSeq" class="btn-primary term" style="margin-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; float: left;">
                            <option value="">검색유형</option>
                            <th:block th:each="frontPath, i : ${frontPathList}">
                                <option th:if="${frontPath.pathSeq} == ${boxOne.pathSeq}" th:value="${frontPath.pathSeq}" th:text="${frontPath.pathName}" selected="selected"></option>
                                <option th:unless="${frontPath.pathSeq} == ${boxOne.pathSeq}" th:value="${frontPath.pathSeq}" th:text="${frontPath.pathName}"></option>
                            </th:block>

                        </select>
                    </div>
                </div>

                <div class="form-box " style="clear: both; padding-top:5px;">
                    <label class="col-5 m-t-s block">사용여부 <span class="necessary">*</span></label>
                    <div class="col-5 bk-input" style="height: 48px; padding: 14px;">
                        <div class="col-5">
                            <label for="useYnY" style="width: 50px; float: left; margin-right: 12px;">
                                <input type="radio" name="useYn" id="useYnY" value="Y" class="m-r-m"
                                       style="margin-right: 4px;" th:if="${boxOne.useYn} == 'Y'"
                                       checked="checked">
                                <input type="radio" name="useYn" id="useYnY" value="Y" class="m-r-m"
                                       style="margin-right: 4px;" th:unless="${boxOne.useYn} == 'Y'">
                                예
                            </label>
                            <label for="useYnN" style="width: 70px;">
                                <input type="radio" name="useYn" id="useYnN" value="N" style="margin-right: 4px;"
                                       th:if="${boxOne.useYn} != 'Y'" checked="checked">
                                <input type="radio" name="useYn" id="useYnN" value="N" style="margin-right: 4px;"
                                       th:unless="${boxOne.useYn} != 'Y'">
                                아니오
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
        <button type="button" class="btn btn-submit" onclick="fnDoSaveBox();" th:text="#{common.button.save}">
            저장
        </button>
    </div>

</form>