<script type="text/javascript">

  function fnDoSaveReport() {
    var f = document.popupForm;
    var formData = $('#popupForm').serialize();

    /*
    if (f.nm.value == '') {
      alert("서브 시스템명을 입력해주세요.");
      return false;
    }
    if (f.ty.value == '') {
      alert("서브 시스템 타입을 선택해주세요.");
      return false;
    }
    if (formData.search("menuIdArr") == -1) {
      alert("메뉴를 선택해 주세요.");
      return false;
    }

    var reqUrl = "";
    if (f.flag.value == 'add') {
      reqUrl = "environmental/report/insertInfo";
    } else {
      reqUrl = "environmental/report/updateInfo"
    }
    $.ajax({
      url: reqUrl,
      type: "POST",
      cache: false,
      dataType: "json",
      data: formData,
      async: false,
      success: function (data) {
        alert("저장하였습니다.");
        fnDoList(1);
        wn_modalClose();
      },
      error: function (e) {
        console.log(e);
      }
    });

     */

    alert("처리했습니다.");
    return;
  }

  $(document).ready(function () {
  });
</script>
<style>
  .auth-menu {
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
  }

  #addProj {
    font-size: large;
    font-weight: bold;
  }

  #addMenu {
    display: inline;
    margin-right: 10px;
  }

  .viewText {
    font-weight:bold;
    margin-top: 15px;
  }

  .viewTextContent {
    background: #F7F8F9 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 2;
    padding:13px 20px;
  }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal">
  <th:block th:if="${petitionOne.petiNo} == null or ${petitionOne.petiNo} == ''">
    <input type="hidden" name="flag"  value="add" />
  </th:block>
  <th:block th:unless="${petitionOne.petiNo} == null or ${petitionOne.petiNo} == ''">
    <input type="hidden" name="flag" value="modify" />
    <input type="hidden" name="petiNo" th:value="${petitionOne.petiNo}"/>
  </th:block>

  <div class="modal-body p-all-0">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <div class="form-box">
          <div class="viewText">
            제목
          </div>
          <div class="col-5 viewTextContent" th:text="${petitionOne.title}">
            <!-- 제목 -->
          </div>
        </div>

        <div class="form-box">
          <div class="viewText">
            민원인
          </div>
          <div class="col-5 viewTextContent" th:text="${petitionOne.name}"></div>
        </div>

        <div class="form-box">
          <div class="viewText">
            민원인 연락처
          </div>
          <div class="col-5 viewTextContent" th:text="${petitionOne.cellPhone}"></div>
        </div>

        <div class="form-box">
          <div class="viewText">
            장소
          </div>
          <div class="col-5 viewTextContent">
            ([[${petitionOne.zipCode}]]) [[${petitionOne.address1}]] [[${petitionOne.address2}]]
          </div>
        </div>

        <div class="form-box">
          <div class="viewText">
            접수일
          </div>
          <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${#strings.substring(petitionOne.regDtTime,0, 4) + '-' + #strings.substring(petitionOne.regDtTime,4, 6) + '-' + #strings.substring(petitionOne.regDtTime,6, 8)}"></div>
        </div>

        <div id="responseBox_0" class="responseBox" style="margin-top: 20px;">
          <div class="responseList_0 bk-input p-m p-b-m" id="contentSt_0" style="">
            <div class="form-box col-5"><label class="col-1 m-r-m block">내용</label></div>
            <div class="col-5" th:utext="${#strings.replace(petitionOne.reason, nlString, '&lt;br /&gt;')}">
              <p>내용입니다!!!!!!!</p>
              <p>내용입니다!!!!!!!</p>
              <p>내용입니다!!!!!!!</p>
              <p>내용입니다!!!!!!!</p>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
    <!--
    <button type="button" class="btn btn-submit" onclick="fnDoSaveReport();" th:text="#{common.button.save}">
    저장</button>
    -->
  </div>
</form>