<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        function fnDoSaveDeclarationPoint() {
            var f = document.form1;
            var formData = $('#form1').serialize();

            if (f.declarationSeq.value == '') {
                alert("관리자에게 문의하세요.");
                return false;
            }
            if (f.declarationPoint.value == '') {
                alert("접수 마일리지를 입력해주세요.");
                return false;
            }

            var reqUrl = "operation/declarationPoint/updateInfo"
            $.ajax({
                url: reqUrl,
                type: "POST",
                cache: false,
                dataType: "json",
                data: formData,
                async: false,
                success: function (data) {
                    $('#nowDeclarationPoint').empty().text(f.declarationPoint.value);
                    alert("저장하였습니다.");

                },
                error: function (e) {
                    console.log(e);
                }
            });
        }

        $(document).keyup(function(event) {
        });
    </script>

    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">카카오톡 챗봇 마일리지 설정</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
        </div>
    </div>

    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <input type="hidden" name="declarationSeq" th:value="${declarationPointOne.declarationSeq}">
                        <div style="font-size: 16px; padding-bottom: 12px; color: #222222; font-weight: bold;">
                            접수 마일리지를 적용합니다.
                        </div>
                        <div>
                            <p style="padding-left: 10px; color:#222222;">- 접수 등록 시 지급할 마일리지를 입력해주세요.</p>
                            <p style="padding-left: 10px; color:#222;">- 등록 시 바로 적용되는점 유의바랍니다.</p>
                        </div>
                        <div style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; margin-top: 32px; ">
                            <div style="display: flex; align-items: center; height: 82px; border-bottom: 1px solid #ccc;">
                                <p style="background-color: #DCDDE0; width: 238px; height: 100%; text-align: center; line-height: 82px; margin: 0; font-weight: bold">현재 적용된 마일리지</p>
                                <p style="padding-left: 40px; line-height: 82px; margin: 0; font-weight: bold; font-size: 20px;" id="nowDeclarationPoint" th:text="${declarationPointOne.declarationPoint}"></p>
                            </div>
                            <div style="display: flex; align-items: center; height: 82px; ">
                                <p style="background-color: #DCDDE0; width: 238px; height: 100%; text-align: center; line-height: 82px; margin: 0; font-weight: bold">변경할 마일리지</p>
                                <div style="padding-left: 40px;">
                                    <input name="declarationPoint" id="declarationPoint" style="background-color: #F0F2F5; width: 352px; height: 48px; margin-right: 12px; border-radius: 4px; border: none; padding-left: 16px; color: #999999" placeholder="마일리지를 입력해주세요"  />
                                    <button style="background-color: #3363FF; border: none; width: 82px; height: 48px; color: #fff; border-radius: 4px;" onclick="fnDoSaveDeclarationPoint()">저장</button>
                                </div>
                            </div>
                        </div>
                        <div class="row"></div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    
</th:block>
</html>