<input type="hidden" id="listLength" th:value="${permiPaging.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="list_table">
    <colgroup>
        <col style="width: 1%;"><!-- 체크박스 -->
        <col style="width: 5%;"><!-- 번호 -->
        <col style="width: 10%;"><!-- 권한명  -->
        <col style="width: 44%;"><!-- 메뉴권한 -->
        <col style="width: 10%;"><!-- 등록일자 -->
        <col style="width: 10%;"><!-- 등록자 -->
        <col style="width: 10%;"><!-- 수정일자 -->
        <col style="width: 10%;"><!-- 수정자 -->
    </colgroup>
    <thead>
    <tr>
        <th class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" onchange="fnDoChkAll(this);">
                <label for=""></label>
            </div>
        </th>
        <th>번호</th>
        <th>권한명</th>
        <th>메뉴권한</th>
        <th>등록일자</th>
        <th>등록자</th>
        <th>수정일자</th>
        <th>수정자</th>
    </tr>
    </thead>
    <tbody id="list_table_tbody">

    <!-- for문 사용 리스스 출력 시작 -->

   <tr th:each="permission, i : ${permiList}">
        <td class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" name="permission_seq" th:id="${'id_' + permission.permissionSeq}" th:value="${permission.permissionSeq}">
                <label th:for="${'id_' + permission.permissionSeq}"></label>
            </div>
        </td>
        <td th:text="${#numbers.formatInteger(permiPaging.totalSize - (i.count + ((permiPaging.page) * permiPaging.size)) + 1, 0, 'COMMA')}">1 </td>
        <td><a href="javascript:;" th:onclick="fnDoPopupPermissionManage([[${permission.permissionSeq}]]);"  th:text="${permission.permissionName}">전체관리자</a></td>
        <td style="text-align: left" th:text="${permission.permissionNameList}">대시보드, 환경관리, 챗봇 관리, 운영관리</td>
        <td th:text="${#strings.substring(permission.regDt,0, 10)}">2022-05-10</td>
        <td th:text="${permission.regSeqName}">정병철</td>
        <td th:text="${#strings.substring(permission.modDt,0, 10)}">2022-05-11</td>
        <td th:text="${permission.modSeqName}">손주련</td>
    </tr>

    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>

<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(permiPaging['page'] / maxPage) * maxPage + 1},
                        end=(${(permiPaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < permiPaging['totalPage'] ? start + (maxPage - 1) : permiPaging['totalPage'])})
    ">
        <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoPermissionList('0');">
            <i class="fa fa-angle-double-left"></i></button>

        <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoPermissionList([[${start - maxPage}]]);|">
            <i class="fa fa-angle-left"></i></button>
        <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoPermissionList(0);">
            <i class="fa fa-angle-left"></i></button>

        <!-- for문 사용 리스스 출력 시작 -->
        <th:block th:each="num : ${#numbers.sequence(start,end)}">
            <button type="button" th:if="${num} == ${permiPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoPermissionList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
            <button type="button" th:unless="${num} == ${permiPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoPermissionList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
        </th:block>
        <!-- for문 사용 리스스 출력 끝 -->

        <button type="button" th:if="${end < permiPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoPermissionList('${start + maxPage}');|">
            <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" th:unless="${end < permiPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoPermissionList('${permiPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-right"></i></button>

        <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoPermissionList('${permiPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </th:block>
</div>