<script type="text/javascript">

    function fnDoSaveBoard() {
        var f = document.popupForm;
        var formData = $('#popupForm').serialize();
        var form = $('#popupForm')[0];
        var formData2 = new FormData(form);

        if (f.boardTitle.value == '') {
            alert("제목을 입력해주세요.");
            return false;
        }
        if (quill.getLength() === 1) {
            alert("내용을 입력해주세요.");
            return false;
        }
        if (formData.search("useYn") == -1) {
            alert("사용여부을 선택해 주세요.");
            return false;
        }

        var reqUrl = "";
        var page = ($('#page').val() != "" || $('#page').val() != null) ? $('#page').val() : 0;

        if (f.flag.value == 'add') {
            reqUrl = "operation/board/insertInfo";
        } else {
            reqUrl = "operation/board/updateInfo"
        }

        formData2.append("boardContent", $(".ql-editor").html());

        $.ajax({
            url: reqUrl,
            type: "POST",
            cache: false,
            dataType: "json",
            data: formData2,
            processData: false,
            contentType: false,
            async: false,
            success: function (data) {
                alert("저장하였습니다.");
                fnDoMetaBoardList(page);
                wn_modalClose();
            },
            error: function (e) {
                console.log(e);
            }
        });

    }

    function fnDoAttDel(val1,  val2) {

        var formdata = {"boardAttSeq" : val1};

        if (confirm("첨부파일을 정말로 삭제하시겠습니까?")) {

            $.ajax({
                url: "operation/board/deleteAtt",
                type: 'POST',
                cache: false,
                dataType: "html",
                data: formdata,
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    alert("삭제하였습니다.");
                    $('#att_' + val2).remove();
                }
            });
        }
    }

    function fnDoPlusFile(){

        var html = "";
        html += "<div id='col-5'>\n";
        html += '<input style="padding: 14px; height: 48px; width: 87%; margin-bottom: 10px; margin-right: 3%; float: left;" type="file" name="uploadfile" id="uploadfile" class="col-5 input-control" placeholder="첨부파일 등록하세요">';
        html += '<button type="button" class="btn btn-submit" style="padding:14px;margin-bottom: 10px;" onClick="fnDoPlusFile();">추가</button>';
        html += "</div>\n";

        $('#fileDiv').append(html);
    }

    function fnDoAttDown(val1, val2) {
        location.href = "/admin/util/download?filename=" + val1 + "&ori=" + val2;
    }

    $(document).ready(function () {
        $("#datepicker3").datepicker({
            dateFormat: "yy-mm-dd"
        });
    });
</script>
<style>
    .auth-menu {
        border: 1px #000 solid;
        border-radius: 5px;
        width: 100px;
        height: 25px;
        text-align: center;
    }

    #addProj {
        font-size: large;
        font-weight: bold;
    }

    #addMenu {
        display: inline;
        margin-right: 10px;
    }

    .viewText {
        font-weight: bold;
        margin-top: 15px;
    }

    .viewTextContent {
        background: #F7F8F9 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 2;
        padding: 13px 20px;
    }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal">
    <th:block th:if="${boardOne.boardSeq} == null or ${boardOne.boardSeq} == ''">
        <input type="hidden" name="flag" id="flag" value="add"/>
    </th:block>
    <th:block th:unless="${boardOne.boardSeq} == null or ${boardOne.boardSeq} == ''">
        <input type="hidden" name="flag" id="flag" value="modify"/>
        <input type="hidden" name="boardSeq" id="boardSeq" th:value="${boardOne.boardSeq}"/>
    </th:block>
    <input type="hidden" name="boardType" id="boardType" th:value="${boardOne.boardType}"/>

    <div class="modal-body p-all-0">
        <div class="ibox float-e-margins">
            <div class="ibox-content">

                <div class="form-box">
                    <label class="col-5 label-title m-t-s">제목</label>
                    <div class="col-5">
                        <input style="width: 100%; margin-bottom: 10px;" type="text" id="boardTitle" name="boardTitle"
                               class="col-5 input-control" placeholder="제목을 입력하세요" maxlength="40"
                               th:value="${boardOne.boardTitle}">
                    </div>
                </div>

                <!--   text Editor     -->
                <div class="form-box" style="overflow: hidden">
                    <label class="col-5 label-title m-t-s">내용</label>
                </div>
                <div class="form-box">
                    <div class="col-5" style="height: 400px;">
                        <div id="editor"></div>
                    </div>
                </div>
                <script th:inline="javascript">
                    var quill = new Quill('#editor', {
                        theme: 'snow'
                    });
                    $(".ql-editor").html([[${boardOne.boardContent}]]);
                </script>

                <div class="form-box" style="margin-top: 50px;">
                    <label class="col-5 label-title m-t-s">첨부파일</label>
                    <div id="fileDiv">
                        <div class="col-5">
                            <input style="padding: 14px; height: 48px; width: 87%; margin-bottom: 10px; float: left; margin-right: 3%;" type="file" name="uploadfile"
                                   id="uploadfile" class="col-5 input-control" placeholder="첨부파일 등록하세요">
                            <button type="button" class="btn btn-submit" style="padding:14px; margin-bottom: 10px;" onclick="fnDoPlusFile();" >
                                추가
                            </button>
                        </div>
                    </div>
                </div>
                <th:block th:if="${boardAttList} != null">
                    <th:block th:if="${boardAttList.size()} > 0">
                        <th:block th:each="boardAtt, i : ${boardAttList}">
                            <div style="clear:both;">
                                <!--<i style="color: #58616B; font-size: 16px; margin-right: 5px;" class="fas fa-arrow-alt-circle-down"></i>-->
                                <!--<a style="color: #777" th:href="${boardAtt}">첨부파일</a>-->
                                <div th:id="${'att_' + i.index}" style="padding: 10px;">
                                    <th:block th:if="${#strings.endsWith(boardAtt.boardAtt,'jpg')} or ${#strings.endsWith(boardAtt.boardAtt,'gif')} or ${#strings.endsWith(boardAtt.boardAtt,'png')}">
                                        <img th:src="${boardAtt.boardAtt}" style="max-width: 300px; max-height: 230px;">
                                    </th:block>
                                    <th:block th:unless="${#strings.endsWith(boardAtt.boardAtt,'jpg')} or ${#strings.endsWith(boardAtt.boardAtt,'gif')} or ${#strings.endsWith(boardAtt.boardAtt,'png')}">
                                        첨부파일
                                    </th:block>
                                    <button type="button" class="btn btn-manage btn-sm" style="padding-left: 20px;" th:onclick="fnDoAttDown([[${boardAtt.boardAttPath}]], [[${boardAtt.boardAttOri}]]);">
                                        <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="다운로드"/>&nbsp;다운로드
                                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-manage btn-sm" style="padding-left: 20px;" th:onclick="fnDoAttDel([[${boardAtt.boardAttSeq}]], [[${i.index}]]);">
                                        <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제"/>&nbsp;삭제
                                    </button>
                                </div>
                            </div>
                        </th:block>
                    </th:block>
                </th:block>


                <div class="form-box ">
                    <label class="col-5 m-t-s block">사용여부 <span class="necessary">*</span></label>
                    <div class="col-5 bk-input" style="height: 48px; padding: 14px;">
                        <div class="col-5">
                            <label for="useYnY" style="width: 50px; float: left; margin-right: 12px;">
                                <input type="radio" name="useYn" id="useYnY" value="Y" class="m-r-m"
                                       style="margin-right: 4px;" th:if="${boardOne.useYn} == 'Y'"
                                       checked="checked">
                                <input type="radio" name="useYn" id="useYnY" value="Y" class="m-r-m"
                                       style="margin-right: 4px;" th:unless="${boardOne.useYn} == 'Y'">
                                예
                            </label>
                            <label for="useYnN" style="width: 70px;">
                                <input type="radio" name="useYn" id="useYnN" value="N" style="margin-right: 4px;"
                                       th:if="${boardOne.useYn} != 'Y'" checked="checked">
                                <input type="radio" name="useYn" id="useYnN" value="N" style="margin-right: 4px;"
                                       th:unless="${boardOne.useYn} != 'Y'">
                                아니오
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
        <button type="button" class="btn btn-submit" onclick="fnDoSaveBoard();" th:text="#{common.button.save}">
            저장
        </button>
    </div>
</form>
