
<section class="line_share">
    <article class="share4">

        <div class="share_box2">
            <div class="bbbb_y">
                전체 건수
            </div>
            <div class="bbbb_t" th:text="${#numbers.formatInteger(alarmtalkInfo.total, 0, 'COMMA') + '%'}">1234건</div>
        </div>
    </article>
    <article class="share4">

        <div class="share_box2">
            <div class="bbbb_y">
                발송 성공(건/비율)
            </div>
            <div class="bbbb_t" th:text="${#numbers.formatInteger(alarmtalkInfo.success, 0, 'COMMA') + '건 / ' + alarmtalkInfo.successRate + '%'}">1232건/98%</div>
        </div>
    </article>
    <article class="share4">

        <div class="share_box2">
            <div class="bbbb_y">
                발송 실패(건/비율)
            </div>
            <div class="bbbb_t" th:text="${#numbers.formatInteger(alarmtalkInfo.fail, 0, 'COMMA') + '건 / ' + alarmtalkInfo.failRate + '%'}">1232건/98%</div>
        </div>
    </article>
    <article class="share4">

        <div class="share_box2">
            <div class="bbbb_y">
                알림톡(건/비율)
            </div>
            <div class="bbbb_t" th:text="${#numbers.formatInteger(alarmtalkInfo.kakao, 0, 'COMMA') + '건 / ' + alarmtalkInfo.kakaoRate + '%'}">1232건/98%</div>
        </div>
    </article>
    <article class="share4">
        <div class="share_box2">
            <div class="bbbb_y">
                문자(건/비율)
            </div>
            <div class="bbbb_t" th:text="${#numbers.formatInteger(alarmtalkInfo.sms, 0, 'COMMA') + '건 / ' + alarmtalkInfo.smsRate + '%'}">1232건/98%</div>
        </div>
    </article>
</section>

<hr />