<input type="hidden" id="listLength" th:value="${alarmtalkPaging.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="list_table">
    <colgroup>
        <col style="width: 5%;"><!-- 번호 -->
        <col style="width: 20%;"><!-- 알림톡  템플릿명  -->
        <col style="width: 20%;"><!-- 발송일자 -->
        <col style="width: 10%;"><!-- 수신자 -->
        <col style="width: 10%;"><!-- 발송타입 -->
        <col style="width: 10%;"><!-- 발송결과 -->
        <col style="width: 25%;"><!-- 발송결과 상세 -->
    </colgroup>
    <thead>
    <tr>
        <th>번호</th>
        <th>TmpKey</th>
        <th>발송일자</th>
        <th>수신자</th>
        <th>발송타입</th>
        <th>발송결과</th>
        <th>발송결과 상세</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->

    <tr th:each="alarmtalk, i : ${alarmtalkList}">
        <td th:text="${#numbers.formatInteger(alarmtalkPaging.totalSize - (i.count + ((alarmtalkPaging.page) * alarmtalkPaging.size)) + 1, 0, 'COMMA')}">1 </td>
        <td th:text="${alarmtalk.msgNoticetalkTmpKey}">tem</td>
        <td th:text="${alarmtalk.sentDate}">발송일자</td>
        <td th:text="${alarmtalk.callTo}">수신자</td>
        <td th:text="${alarmtalk.sendType}">발송타입</td>
        <td th:text="${alarmtalk.sendRslt}">발송결과</td>
        <td th:text="${alarmtalk.rsltText}">발송결과 상세</td>
    </tr>
    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>




<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(alarmtalkPaging['page'] / maxPage) * maxPage + 1},
                        end=(${(alarmtalkPaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < alarmtalkPaging['totalPage'] ? start + (maxPage - 1) : alarmtalkPaging['totalPage'])})
    ">
        <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoAlaramList('0');">
            <i class="fa fa-angle-double-left"></i></button>

        <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoAlaramList([[${start - maxPage -1}]]);|">
            <i class="fa fa-angle-left"></i></button>
        <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoAlaramList(0);">
            <i class="fa fa-angle-left"></i></button>

        <!-- for문 사용 리스스 출력 시작 -->
        <th:block th:each="num : ${#numbers.sequence(start,end)}">
            <button type="button" th:if="${num} == ${alarmtalkPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoAlaramList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
            <button type="button" th:unless="${num} == ${alarmtalkPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoAlaramList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
        </th:block>
        <!-- for문 사용 리스스 출력 끝 -->

        <button type="button" th:if="${end < alarmtalkPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoAlaramList('${start + maxPage -1}');|">
            <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" th:unless="${end < alarmtalkPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoAlaramList('${alarmtalkPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-right"></i></button>

        <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoAlaramList('${alarmtalkPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </th:block>
</div>
