<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">


    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link th:href="@{/css/style_choi.css}" rel="stylesheet">
    <style>
        .bbbb_y{
            padding: 10px 0px;
            text-align: center;
            background: #ffcc00;
            font-size: 16px;
            font-weight: 600;
            border-bottom: 1px solid #dcb92c;
        }

        .bbbb_g{
            padding: 10px 0px;
            text-align: center;
            background: #0ED128;
            font-size: 16px;
            font-weight: 600;
            border-bottom: 1px solid #18a82b;
        }

        .bbbb_b{
            padding: 10px 0px;
            text-align: center;
            background: #00A8FF;
            font-size: 16px;
            font-weight: 600;
            border-bottom: 1px solid #0e7bb4;
        }

        .bbbb_r{
            padding: 10px 0px;
            text-align: center;
            background: #EA002C;
            font-size: 16px;
            font-weight: 600;
            border-bottom: 1px solid #9d1731;
        }

        .bbbb_p{
            padding: 10px 0px;
            text-align: center;
            background: #da37cc;
            font-size: 16px;
            font-weight: 600;
            border-bottom: 1px solid #7a1b72;
        }
        .share_box2{
            width: 100%;
            min-height: 102px;
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 0px;
        }
        .bbbb_t{
            padding: 15px 0px;
            text-align: center;
            font-size: 24px;
            font-weight: 700;
        }
    </style>

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function () {
            //ajax 준비중입니다.
            fnDoInitReportList();


            // $("#datepicker3").datepicker({dateFormat: 'yy-mm-dd'});
            // $("#datepicker4").datepicker({dateFormat: 'yy-mm-dd'});
            // $("#datepicker5").datepicker({dateFormat: 'yy-mm-dd'});
        });

        //요약Info만 불러오기
        function fnDoReportInfo() {
            var f = document.form1;
            console.log("test");
            $.ajax({
                url: "chatbot/alarmtalk/infoAjax",
                type: 'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    document.getElementById("infoArea").innerHTML = data;
                }
            });
        }

        //리스트만 불러오기
        function fnDoAlaramList(page) {
            var f = document.form1;

            if(f.sdate.value != ""){
                if(f.edate.value == ""){
                    alert("종료일을 선택하세요.");
                    return;
                }
            }

            if(f.edate.value != ""){
                if(f.sdate.value == ""){
                    alert("시작일을 선택하세요.");
                    return;
                }
            }

            if(f.edate.value != "" && f.edate.value != ""){
                if(f.sdate.value > f.sdate.value){
                    alert("시작일이 종료일보다 작습니다. 다시 시작일을 선택하세요.");
                    return;
                }
            }

            f.page.value = page;
            console.log("test");
            $.ajax({
                url: "chatbot/alarmtalk/listAjax",
                type: 'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function () {
                    console.log('error');
                },
                success: function (data) {
                    document.getElementById("listArea").innerHTML = data;
                    wn_setSortTable();
                }
            });
        }

        //액셀 다운
        function fnExcelDownloadAlarmtalkList() {

            if ($("#listLength").val() == "0") {
                alert("검색결과 목록이 없습니다.");

            } else {
                var f = document.form1;
                f.action = "downExcel";
                f.submit();
            }

        }

        function fnDoInitReportList() {
            document.form1.reset();
            setDateBox();
            fnDoReportInfo();
            fnDoAlaramList(0);
        }

        function fnDoMonthChange(val) {
            var yyyymm = val.replace("-", "");
            $('#yyyymm').val(yyyymm);

            fnDoReportInfo();
            fnDoAlaramList(0);
        }

        $(document).keyup(function (event) {
            if ($("#searchString").is(":focus") && event.key == "Enter") {
                // Do work
                fnDoAlaramList(0);
            }
        });

        // select box 연도 , 월 표시
        function setDateBox() {

            var startDate = new Date(2022, 4, 1);
            var nowDate = new Date();
            var year1 = startDate.getFullYear();
            var year2 = nowDate.getFullYear();
            var month1 = startDate.getMonth() + 1;
            var month2 = nowDate.getMonth() + 1;

            var numberOfMonths = (year2 - year1) * 12 + (month2 - month1) + 1;

            var year3 = year2;
            var month3 = month2;
            var k = 0;
            var ii = 0;
            var html = "";


            for (i = 0; i < numberOfMonths; i++) {

                k = month2--;

                if (k < 10 && k > 0) {
                    month3 = "0" + k;
                    ii++;
                } else if (k == 0) {
                    year3 -= 1;
                    month3 = 12;
                    month2 = 11;
                    ii = 0;
                } else {
                    month3 = k;
                }


                html += "<option value='" + year3 + "-" + month3 + "'>" + year3 + "-" + month3 + "</option>";
            }
            $("#selectExcelMonth").append(html);

            if ((nowDate.getMonth() + 1) < 10) {
                month2 = "0" + (nowDate.getMonth() + 1);
            }
            $("#selectedExcelYYYYMM").val(+nowDate.getFullYear() + "-" + month2);
        }
    </script>


    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">
                카카오 챗봇 민원 알람 내역</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
        </div>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <input type="hidden" name="page" id="page" th:value="${alarmtalkPaging['page']}"/>
                        <input type="hidden" name="size" id="size" th:value="10"/>
                        <input type="hidden" name="selectedExcelYYYYMM" id="selectedExcelYYYYMM"/>
                        <input type="hidden" name="yyyymm" id="yyyymm" th:value="${yyyymm}"/>

                        <div class="col-12" style="display: flex; align-items: center; width: 100%; justify-content: space-between" >

                            <div style="display: flex; align-items: center; ">
                                <!--
                                <p style="margin-right: 10px;"><strong>접수 :</strong> 0건</p>
                                <p style="margin-right: 10px;"><strong>처리중 :</strong> 0건</p>
                                <p style="margin-right: 10px;"><strong>완료 :</strong> 0건</p>
                                <th:block th:if="${pageType}=='C'">
                                <p><strong>마일리지 지급 예정 :</strong> 0건</p>
                                </th:block>
                                -->
                            </div>
                        </div>
                        <div style="margin-bottom: 20px; min-height: 32px;">
                            <span class="font-size-16 bold font-color" style="font-size: 16px !important; float: left;">월 선택 : </span>
                            <select name="selectExcelMonth" id="selectExcelMonth" class="btn-primary term" style="margin-left: 10px; float: left;"
                                    onchange="document.form1.selectedExcelYYYYMM.value = this.value;fnDoMonthChange(this.value);">
                            </select>
                        </div>
                        <div id="infoArea">


                        </div>
                        
                        <div class="row"></div>

                        <div class="title">
                            <span class="font-size-16 bold font-color" style="font-size: 16px !important;">알림톡 상세 이력</span>
                            <span class="font-size-16 bold font-color" style="font-size: 13px !important;">
                                <select name="sdate" id="sdate" style="margin-left: 10px;color: #999;border: 1px solid #f0f0f0;padding: 5px;">
                                    <option value="">시작일 선택</option>
                                    <tb:block th:each="num : ${#numbers.sequence(1,31)}">
                                        <option th:value="${num}" th:text="${num}">시작일 선택</option>
                                    </tb:block>
                                </select>
                            </span>
                            <span class="font-size-16 bold font-color" style="font-size: 13px !important;">
                                <select name="edate" id="edate" style="margin-left: 10px;color: #999;border: 1px solid #f0f0f0;padding: 5px;">
                                    <option value="">종료일 선택</option>
                                    <tb:block th:each="num : ${#numbers.sequence(1,31)}">
                                        <option th:value="${num}" th:text="${num}">종료일 선택</option>
                                    </tb:block>
                                </select>
                            </span>
                            <span class="font-size-16 bold font-color" style="font-size: 16px !important; margin-left: 9px;"><input type="text" id="searchString" name="searchString" maxlength="20" placeholder="수신자 검색" class="form-control brdr-rd input-sm inline"  style="width:160px;"></span><span><button type="button" class="btn-srch" style="height: 29px;" onclick="fnDoAlaramList(0);">검색</button></span>

                            <span class="pull-right">
                                    <button type="button" class="btn btn-manage btn-sm pull-right" style="margin-right: 3px;"
                                            onclick="fnExcelDownloadAlarmtalkList();">
                                        <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
                                    </button>
                                </span>
                        </div>
                        <div id="listArea">


                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

</th:block>
</html>