<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
    <title>부천시 스마트시티</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./css/style_choi.css" />
    <script type="text/javascript" src="./js/jquery.min.js"></script>
</head>

<body>

<div class="wrap_bg">
    <section class="movie_contain">
        <th:block th:if="${board.boardAttList.size()} > 0">
            <th:block th:each="img, i : ${board.boardAttList}">
                <video autoplay="autoplay" id="myVideo" controls loop>
                    <source th:src="${i.current}" style="max-width: 1200px; width: 100%;" type="video/mp4" />
                </video>
            </th:block>
        </th:block>
        <th:block th:unless="${board.boardAttList.size()} > 0">
            등록된 동영상이 없습니다.
        </th:block>

    </section>
</div>

</body>

</html>