<script type="text/javascript" th:inline="javascript">
  $(document).ready(function () {
    $("#startDatetime").datetimepicker({
      format: "Y.m.d H:i:s",
      lang: 'kr'
    });

    $("#endDatetime").datetimepicker({
      format: "Y.m.d H:i:s",
      lang: 'kr'
    });

    [[${word.startDatetime}]] !== null && $("#startDatetime").val(moment([[${word.startDatetime}]]).format('YYYY.MM.DD H:m:s'));
    [[${word.endDatetime}]] !== null && $("#endDatetime").val(moment([[${word.endDatetime}]]).format('YYYY.MM.DD H:m:s'));
  });

  function fnDoSave() {
    var f = document.popupForm;

    if (f.word.value.length === 0) {
      alert("단어를 입력해주세요.");
      return false;
    }
    if (f.startDatetime.value === '') {
      alert("시작일시를 선택 해주세요.");
      return false;
    }
    if (f.endDatetime.value === '') {
      alert("종료일시를 선택 해주세요.");
      return false;
    }
    if (f.startDatetime.value > f.endDatetime.value) {
      alert("종료일시가 시작일시보다 빠릅니다. 다시 선택 해주세요.");
      return false;
    }

    var reqUrl = f.flag.value === 'add' ? "stopword/insertInfo" : "stopword/updateInfo";
    var data = {
      word: $("#word").val(),
      startDatetime: new Date($("#startDatetime").val()),
      endDatetime: new Date($("#endDatetime").val()),
      scope: $("#scope").val(),
      state: $("#state option:selected").val()
    }

    $.ajax({
      url: reqUrl,
      type: "POST",
      cache: false,
      dataType: "json",
      data: data,
      async: false,
      success: function (data) {
        console.log(data);
        alert("저장하였습니다.");
        fnDoList(0);
        wn_modalClose();
      },
      error: function (e) {
        console.log(e);
      }
    });
  }
</script>
<style>
  .auth-menu {
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
  }

  #addProj {
    font-size: large;
    font-weight: bold;
  }

  #addAdmin {
    display: inline;
    margin-right: 10px;
  }

  .necessary {
    color : #c93b31;
  }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal">
  <th:block th:if="${word.word} == null or ${word.word} == ''">
    <input type="hidden" name="flag"  value="add" />
  </th:block>
  <th:block th:unless="${word.word} == null or ${word.word} == ''">
    <input type="hidden" name="flag" value="modify" />
  </th:block>

  <div class="modal-body p-all-0">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="form-box">
          <label class="col-5 label-title m-t-s">단어 <span class="necessary">*</span></label>
          <div class="col-5">
            <th:block th:if="${word.word} == null or ${word.word} == ''">
              <input style="width: 100%" type="text" id="word" name="word" class="col-5 input-control">
            </th:block>
            <th:block th:unless="${word.word} == null or ${word.word} == ''">
              <input style="width: 100%" type="text" id="word" name="word" class="col-5 input-control" th:value="${word.word}" disabled>
            </th:block>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">시작일시 <span class="necessary">*</span></label>
          <div class="col-5">
            <input style="width: 100%" type="text" name="startDatetime" id="startDatetime" class="col-5 input-control">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">종료일시 <span class="necessary">*</span></label>
          <div class="col-5">
            <input style="width: 100%" type="text" name="endDatetime" id="endDatetime" class="col-5 input-control">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">범위 <span class="necessary">*</span></label>
          <div class="col-5">
            <input style="width: 100%" type="text" name="scope" id="scope" class="col-5 input-control" th:value="fullscope" disabled>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">상태 <span class="necessary">*</span></label>
          <div class="col-5">

            <select id="state" name="state" class="col-5 input-control level inline m-r-auto">
              <th:block th:if="${word.state} == 'X'">
                <option value="O">O</option>
                <option value="X" selected>X</option>
              </th:block>
              <th:block th:unless="${word.state} == 'X'">
                <option value="O" selected>O</option>
                <option value="X">X</option>
              </th:block>

            </select>
          </div>
        </div>


      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
    <button type="button" class="btn btn-submit" onclick="fnDoSave();" th:text="#{common.button.save}">저장</button>
  </div>
</form>