<input type="hidden" id="listLength" th:value="${menuPaging.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <colgroup>
        <col style="width: 1%;"><!-- 체크박스 -->
        <col style="width: 5%;"><!-- 번호 -->
        <col style="width: 10%;"><!-- 메뉴명  -->
        <col style="width: 10%;"><!-- 메뉴레벨 -->
        <col style="width: 19%;"><!-- 상위메뉴 -->
        <col style="width: 25%;"><!-- URL -->
        <col style="width: 10%;"><!-- 아이콘 -->
        <col style="width: 10%;"><!-- 사용여부 -->
        <col style="width: 10%;"><!-- 정렬순서 -->
    </colgroup>
    <thead>
    <tr>
        <th class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" onchange="fnDoChkAll(this);">
                <label for=""></label>
            </div>
        </th>
        <th>번호</th>
        <th>메뉴명</th>
        <th>메뉴레벨</th>
        <th>상위메뉴</th>
        <th>URL</th>
        <th>아이콘</th>
        <th>사용여부</th>
        <th>정렬순서</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->

    <tr th:each="menu, i : ${menuList}">
        <td class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" name="menuSeq" th:id="${'id' + menu.menuSeq}" th:value="${menu.menuSeq}">
                <label th:for="${'id' + menu.menuSeq}"></label>
            </div>
        </td>
        <td th:text="${#numbers.formatInteger(menuPaging.totalSize - (i.count + ((menuPaging.page) * menuPaging.size)) + 1, 0, 'COMMA')}">1 </td>
        <td><a href="javascript:;" th:onclick="fnDoPopupMenuManage([[${menu.menuSeq}]]);"  th:text="${menu.menuName}">대시보드</a></td>
        <td th:text="${menu.menuLevel}">1</td>
        <td th:text="${menu.pmenuName}"></td>
        <td th:text="${menu.menuUrl}"></td>
        <th:block th:if="${menu.menuIcon} != null and ${menu.menuIcon} != ''">
        <td><img th:src="${menu.menuIcon}"width="30px" height="30px" /></td>
        </th:block>
        <th:block th:unless="${menu.menuIcon} != null and ${menu.menuIcon} != ''">
        <td></td>
        </th:block>
        <td th:if="${menu.useYn} == 'Y'" th:text="사용"></td>
        <td th:unless="${menu.useYn} == 'Y'" th:text="미사용"></td>
        <td th:text="${menu.orderNum}">100</td>
    </tr>
    
    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>

<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(menuPaging['page'] / maxPage) * maxPage + 1},
                        end=(${(menuPaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < menuPaging['totalPage'] ? start + (maxPage - 1) : menuPaging['totalPage'])})
    ">
        <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoMenuList('0');">
            <i class="fa fa-angle-double-left"></i></button>

        <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoMenuList([[${start - maxPage -1}]]);|">
            <i class="fa fa-angle-left"></i></button>
        <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoMenuList(0);">
            <i class="fa fa-angle-left"></i></button>

        <!-- for문 사용 리스스 출력 시작 -->
        <th:block th:each="num : ${#numbers.sequence(start,end)}">
            <button type="button" th:if="${num} == ${menuPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoMenuList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
            <button type="button" th:unless="${num} == ${menuPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoMenuList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
        </th:block>
        <!-- for문 사용 리스스 출력 끝 -->

        <button type="button" th:if="${end < menuPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoMenuList('${start + maxPage -1}');|">
            <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" th:unless="${end < menuPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoMenuList('${menuPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-right"></i></button>

        <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoMenuList('${menuPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </th:block>

</div>