<script type="text/javascript">

  function fnDoSaveMenu() {
    var f = document.popupForm;
    var formData = $('#popupForm').serialize();
    var form = $('#popupForm')[0];
    var formData2 = new FormData(form);

    if (f.menuName.value == '') {
      alert("메뉴명을 입력해주세요.");
      return false;
    }
    if (f.menuLevel.value == '') {
      alert("메뉴 레벨을 선택해주세요.");
      return false;
    }
    if (f.menuLevel.value == '2' && f.pmenu1.value == '') {
      alert("상위 메뉴를 선택해주세요.");
      return false;
    }
    if (f.menuLevel.value == '3' && f.pmenu1.value == '') {
      alert("상위 메뉴를 선택해주세요.");
      return false;
    }
    if (f.menuLevel.value == '3' && f.pmenu1.value == '' && f.pmenu2.value == '') {
      alert("상위 메뉴를 선택해주세요.");
      return false;
    }
    if (f.menuUrl.value == '') {
      alert("메뉴 경로를 입력해주세요.");
      return false;
    }
    if (f.orderNum.value == '') {
      alert("메뉴 순서를 입력해주세요.");
      return false;
    }

    if (formData.search("useYn") == -1) {
      alert("사용여부을 선택해 주세요.");
      return false;
    }

    var reqUrl = "";
    var page = ($('#page').val() != "" || $('#page').val() != null) ? $('#page').val() : 1;
    if (f.flag.value == 'add') {
      reqUrl = "operation/menu/insertInfo";
      page = 1;
    } else {
      reqUrl = "operation/menu/updateInfo";
      page = 0;
    }

    $.ajax({
      url: reqUrl,
      type: "POST",
      cache: false,
      dataType: "json",
      enctype: 'multipart/form-data',
      data: formData2,
      processData: false,
      contentType: false,
      async: false,
      success: function (data) {

          alert("저장하였습니다.");
          fnDoMenuList(page);
          wn_modalClose();

      },
      error: function (e) {
        console.log(e);
      }
    });
  }

  function fnDoCheckAllType(obj) {
    if ($(obj).prop("checked")) {
      $(".for-sel-chkbox input[type=checkbox]", document.popupForm).prop("checked", true);
    } else {
      $(".for-sel-chkbox input[type=checkbox]", document.popupForm).prop("checked", false);
    }
  }

  function fnDoselectSubMenuCheck(data, checkBool) {
    $.each(data, function (index, value) {
      $(".for-sel-chkbox input[type=checkbox][menuId=" + value + "]", document.popupForm).prop(
              "checked", checkBool);
    });
  }

  function fnDoChangePMenuSeq(val1, val2) {

    if(val1 == '1' && val2 == ''){
      $('#pmenuSeq').val(0);
      return;
    }

    if(val1 == '1'){
      $('#pmenuSeq').val(val2);
      return;
    }

    if(val1 == '2' && val2 == ''){
      $('#pmenuSeq').val($('#pmenu1').val());
      return;
    }

    if(val1 == '2'){
      $('#pmenuSeq').val(val2);
      return;
    }

  }

  function fnDoChangeCMenu(val) {

    if(!val) return;

    var reqUrl = "operation/menu/cmenu";

    var formData = {pmenuSeq: val};

    $.ajax({
      url: reqUrl,
      type: "POST",
      cache: false,
      dataType: "json",
      data: formData,
      async: false,
      success: function (data) {

        $('#pmenu2').empty();
        var html = "";
        html += "<option value=\"\">선택</option>\n";

        $.each(data, function(index, list){

          html += "<option value=\""+list.menuSeq+"\">"+list.menuName+"</option>\n";

        });

        $('#pmenu2').append(html);

      },
      error: function (e) {
        console.log(e);
      }
    });
  }

  $(document).ready(function () {
  });
</script>
<style>
  .auth-menu {
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
  }

  #addProj {
    font-size: large;
    font-weight: bold;
  }

  #addMenu {
    display: inline;
    margin-right: 10px;
  }

  .necessary {
    color : #c93b31;
  }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal" enctype="multipart/form-data">
  <th:block th:if="${menuOne.menuSeq} == null or ${menuOne.menuSeq} == ''">
    <input type="hidden" name="flag" id="flag"  value="add" />
  </th:block>
  <th:block th:unless="${menuOne.menuSeq} == null or ${menuOne.menuSeq} == ''">
    <input type="hidden" name="flag" id="flag" value="modify" />
    <input type="hidden" name="menuSeq" id="menuSeq" th:value="${menuOne.menuSeq}"/>
  </th:block>

  <div class="modal-body p-all-0">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <div class="form-box">
          <label class="col-5 label-title m-t-s">메뉴명 <span class="necessary">*</span></label>
          <div class="col-5">
            <input type="text" name="menuName" id="menuName" class="col-5 input-control" placeholder="메뉴명을 입력하세요" th:value="${menuOne.menuName}">
          </div>
        </div>


        <div class="form-box">
          <label class="col-5 label-title m-t-s">메뉴레벨 <span class="necessary">*</span></label>
          <div class="col-5">
            <select id="menuLevel" name="menuLevel" class="col-2-5 input-control level inline m-r-auto">
              <option value="">선택</option>
              <option value="1" th:if="${menuOne.menuLevel} == 1" selected="selected">1</option>
              <option value="1" th:unless="${menuOne.menuLevel} == 1">1</option>
              <option value="2" th:if="${menuOne.menuLevel} == 2" selected="selected">2</option>
              <option value="2" th:unless="${menuOne.menuLevel} == 2">2</option>
              <option value="3" th:if="${menuOne.menuLevel} == 3" selected="selected">3</option>
              <option value="3" th:unless="${menuOne.menuLevel} == 3">3</option>
            </select>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">상위메뉴</label>
          <div class="col-5">
            <input  type="hidden" name="pmenuSeq" id="pmenuSeq" th:value="${(menuOne.pmenuSeq == null or menuOne.pmenuSeq == '') ? 0 : menuOne.pmenuSeq}">
            <select style="width: 49%; margin-right: 10px;" id="pmenu1" name="pmenu1" class="col-2-5 input-control level inline m-r-auto" onchange="fnDoChangeCMenu(this.value);fnDoChangePMenuSeq(1, this.value);">
              <option value="">선택</option>
              <!-- 메뉴 리스트 for문 -->
              <th:block th:each="pmenu1 : ${pmenu1List}">
                <option th:if="${menuOne.pmenuSeq} == ${pmenu1.menuSeq}" th:value="${pmenu1.menuSeq}" th:text="${pmenu1.menuName}" selected="selected"></option>
                <option th:unless="${menuOne.pmenuSeq} == ${pmenu1.menuSeq}" th:value="${pmenu1.menuSeq}" th:text="${pmenu1.menuName}"></option>
              </th:block>
            </select>

            <select style=" width: 49%;" id="pmenu2" name="pmenu2" class="col-2-5 input-control level inline m-r-auto" onchange="fnDoChangePMenuSeq(2, this.value);">
              <option value="">선택</option>
              <th:block th:each="pmenu2 : ${pmenu2List}">
                <option th:if="${menuOne.pmenuSeq} == ${pmenu2.menuSeq}" th:value="${pmenu2.menuSeq}" th:text="${pmenu2.menuName}" selected="selected"></option>
                <option th:unless="${menuOne.pmenuSeq} == ${pmenu2.menuSeq}" th:value="${pmenu2.menuSeq}" th:text="${pmenu2.menuName}"></option>
              </th:block>
            </select>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">경로 <span class="necessary">*</span></label>
          <div class="col-5">
            <input type="text" name="menuUrl" id="menuUrl" class="col-5 input-control" placeholder="경로를 입력하세요" th:value="${menuOne.menuUrl}">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">아이콘</label>
          <div class="col-5">
            <input style="height: 48px; padding: 14px;" type="file" name="uploadfile" id="uploadfile" class="col-5 input-control" placeholder="아이콘을 등록하세요">
          </div>
          <th:block th:if="${menuOne.menuIcon} != '' and ${menuOne.menuIcon} != null">
          <div><img th:src="${menuOne.menuIcon}" width="100px" /></div>
          </th:block>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">메뉴 설명 <span class="necessary">*</span></label>
          <div class="col-5">
            <input type="text" name="menuDesc" id="menuDesc" class="col-5 input-control" placeholder="설명을 입력하세요" th:value="${menuOne.menuDesc}">
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">정렬순서 <span class="necessary">*</span></label>
          <div class="col-5">
            <input type="text" name="orderNum" id="orderNum" class="col-5 input-control" placeholder="순서를 입력하세요(숫자)" th:value="${menuOne.orderNum}" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');">
          </div>
        </div>

        <div class="form-box ">
          <label class="col-5 m-t-s block">사용여부 <span class="necessary">*</span></label>
          <div class="col-5 bk-input" style="padding: 14px; height: 48px">
            <div class="col-5">
              <label for="useYnY" style="float: left; margin-right: 12px;">
                <input type="radio" name="useYn" id="useYnY" value="Y" class="m-r-m" style="margin-right: 4px;" th:if="${menuOne.useYn} == 'Y'" checked="checked">
                <input type="radio" name="useYn" id="useYnY" value="Y" class="m-r-m" style="margin-right: 4px;" th:unless="${menuOne.useYn} == 'Y'">
                예
              </label>
              <label for="useYnN">
                <input type="radio" name="useYn" id="useYnN" value="N" style="margin-right: 4px;"  th:if="${menuOne.useYn} != 'Y'" checked="checked">
                <input type="radio" name="useYn" id="useYnN" value="N" style="margin-right: 4px;"  th:unless="${menuOne.useYn} != 'Y'">
                아니오
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
    <button type="button" class="btn btn-submit" onclick="fnDoSaveMenu();" th:text="#{common.button.save}">
      저장</button>
  </div>
</form>