<div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
        <th:block th:each="userMenu, i : ${userMenuList}">
            <li class="menu1">
                <a th:href="${userMenu.menuUrl}" th:if="${userMenu.useYn} == 'Y'" th:text="${userMenu.menuName}" th:title="${userMenu.menuDesc}">대메뉴명</a>

                <ul class="menu2">
                    <th:block th:if="${userMenu.menuSeq} == 26" >
                        <th:block th:each="userMenuLv2, ii : ${userMenuList2_1}">
                            <th:block th:if="${userMenuLv2.useYn} == 'Y'" >
                                <li><a th:href="@{${userMenuLv2.menuUrl}}" th:text="${userMenuLv2.menuName}" th:style="${userMenuLv2.menuSeq} == ${selectMenu2} ? 'background: #fff !important;' : ''" th:title="${userMenuLv2.menuDesc}">환경지도</a></li>
                            </th:block>
                        </th:block>
                    </th:block>
                    <th:block th:if="${userMenu.menuSeq} == 2" >
                        <th:block th:each="userMenuLv3, ii : ${userMenuList2_2}">
                            <th:block th:if="${userMenuLv3.menuSeq} == 3" >
                                <th:block th:if="${userMenuLv3.useYn} == 'Y'" >
                                    <li><a href="https://cleantown.bucheon.go.kr/map/?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJtYXAiLCJ1c2VybmFtZSI6Im1hcCJ9.nI0rIMo7cBDIqIw7YI1OoFg6i49LU01wHubWp3_rfrKzSsnxiFmkwPDIgAhmQQTlxNyhcTXxHAMLs47dNTR8_g" target="_blank" th:style="${userMenuLv3.menuSeq} == ${selectMenu2} ? 'background: #fff !important;' : ''" th:title="${userMenuLv3.menuDesc}">환경지도</a></li>
                                </th:block>
                            </th:block>
                            <th:block th:unless="${userMenuLv3.menuSeq} == 3" >
                                <th:block th:if="${userMenuLv3.useYn} == 'Y'" >
                                    <li><a th:href="@{${userMenuLv3.menuUrl}}" th:text="${userMenuLv3.menuName}" th:style="${userMenuLv3.menuSeq} == ${selectMenu2} ? 'background: #fff !important;' : ''" th:title="${userMenuLv3.menuDesc}">환경지도</a></li>
                                </th:block>
                            </th:block>
                        </th:block>
                    </th:block>
                    <th:block th:if="${userMenu.menuSeq} == 6" >
                        <th:block th:each="userMenuLv4, ii : ${userMenuList2_3}">
                            <th:block th:if="${userMenuLv4.useYn} == 'Y'" >
                                <li><a th:href="@{${userMenuLv4.menuUrl}}" th:text="${userMenuLv4.menuName}" th:style="${userMenuLv4.menuSeq} == ${selectMenu2} ? 'background: #fff !important;' : ''" th:title="${userMenuLv4.menuDesc}">환경지도</a></li>
                            </th:block>
                        </th:block>
                    </th:block>
                    <th:block th:if="${userMenu.menuSeq} == 35" >
                        <th:block th:each="userMenuLv5, ii : ${userMenuList2_4}">
                            <th:block th:if="${userMenuLv5.useYn} == 'Y'" >
                                <li><a th:href="@{${userMenuLv5.menuUrl}}" th:text="${userMenuLv5.menuName}" th:style="${userMenuLv5.menuSeq} == ${selectMenu2} ? 'background: #fff !important;' : ''" th:title="${userMenuLv5.menuDesc}">환경지도</a></li>
                            </th:block>
                        </th:block>
                    </th:block>
                    <th:block th:if="${userMenu.menuSeq} == 10" >
                        <th:block th:each="userMenuLv6, ii : ${userMenuList2_5}">
                            <th:block th:if="${userMenuLv6.useYn} == 'Y'" >
                                <li><a th:href="@{${userMenuLv6.menuUrl}}" th:text="${userMenuLv6.menuName}" th:style="${userMenuLv6.menuSeq} == ${selectMenu2} ? 'background: #fff !important;' : ''" th:title="${userMenuLv6.menuDesc}">환경지도</a></li>
                            </th:block>
                        </th:block>
                    </th:block>
                </ul>
            </li>
        </th:block>
    </ul>
</div>