<th:block th:if="${adminInfo} != null and ${adminInfo} != ''">
    <!--        <li>(부천시 전체)</li>-->
    <li style="margin-right: 16px;"><span th:text="'(' + ${adminInfo.administrativeDivision} + ')'"></span></li>

    <li style="margin-right: 10px;"><i class="fas fa-user" style="color: #fff; margin-left: 4px; margin-right: 6px "></i><span th:text="${adminInfo.adminName} + '님'"></span></li>

</th:block>
<li><span><a href="javascript:;" onclick="fnDoLogout();">로그아웃</a></span></li>