<div class="modal-body p-all-0">
    <div class="ibox float-e-margins">
        <div class="ibox-content">

            <div class="form-box">
                <div class="viewText">
                    이름
                </div>
                <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${userName}">
                    <!-- 접수 작성일 -->
                    2022-05-10
                </div>
            </div>
            <div class="form-box">
                <div class="viewText">
                    핸드폰번호
                </div>
                <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${userPhone}">
                    <!-- 접수 작성일 -->
                    2022-05-10
                </div>
            </div>
            <div class="form-box">
                <div class="viewText">
                    이메일주소
                </div>
                <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${userEmail}">
                    <!-- 접수 작성일 -->
                    2022-05-10
                </div>
            </div>
        </div>
    </div>
</div>