<input type="hidden" id="listLength" th:value="${personalInfoLogPaging.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <colgroup>
        <col style="width: 15%;"><!-- 확인일자  -->
        <col style="width: 15%;"><!-- 확인자 -->
        <col style="width: 15%;"><!-- 메뉴 -->
        <col style="width: 15%;"><!-- 메뉴 -->
        <col style="width: 40%;"><!-- 사유 -->
    </colgroup>
    <thead>
    <tr>
        <th>확인일자</th>
        <th>확인자</th>
        <th>메뉴명</th>
        <th>보기</th>
        <th>사유</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->

    <tr th:each="personalInfoLog, i : ${personalInfoLogList}">
        <td th:text="${#strings.replace(personalInfoLog.logTime,'T',' ')}"></td>
        <td th:text="${personalInfoLog.adminName}">1</td>
        <td th:text="${personalInfoLog.menuHanName}">1</td>
        <td>
            <th:block th:if="${personalInfoLog.menuName} == 'Chatbot'
                            or ${personalInfoLog.menuName} == 'Band'
                            or ${personalInfoLog.menuName} == 'Phone'
                            or ${personalInfoLog.menuName} == 'Visit'
                ">
            <a href="javascript:;" th:onclick="fnDoViewManage([[${personalInfoLog.seq}]], [[${personalInfoLog.menuName}]])"
               th:text="${#strings.length(personalInfoLog.contents)} > 20 ? ${#strings.substring(personalInfoLog.contents,0,20)}+'...' : ${personalInfoLog.contents}">대시보드</a>
            </th:block>
            <th:block th:if="${personalInfoLog.menuName} == 'UserInfo'">
                <a href="javascript:;" th:onclick="fnDoViewManage([[${personalInfoLog.did}]], [[${personalInfoLog.menuName}]])"
                   th:text="${#strings.length(personalInfoLog.contents)} > 20 ? ${#strings.substring(personalInfoLog.contents,0,20)}+'...' : ${personalInfoLog.contents}">대시보드</a>
            </th:block>
            <th:block th:if="${personalInfoLog.menuName} == 'Campaign'">
                <a href="javascript:;" th:onclick="fnDoViewManage([[${personalInfoLog.seq}]], [[${personalInfoLog.menuName}]])"
                   th:text="${#strings.length(personalInfoLog.contents)} > 20 ? ${#strings.substring(personalInfoLog.contents,0,20)}+'...' : ${personalInfoLog.contents}">대시보드</a>
            </th:block>
        </td>
        <td th:text="${personalInfoLog.reason}" style="text-align: left">1</td>
    </tr>
    
    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>

<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(personalInfoLogPaging['page'] / maxPage) * maxPage + 1},
                        end=(${(personalInfoLogPaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < personalInfoLogPaging['totalPage'] ? start + (maxPage - 1) : personalInfoLogPaging['totalPage'])})
    ">
        <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoPersonalInfoLogList('0');">
            <i class="fa fa-angle-double-left"></i></button>

        <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoPersonalInfoLogList([[${start - maxPage -1}]]);|">
            <i class="fa fa-angle-left"></i></button>
        <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoPersonalInfoLogList(0);">
            <i class="fa fa-angle-left"></i></button>

        <!-- for문 사용 리스스 출력 시작 -->
        <th:block th:each="num : ${#numbers.sequence(start,end)}">
            <button type="button" th:if="${num} == ${personalInfoLogPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoPersonalInfoLogList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
            <button type="button" th:unless="${num} == ${personalInfoLogPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoPersonalInfoLogList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
        </th:block>
        <!-- for문 사용 리스스 출력 끝 -->

        <button type="button" th:if="${end < personalInfoLogPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoPersonalInfoLogList('${start + maxPage -1}');|">
            <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" th:unless="${end < personalInfoLogPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoPersonalInfoLogList('${personalInfoLogPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-right"></i></button>

        <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoPersonalInfoLogList('${personalInfoLogPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </th:block>

</div>