<input type="hidden" id="listLength" th:value="${petitionPaging.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <colgroup>
        <col style="width: 1%;"><!-- 체크박스 -->
        <col style="width: 5%;"><!-- 번호 -->
        <col style="width: 20%;"><!-- 제목  -->
        <col style="width: 14%;"><!-- 유형 -->
        <col style="width: 10%;"><!-- 진행상태 -->
        <col style="width: 10%;"><!-- 등록일 -->
        <col style="width: 10%;"><!-- 접수자 -->
        <col style="width: 10%;"><!-- 접수일자 -->
        <col style="width: 10%;"><!-- 담당자 -->
        <col style="width: 10%;"><!-- 처리일자 -->
    </colgroup>
    <thead>
    <tr>
        <th class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" onchange="fnDoChkAll(this);">
                <label for=""></label>
            </div>
        </th>
        <th>번호</th>
        <th>제목</th>
        <th>유형</th>
        <th>진행상태</th>
        <th>등록일</th>
        <th>접수자</th>
        <th>접수일자</th>
        <th>담당자</th>
        <th>처리일자</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->

    <tr th:each="petition, i : ${petitionList}">
        <td class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" name="petiNo" th:id="${'id' + petition.petiNo}" th:value="${petition.petiNo}">
                <label th:for="${'id' + petition.petiNo}"></label>
            </div>
        </td>
        <td th:text="${petitionPaging.totalSize - (i.count + ((petitionPaging.page) * petitionPaging.size)) + 1}">1 </td>
        <td style="text-align: left"><a href="javascript:;" th:onclick="fnDoPopupComplaintManage([[${petition.petiNo}]]);"
                th:text="${#strings.length(petition.petiTitle)} > 30 ? ${#strings.substring(petition.petiTitle,0,30)}+'...' : ${petition.petiTitle}">제목</a>
        </td>
        <td th:text="${petition.busiBranCodeName}">유형</td>
        <td th:text="${petition.petiStatus}">진행상태</td>
        <td th:text="${petition.regDtTime}">등록일</td>
        <td th:text="${petition.ancName}">접수자</td>
        <td th:text="${petition.receiptDtTime}">접수일자</td>
        <td th:text="${petition.dutyName}">담당자</td>
        <td th:text="${petition.comDtTime}">처리일자</td>
    </tr>

    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>



<div class="btn-page text-center" style="margin-top: 20px;">
    <th:block th:with="maxPage=5,
                        start=${(petitionPaging['page'] / maxPage) * maxPage + 1},
                        end=(${(petitionPaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < petitionPaging['totalPage'] ? start + (maxPage - 1) : petitionPaging['totalPage'])})
    ">
        <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoComplaintList('0');">
            <i class="fa fa-angle-double-left"></i></button>

        <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoComplaintList([[${start - maxPage}]]);|">
            <i class="fa fa-angle-left"></i></button>
        <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoComplaintList(0);">
            <i class="fa fa-angle-left"></i></button>

        <!-- for문 사용 리스스 출력 시작 -->
        <th:block th:each="num : ${#numbers.sequence(start,end)}">
            <button type="button" th:if="${num} == ${petitionPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoComplaintList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
            <button type="button" th:unless="${num} == ${petitionPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoComplaintList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
        </th:block>
        <!-- for문 사용 리스스 출력 끝 -->

        <button type="button" th:if="${end < petitionPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoComplaintList('${start + maxPage}');|">
            <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" th:unless="${end < petitionPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoComplaintList('${petitionPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-right"></i></button>

        <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoComplaintList('${petitionPaging['totalPage'] - 1}');|">
            <i class="fa fa-angle-double-right"></i>
        </button>
    </th:block>

</div>