<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function(){
            //ajax 준비중입니다.
            fnDoInitComplaintList();

            $("#datepicker1").datepicker();
            $("#datepicker2").datepicker();
            $("#datepicker3").datepicker();
            $("#datepicker4").datepicker();
            $("#datepicker5").datepicker();
        });

        //리스트만 불러오기
        function fnDoComplaintList(page) {
            var f = document.form1;
            f.page.value = page;
            console.log("test");
            $.ajax({
                url: "environmental/complaint/listAjax",
                type:'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function() {
                    console.log('error');
                },
                success: function(data) {
                    document.getElementById("listArea").innerHTML = data;
                    wn_setSortTable();
                }
            });
        }

        //액셀 다운
        function fnExcelDownloadComplaintList() {

            alert("엑셀다운 테스트");

            // if($("#listLength").val() == "0") {
            //     alert("검색결과 목록이 없습니다.");
            //
            // } else {
            //     var f = document.form1;
            //     $('#nm').val("report");
            //     f.action = "reportExcelList";
            //     f.submit();
            // }

        }

        //수정용
        function fnDoPopupComplaintManage(code) {
            console.log(code);
            var params = "petiNo=" + code;

            if (code) {
                var title = "안전신문고 접수 확인";
                var desc = "안전신문고 접수 내용을 확인합니다.";
                var reqUrl = "environmental/complaint/viewForm";
            } else {
                alert("잘못된 경로입니다.");
                return;
            }

            wn_modalPop({title: title,

                desc: desc,
                width:"800px",
                actUrl: reqUrl,
                cbFunc: fnDoPopupComplaintManageCallback}, params);
        }

        function fnDoPopupComplaintManageCallback() {

        }

        function fnDoChkAll(chkAll){
            if ($(chkAll).prop("checked")) {
                $("#listTable tbody input[type=checkbox]").prop("checked", true);
            } else {
                $("#listTable tbody input[type=checkbox]").prop("checked", false);
            }
        }

        function fnDoComplaintDelete() {
            if ($("#listTable tbody input[type=checkbox]:checked").length < 1) {
                alert("삭제하실 민원을 선택 해주세요.");
                return;
            }
            var cfm = confirm("선택하신 민원을 삭제 하시겠습니까?");
            if (cfm) {
                $.ajax({
                    url: "environmental/complaint/deleteInfo",
                    type:'POST',
                    cache: false,
                    dataType: "json",
                    data: $('#form1').serialize(),
                    async: false,
                    success: function(data) {
                        alert("삭제 되었습니다.");
                        fnDoComplaintList(0);
                    },
                    error: function(e) {
                        console.log(e);
                    }
                });
            }
        }

        function fnSearchText(val){

            console.log(val);
            if(val == "searchReg" || val == "searchComplete"){
                $('#datepicker1').val('');
                $('#datepicker2').val('');
                $('#searchDateBlock').show();
                $('#searchString').val('');
                $('#searchStringBlock').hide();
            } else {
                $('#datepicker1').val('');
                $('#datepicker2').val('');
                $('#searchDateBlock').hide();
                $('#searchString').val('');
                $('#searchStringBlock').show();
            }
        }

        function fnDoInitComplaintList() {
            document.form1.reset();
            fnDoComplaintList(0);
        }

        $(document).keyup(function(event) {
            if ($("#searchString").is(":focus") && event.key == "Enter") {
                // Do work
                fnDoComplaintList(0);
            }
        });

    </script>


    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">안전신문고 불편 접수</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
        </div>
        <span class="pull-right">
            <!--
            <button type="button" class="btn btn-add pull-right"
                    onclick="fnDoPopupComplaintManage();">관리자 등록</button>
                    -->
            <!--
            <button type="button" class="btn btn-manage btn-sm pull-right" onclick="fnDoComplaintDelete();"
                    style="margin-right: 5px;">
                <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제"/>&nbsp;삭제
            </button>

            <button type="button" class="btn btn-manage btn-sm pull-right" style="margin-right: 3px;"
                    onclick="fnExcelDownloadComplaintList();">
                <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
            </button>
            -->
	    </span>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <input type="hidden" name="page" id="page" th:value="${petitionPaging['page']}"/>
                        <input type="hidden" name="size" id="size" th:value="10"/>
                        <div class="col-12" style="display: flex; align-items: center">
                            <!--
                            <select name="searchStatus" id="searchStatus" class="btn-primary term">
                                <option value="">진행상황</option>
                                <option value="D">접수완료</option>
                                <option value="P">접수완료</option>
                                <option value="C">처리완료</option>
                            </select>
                             -->
                            <div class="pull-right" style="margin-bottom: 6px; display: flex">
                                <select name="searchSelect" id="searchSelect" class="btn-primary term" onchange="fnSearchText(this.value)" style="margin-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0">
                                    <option value="">검색유형선택</option>
                                    <option value="searchTitle" selected="selected">제목</option>
                                </select>
                                <div id="searchStringBlock" style="float: left;">
                                    <input type="text" id="searchString" name="searchString" maxlength="20" placeholder="Search" class="form-control brdr-rd input-sm inline"  style="width:160px;">
                                </div>
                                <div id="searchDateBlock" style="display: none; float: left;">
                                    <input type="text" id="datepicker1" name="sdate" class="form-control brdr-rd input-sm inline" placeholder="시작일" style="width: 100px; float: left; margin-right: 10px;">
                                    <input type="text" id="datepicker2" name="edate" class="form-control brdr-rd input-sm inline" placeholder="종료일" style="width: 100px; float: left; margin-right: 10px;">
                                </div>
                                <span class="inline input-group-btn" style="float:left;">
					                <button type="button" class="btn-srch" onclick="fnDoComplaintList(1);" th:text="#{common.button.search}" style="margin-bottom: 0" />
						        </span>

                            </div>

                        </div>
                        <div class="row"></div>
                        <div id="listArea">



                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    
</th:block>
</html>