<input type="hidden" id="listLength" th:value="${imagePaging.totalSize}">
<div class="row m-t-sm">
	<th:blcok th:if="${imageList.size > 0}">
		<th:block th:each="st, i : ${imageList}">
			<div class="box-4 m-r-ps inline">
				<div class="center-version image-box box-4" >
					<div class="p-m clearfix">
						<div class="text-center m-b-sm div-posotion box-6 box-6-back" >
							<div id="imgbox" >
								<img style="width:332px; " alt="사진" th:src="@{${st.imageFileservername}}" th:onerror='this.src="/admin/img/manager/no_image2.png"' />
							</div>
							<a th:onclick="fnDoPopupImageManage([[${st.imageSeq}]],[[${st.imageFileservername}]]);" data-toggle="modal" data-target="#myModal1" class="pull-right btn btn-link no-padding btn-edit btn-edit-position font-size-11 ">편집</a>
						</div>
						<div class="form-group pdmg">
							<label for="" class="inline control-label font-size-14m box-3">ID</label>
							<div class="font-size-1416 inline" style="position:relative">[[${st.imageId}]]</div>
						</div>
						<div class="form-group pdmg">
							<label for="" class="inline control-label font-size-14m box-3">Name</label>
							<div class="font-size-1416 inline" style="position:relative">[[${st.imageName}]]</div>
						</div><br/>
						<div class="form-group pdmg" style="display:none">
							<label for="" class="inline control-label font-size-14m">Default</label>
							<div class="font-size-1416 inline" style="position:relative">[[${st.imageDefaultYn}]]</div>
						</div><br/>
					</div>
				</div>
			</div>
		</th:block>
	</th:blcok>
	<th:blcok th:unless="${imageList.size > 0}">
		<div class="text-center" style="font-weight: 700;">
			등록된 이미지가 없습니다.
		</div>
	</th:blcok>
</div>

<div class="btn-page text-center">
   <th:block th:with="maxPage=5,
                       start=${(imagePaging['page'] / maxPage) * maxPage + 1},
                       end=(${(imagePaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < imagePaging['totalPage'] ? start + (maxPage - 1) : imagePaging['totalPage'])})
   ">
       <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoMenuList('0');">
           <i class="fa fa-angle-double-left"></i></button>

       <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoMenuList([[${start - maxPage}]]);|">
           <i class="fa fa-angle-left"></i></button>
       <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoMenuList(0);">
           <i class="fa fa-angle-left"></i></button>

       <!-- for문 사용 리스스 출력 시작 -->
		<th:block th:each="num : ${#numbers.sequence(start,end)}">
			<button type="button" th:if="${num} == ${imagePaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoMenuList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
			<button type="button" th:unless="${num} == ${imagePaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoMenuList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
		</th:block>
		<!-- for문 사용 리스스 출력 끝 -->

		<button type="button" th:if="${end < imagePaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoMenuList('${start + maxPage}');|">
			<i class="fa fa-angle-right"></i>
		</button>
		<button type="button" th:unless="${end < imagePaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoMenuList('${imagePaging['totalPage'] - 1}');|">
			<i class="fa fa-angle-right"></i></button>

		<button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoMenuList('${imagePaging['totalPage'] - 1}');|">
			<i class="fa fa-angle-double-right"></i>
		</button>
	</th:block>

</div>