<script type="text/javascript">

    function fnDoExcelUpload() {

        var sExcelType = document.getElementById('excelFileUploadForm').excelType.value;
        var sMsg = "답변관리 " + sExcelType + " Excel 파일을 업로드 하시겠습니까?";
        if(confirm(sMsg)){
            var form = new FormData(document.getElementById('answerExcelFileUploadForm'));
            LoadingWithMask();
            $.ajax({
                url: "answer/insertExcel",
                data: form,
                dataType: 'json',
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    if("Y" == data.isSuccess) {

                        alert("저장 되었습니다.");
                        closeLoadingWithMask();
                        parent.fnDoAnswerList(1);
                        wn_modalClose();
                    } else {
                        closeLoadingWithMask();
                        fnExcelSampleDownload();
                        alert("파일업로드를 실패하였습니다. 관리자에게 문의하세요.");
                    }
                },
                error: function(e) {
                    closeLoadingWithMask();
                    console.log(e);
                }
            });
        }
    }


    function fnExcelSampleDownload() {
        var f = document.answerExcelFileUploadForm;
        f.action = "answer/downloadAnswerSampleCsvList";
        f.submit();
    }

    function closeLoadingWithMask() {
        $('#mask, #loadingImg').hide();
        $('#mask, #loadingImg').remove();
    }
    function LoadingWithMask() {
        //화면의 높이와 너비를 구합니다.
        var maskHeight = $(document).height();
        var maskWidth  = window.document.body.clientWidth;

        //화면에 출력할 마스크를 설정해줍니다.
        //$("#listArea").html("<div id='LoadingImage' class='loading-LoadingImage'><div class='loading-image'><img src='../img/indicator.gif'></div></div>");   

        var mask="<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'  class='loading-LoadingImage'></div>";
        var loadingImg ='';

        loadingImg +="<div id='loadingImg' class='loading-LoadingImage' style='position:absolute; left:0;top:0;z-index:9011;display:none;width:100%;height:100%;background:;'>";
        loadingImg +=" <img src='../img/indicator.gif' style='position: relative; display: block; margin: 0px auto;'/>";
        loadingImg +="</div>";

        //화면에 레이어 추가
        $('body')
            .append(mask)
            .append(loadingImg)

        //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채웁니다.
        $('#mask').css({
            'width' : maskWidth
            ,'height': maskHeight
            ,'opacity' :'0.3'
        });

        //마스크 표시
        $('#mask').show();

        //로딩중 이미지 표시
        $('#loadingImg').show();
    }


</script>
<form name="answerExcelFileUploadForm" id="answerExcelFileUploadForm" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="ibox float-e-margins">
            <div class="ibox-content">

                <div class="form-group"><label class="col-sm-2 control-label">엑셀 업로드</label>
                    <div class="col-sm-10">
                        <input type="file" id="answerExcelFile" name="answerExcelFile" class="form-control" />
                    </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">업로드 타입</label>
                    <div class="col-sm-10"  style="width: 30%;">
                        <select name="excelType" class="input-sm form-control input-s-sm inline">
                            <option value="SK">Answer 업로드</option>
                            <option value="QR">Answer QR 업로드</option>
                            <option value="BC">Answer BC 업로드</option>
                            <option value="ST">Answer ST 업로드</option>
                            <option value="SI">Answer SI 업로드</option>
                            <option value="LC">Answer LC 업로드</option>
                            <option value="CC">Answer CC 업로드</option>
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" id="btnClose">답변</button>
        <button type="button" class="btn btn-primary" onclick="fnExcelSampleDownload();">업로드용 샘플파일 다운로드</button>
        <button type="button" class="btn btn-primary" onclick="fnDoExcelUpload();">엑셀파일 업로드</button>
    </div>
</form>
