<th:block className="row">

    <th:block th:if="${answerImagerList} != '' and ${answerImagerList} != null">
         <th:block th:each="st, i : ${answerImagerList}">
             <div className="col-sm-3">
                 <div className="contact-box center-version" style="width: 175px; float: left;">
                     <div className="clearfix" style="padding:20px;">

                         <div th:onClick="fnDoPopupImage([[${st.imageSeq}]],[[${st.imageFileservername}]],[[${st.imageFileservername}]]);"
                              data-toggle="modal" data-target="#myModal1"
                              className="pull-right btn btn-link no-padding" style="font-size:15px">
                             <i className="fa fa-check"></i>


                             <div id="imgbox" className="bk-input text-center m-b-sm">
                                 <img
                                     style="width:100px; height:100px; margin:0" alt="image"
                                     th:src="${st.imageFileservername}"
                                     onError='this.src="/img/manager/no_image2.png"'/></div>

                             <div className="form-group" style="margin-bottom: 0px !important;">
                                 <label className="col-sm-4">ID</label>
                                 <div className="col-sm-8" style="position:relative">[[${st.imageId}]]</div>
                             </div>
                             <div className="form-group" style="margin-bottom: 0px !important;">
                                 <label className="col-sm-4">Name</label>
                                 <div className="col-sm-8 txt_line" style="position:relative">[[${st.imageName}]]</div>
                             </div>
                             <div className="form-group" style="display:none">
                                 <label className="col-sm-4">Default</label>
                                 <div className="col-sm-8" style="position:relative">[[${st.imageDefaultYn}]]</div>
                             </div>

                         </div>

                     </div>
                 </div>
             </div>
        </th:block>
    </th:block>

    <th:block th:unless="${answerImagerList} != '' and ${answerImagerList} != null">
        <div className="text-center" style="font-weight: 700;">
            등록된 이미지가 없습니다.
        </div>
    </th:block>

</div>
<div className='btn-page text-center'>

</div>