<script type="text/javascript">

  var joImageAttribute = {
    linkUrl : "",
    className : "",
    cssStyle : "",
    description : ""
  };

  $('.hidden_file').on('change', function() {

    var ext = $(this).val().split('.').pop().toLowerCase(); //확장자
    var filename_old = $("#filename_old").val();
    var filename_old_chk = filename_old.replace(/\\/ig,"/");

    var str = "/";

    //배열에 추출한 확장자가 존재하는지 체크
    var $imgTag = $('.file_img').find('img');
    if($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {

      if(filename_old == '')
      {
        $imgTag.attr('src', '');
        $("#filename").val('');
      }
      else
      {
        if(filename_old_chk.indexOf(str) != -1)
        {
          $("#imageFilename_txt").val('${UploadImageVO.imageFilename}');
          $imgTag.attr('src', '');
          $("#filename").val('');
        }
        else
        {
          $("#filename").val('');
        }
      }

      window.alert('이미지 파일이 아닙니다! (gif, png, jpg, jpeg 만 업로드 가능)');
    } else {
      var file = $(this).prop("files")[0];
      var blobURL = window.URL.createObjectURL(file);
      $imgTag.attr('src', blobURL);
      $imgTag.width  = '100px';

      $("#imageFilename_txt").val(file.name);
      $("#filename_old").val($("#filename").val());
    }
  });



  function fnDoUploadImageSend() {
    var f = document.popupForm;

    if($("#ing_chk").val() == '1')
    {
      alert("처리중입니다.");
    }
    else
    {
      var f = document.popupForm;

      if (f.imageName.value == "" && f.flag.value == "add") {
        alert("이미지명을 입력하세요.");
        return;
      }
      if (f.imageFilename_bk.value == "" && f.flag.value == "modify") {
        alert("이미지파일을 등록하세요..");
        return;
      }

      var requestUrl;
      if (f.flag.value == "add") {
        requestUrl = "chatbot/uploadImage/insertInfo";
      } else {
        requestUrl = "chatbot/uploadImage/updateInfo";
      }

      $("#ing_chk").val('1');

      joImageAttribute.linkUrl ='' ;    // $("#imageLinkUrl").val().trim();
      joImageAttribute.className = '' ;// $("#imageClassName").val().trim();
      joImageAttribute.cssStyle = '';  //$("#imageCssStyle").val().trim();

      var frm = document.getElementById('popupForm');
      frm.imageAttribute.value = JSON.stringify(joImageAttribute);

      //console.log("imageAttribute:" + frm.imageAttribute.value);

      var page = ($('#page').val() != "" || $('#page').val() != null) ? $('#page').val() : 0;
      var data = new FormData(frm);

      $.ajax({
        url: requestUrl,
        enctype: 'multipart/form-data',
        type:'POST',
        cache: false,
        data: data,
        async: false,
        contentType:false,
        processData:false,
        timeout: 600000,
        success: function(data) {
          alert("저장하였습니다.");
          fnDoImageList(page);
          wn_modalClose();
        },
        error: function(e) {
          alert("처리가 실패하였습니다.");
        },
        complete : function() {
          $("#ing_chk").val('');
        }
      });
    }
  }


  function fnDoUploadImageDel(val)
  {
    if($("#ing_chk").val() == '1')
    {
      alert("처리중입니다.");
    }
    else
    {


      if (confirm("이미지를 삭제하시겠습니까?") == true){    //확인


        $("#ing_chk").val('1');

        var requestUrl = "chatbot/uploadImage/deleteInfo";
        var page = ($('#page').val() != "" || $('#page').val() != null) ? $('#page').val() : 0;
        $.ajax({
          url: requestUrl,
          type:'POST',
          cache: false,
          dataType: "json",
          data: {"imageSeq" : val},
          async: false,
          success: function(data) {
              //	swal("삭제!", "삭제 되었습니다.", "success");
              alert("삭제 되었습니다.");
              fnDoImageList(page);
              wn_modalClose();

          },
          error: function(e) {
            alert("처리가 실패하였습니다.");
            //	swal("삭제!", "처리가 실패하였습니다.", "error");
          },
          complete : function() {
            $("#ing_chk").val('');
          }
        });

      }else{   //취소
        return;
      }
    }
  }

  // 새창 띄우기 링크 설정
  function fnSetLinkForOpenPopup() {

    var imgServerUrl = '${upload_path_url}' + '/' + '${UploadImageVO.imageFileservername}';

    var strLinkUrl = "javascript:window.open('" + imgServerUrl + "','" + '${UploadImageVO.imageName}'.replace(/\s/gi, '') + "','menubar=no,status=no,toolbar=no')";

    $("#imageLinkUrl").val(strLinkUrl);

  }


</script>
<style>
  .auth-menu {
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
  }

  #addProj {
    font-size: large;
    font-weight: bold;
  }

  #addPoint {
    display: inline;
    margin-right: 10px;
  }

  .necessary {
    color : #c93b31;
  }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal" enctype="multipart/form-data">
  <!--/* <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> */-->
  <input type="hidden" name="imageSeq" th:value="${UploadImageVO.imageSeq}" />
  <input type="hidden" name="imageFilename_bk" th:value="${UploadImageVO.imageFileservername}" />
  <input type="hidden" id="filename_old" name="filename_old" th:value="${UploadImageVO.imageFilename}" />
  <input type="hidden" id="imageAttribute" name="imageAttribute" />
  <th:block th:if="${UploadImageVO.imageSeq} == null or ${UploadImageVO.imageSeq} == ''">
    <input type="hidden" name="flag"  value="add" />
  </th:block>
  <th:block th:unless="${UploadImageVO.imageSeq} == null or ${UploadImageVO.imageSeq} == ''">
    <input type="hidden" name="flag" value="modify" />
  </th:block>
  <div class="modal-body p-all-0">
    <div class="ibox m-b-0">
      <div class="ibox-content p-l" style="padding: 20px;">
        <th:block th:if="${UploadImageVO.imageSeq} != null and ${UploadImageVO.imageSeq} != ''">
          <div class="form-box">
            <label for="" class="col-5 label-title">ID</label>
            <div class="col-5" style="position:relative;">
              <input type="text" name="imageId" class="col-5 input-control" th:value="${UploadImageVO.imageId}" style="ime-mode:disabled;" readonly="readonly" maxlength="25" />
            </div>
          </div>
        </th:block>

        <div class="form-box m-t-x">
          <label for="" class="col-5 label-title m-t-s">이미지명</label>
          <div class="col-5" style="position:relative">
            <input type="text" name="imageName" class="col-5 input-control" th:value="${UploadImageVO.imageName}" maxlength="50" style="width: 100%;" />
          </div>
        </div>

        <div class="form-box m-t-x">
          <label for="" class="col-5 m-t block" th:text="(${UploadImageVO.imageSeq} != null and ${UploadImageVO.imageSeq} != '') ? '이미지 변경' : '이미지 등록'">이미지 변경</label>
          <div class="col-5 input-control">
            <span class="file_wrap">
              <a href="#" class="btn btn-file pull-left">찾아보기</a><input type="file" id="uploadfile" name="uploadfile" class="hidden_file" value="" />
              <input type="text" id="imageFilename_txt" name="imageFilename_txt" class="col-3 input-imgurl pull-left" th:value="${UploadImageVO.imageFilename}" maxlength="25" />
            </span>
          </div>
        </div>
        <div class="form-box col-5 m-t-x">
          <label for="" class="col-5 m-t-s block">미리보기</label>
          <div class="col-5 file_img">
            <div class="text-center image-box-nbd inline" id="imgbox">
              <img id="imgSeq" class="" style="" alt="image" th:src="@{${UploadImageVO.imageFileservername}}" onerror='this.src="/admin/img/manager/no_image2.png"' />
            </div>
            <th:block th:if="${UploadImageVO.imageSeq} != null and ${UploadImageVO.imageSeq} != ''">
              <div class="col-l inline vertical-t">
			        		<textarea name="imageFileservername" class="col-5 imgsrc" disabled="disabled" readonly="readonly">[[${UploadImageVO.imageFileservername}]]
			        		</textarea>
              </div>
            </th:block>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.cancel}"></button>
    <th:block th:if="${UploadImageVO.imageSeq} != null and ${UploadImageVO.imageSeq} != ''">
      <button type="button" class="btn btn-submit" onclick="javascript:fnDoUploadImageSend();" th:text="#{common.button.save}">저장</button>
      <th:block th:if="(${UploadImageVO.imageFilename} == null or ${UploadImageVO.imageFilename} == '') or ${UploadImageVO.imageDefaultYn} != 'Y'">
        <button type="button" class="btn btn-manage bk-white btn-sm pull-left" th:onclick="javascript:fnDoUploadImageDel([[${UploadImageVO.imageSeq}]]);"><img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제">&nbsp; 삭제</button>
      </th:block>
    </th:block>
    <th:block th:unless="${UploadImageVO.imageSeq} != null and ${UploadImageVO.imageSeq} != ''">
      <button type="button" class="btn btn-submit" onclick="javascript:fnDoUploadImageSend();">&nbsp; 삭제</button>
    </th:block>
  </div>
</form>