<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <!-- Date range use moment.js same as full calendar plugin -->
    <script th:src="@{/js/plugins/fullcalendar/moment.min.js}"></script>
    <!-- Date range picker -->
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <script th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <link rel="stylesheet" th:href="@{/css/reportManage.css}">

    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function(){
            //ajax 준비중입니다.
            fnDoInitImageList();

            $("#datepicker1").datepicker();
            $("#datepicker2").datepicker();
            $("#datepicker3").datepicker();
            $("#datepicker4").datepicker();
            $("#datepicker5").datepicker();
        });

        //리스트만 불러오기
        function fnDoImageList(page) {
            var f = document.form1;
            f.page.value = page;
            console.log("test");
            $.ajax({
                url: "chatbot/uploadImage/listAjax",
                type:'POST',
                cache: false,
                dataType: "html",
                data: $('#form1').serialize(),
                async: false,
                error: function() {
                    console.log('error');
                },
                success: function(data) {
                    document.getElementById("listArea").innerHTML = data;
                    wn_setSortTable();
                }
            });
        }

        //등록,수정용
        function fnDoPopupImageManage(code, imageFileservername) {
            console.log(code);
            params = "imageSeq=" + code+"&imageFileservername="+imageFileservername;

            if (code) {
                var title = "이미지";
                var desc = "등록된 이미지를 확인합니다.";
                var reqUrl = "chatbot/uploadImage/modifyForm";
            } else {
                var title = "이미지 등록";
                var desc = "이미지를 등록합니다.";
                var reqUrl = "chatbot/uploadImage/writeForm";
            }

            wn_modalPop({title: title,

                desc: desc,
                width:"800px",
                actUrl: reqUrl,
                cbFunc: fnDoPopupImageManageCallback}, params);
        }

        function fnDoPopupImageManageCallback() {

        }

        function fnDoChkAll(chkAll){
            if ($(chkAll).prop("checked")) {
                $("#listTable tbody input[type=checkbox]").prop("checked", true);
            } else {
                $("#listTable tbody input[type=checkbox]").prop("checked", false);
            }
        }

        function fnDoImageDelete() {
            if ($("#listTable tbody input[type=checkbox]:checked").length < 1) {
                alert("삭제할 이미지를 선택 해주세요.");
                return;
            }
            var cfm = confirm("선택하신 메뉴를 삭제 하시겠습니까?");
            if (cfm) {
                $.ajax({
                    url: "chatbot/uploadImage/deleteInfo",
                    type:'POST',
                    cache: false,
                    dataType: "json",
                    data: $('#form1').serialize(),
                    async: false,
                    success: function(data) {

                            alert("삭제 되었습니다.");
                            fnDoInitImageList();

                    },
                    error: function(e) {
                        console.log(e);
                    }
                });
            }
        }

        function fnDoInitImageList() {
            document.form1.reset();
            fnDoImageList(0);
        }

        $(document).keyup(function(event) {
            if ($("#searchString").is(":focus") && event.key == "Enter") {
                // Do work
                fnDoImageList(0);
            }
        });
    </script>


    <!-- Begin Page Content -->

    <div class="title" style="display: flex; justify-content: space-between; align-items: center">
        <div style="padding-left: 20px;">
            <span class="font-size-32 bold font-color">카카오톡 챗봇 이미지 관리</span>
            <div style="font-size: 14px; color: #777; margin-top: 10px;" th:text="${selectMenu.menuDesc}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque blanditiis dolores excepturi </div>
        </div>
        <span class="pull-right">
            <button type="button" class="btn btn-add pull-right"
                    onclick="fnDoPopupImageManage();">이미지등록</button>
            <!--
            <button type="button" class="btn btn-manage btn-sm pull-right" onclick="fnDoImageDelete();"
                    style="margin-right: 5px;">
            <img th:src="@{/img/manager/delete.png}" width="16px" height="16px" alt="삭제"/>&nbsp;삭제
            </button>
            -->
            <!--
            <button type="button" class="btn btn-manage btn-sm pull-right" style="margin-right: 3px;"
                    onclick="fnExcelDownloadImageList();">
                <img th:src="@{/img/manager/exceldown.png}" width="16px" height="16px" alt="덱셀다운"/>&nbsp;엑셀다운
            </button>
            -->
	    </span>
    </div>


    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="form1" id="form1" method="post" onsubmit="return false;">
                        <input type="hidden" name="page" id="page" th:value="${imagePaging['page']}"/>
                        <input type="hidden" name="size" id="size" th:value="10"/>
                        <div class="col-12">

                            <!--
                            <select name="searchSelect1" id="searchSelect1" class="btn-primary term">
                                <option value="" selected="selected">검색유형</option>
                                <option value="searchName">메뉴명</option>
                            </select>
                            -->


                            <div class="pull-left">
                                <div id="searchStringB lock" style="float: left;">
                                    <input type="hidden" id="searchSelect" name="searchSelect" value="searchName">
                                    <input type="text" id="searchString" name="searchString" maxlength="20" placeholder="Search" class="form-control brdr-rd input-sm inline"  style="width:160px;border-top-right-radius: 0; border-bottom-right-radius: 0">
                                </div>
                                <span class="inline input-group-btn" style="float:left;">
					                <button type="button" class="btn-srch" onclick="fnDoImageList(0);" th:text="#{common.button.search}" />
						        </span>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div id="listArea">



                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</th:block>
</html>