<input type="hidden" id="listLength" th:value="${campaignPaging.totalSize}">
<table class="table table-hoverm dataTable table-m table-border"
       id="listTable">
    <colgroup>
        <col style="width: 1%;"><!-- 체크박스 -->
        <col style="width: 12%;"><!-- 접수번호 -->
        <col style="width: 8%;"><!-- 상태  -->
        <col style="width: 8%;"><!-- 유형  -->
        <col style="width: 7%;"><!-- 참여자명 -->
        <col style="width: 8%;"><!-- 행정구역 -->
        <col style="width: 17%;"><!-- 위치 -->
        <col style="width: 8%;"><!-- 진행 -->
        <col style="width: 9%;"><!-- 지급포인트 -->
        <col style="width: 10%;"><!-- 등록일자 -->
        <col style="width: 10%;"><!-- 처리일자 -->
    </colgroup>
    <thead>
    <tr>
        <th class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" onchange="fnDoChkAll(this);">
                <label for=""></label>
            </div>
        </th>
        <th>접수번호</th>
        <th>상태</th>
        <th>쓰레기 유형</th>
        <th>참여자명</th>
        <th>행정구역</th>
        <th>위치</th>
        <th>진행</th>
        <th>지급포인트</th>
        <th>등록일</th>
        <th>처리일</th>
    </tr>
    </thead>
    <tbody id="listTableTbody">

    <!-- for문 사용 리스스 출력 시작 -->
    <tr th:each="campaign, i : ${campaignList}">
        <td class="text-center">
            <div class="checkbox checkbox-success checkbox-inline">
                <input type="checkbox" name="campaignSeq" th:id="${'id' + campaign.campaignSeq}" th:value="${campaign.campaignSeq}">
                <label th:for="${'id' + campaign.campaignSeq}"></label>
            </div>
        </td>
        <!--<td th:text="${#numbers.formatInteger(campaignPaging.totalSize - (i.count + ((campaignPaging.page) * campaignPaging.size)) + 1, 0, 'COMMA')}">1 </td>-->
        <td th:text="${campaign.campaignNum}">접수번호</td>
        <td th:text="${campaign.campaignStatusName}">상태</td>
        <td><a href="javascript:;" th:onclick="fnDoViewCampaignManage([[${campaign.campaignSeq}]]);">[[${campaign.trashTypeName}]]</a></td>
        <td>
            <a href="javascript:;" th:onclick="fnDoViewCampaignManage([[${campaign.campaignSeq}]]);">
                [[${campaign.userName}]]
            </a>
        </td>
        <td th:text="${campaign.areaName}">소사동</td>
        <td th:text="(${campaign.addrNew}) != null and (${campaign.addrNew}) != '' ? ${campaign.addrNew} : ${campaign.addrOld}">소사동</td>
        <td th:text="${campaign.campaignProcessName}">접수완료</td>
        <td th:text="${campaign.mileage}">점수</td>
        <td th:text="${#strings.substring(campaign.regDt,0,10)}">2022-04-20</td>
        <td th:text="${#strings.substring(campaign.comDt,0,10)}">2022-04-20</td>
    </tr>

    <!-- for문 사용 리스스 출력 끝 -->
    </tbody>
</table>
<!--
<button type="button" class="btn btn-add" style="background-color: #3363FF; color: #fff; font-size: 14px; height: 32px; margin-top: 10px;"
        onclick="fnDoPopupPointManage();">완료 처리</button>
-->
<div class="btn-page text-center">
    <th:block th:with="maxPage=5,
                        start=${(campaignPaging['page'] / maxPage) * maxPage + 1},
                        end=(${(campaignPaging['totalPage'] == 0) ? 1 : (start + (maxPage - 1) < campaignPaging['totalPage'] ? start + (maxPage - 1) : campaignPaging['totalPage'])})
    ">
    <button type="button" class="btn btn-pageAngle" title="처음 페이지" onclick="javascript:fnDoCampaignList('0');">
        <i class="fa fa-angle-double-left"></i></button>

    <button type="button" th:if="${start > 1}" class="btn btn-pageAngle" title="이전페이지" th:onclick="|javascript:fnDoCampaignList([[${start - maxPage -1}]]);|">
        <i class="fa fa-angle-left"></i></button>
    <button type="button" th:unless="${start > 1}" class="btn btn-pageAngle" title="이전페이지" onclick="javascript:fnDoCampaignList(0);">
        <i class="fa fa-angle-left"></i></button>

    <!-- for문 사용 리스스 출력 시작 -->
    <th:block th:each="num : ${#numbers.sequence(start,end)}">
        <button type="button" th:if="${num} == ${campaignPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoCampaignList('${num - 1}');|" class="btn btn-pageNum active">[[${num}]]</button>
        <button type="button" th:unless="${num} == ${campaignPaging['page']+1}" th:title="${num}+'페이지'" th:onclick="|javascript:fnDoCampaignList('${num - 1}');|" class="btn btn-pageNum">[[${num}]]</button>
    </th:block>
    <!-- for문 사용 리스스 출력 끝 -->

    <button type="button" th:if="${end < campaignPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoCampaignList('${start + maxPage -1}');|">
        <i class="fa fa-angle-right"></i>
    </button>
    <button type="button" th:unless="${end < campaignPaging['totalPage']}" class="btn btn-pageAngle" title="다음페이지" th:onclick="|javascript:fnDoCampaignList('${campaignPaging['totalPage'] - 1}');|">
        <i class="fa fa-angle-right"></i></button>

    <button type="button" class="btn btn-pageAngle" title="마지막페이지" th:onclick="|javascript:fnDoCampaignList('${campaignPaging['totalPage'] - 1}');|">
        <i class="fa fa-angle-double-right"></i>
    </button>
    </th:block>
</div>
