<script type="text/javascript">

  function fnDoSaveCampaign() {
    var f = document.popupForm;
    var formData = $('#popupForm').serialize();
    var campaignProcess = $("input[name='campaignProcess']:checked").val();

    if (formData.search("campaignProcess") == -1 && (f.nowProcess.value != 'C' && f.nowProcess.value != 'R')) {
      alert("진행상황을 선택해 주세요.");
      return false;
    }

    if($("input[name='campaignProcess']:checked").val() == 'R' && f.campaignProcessRejectReason.value == ''){
      alert("처리불가 사유를 입력해주세요.");
      return false;
    }

    if (formData.search("mileageStatus") == -1 && f.nowProcess.value == 'C') {
      alert("마일리지 지급을 선택해 주세요.");
      return false;
    }

    if($("input[name='mileageStatus']:checked").val() == 'R' && f.mileageRejectReason.value == '' && f.nowProcess.value == 'C'){
      alert("지급불가 사유를 입력해주세요.");
      return false;
    }


    var reqUrl = "environmental/campaign/updateInfo";
    var page = ($('#page').val() != "" || $('#page').val() != null) ? $('#page').val() : 0;

    $.ajax({
      url: reqUrl,
      type: "POST",
      cache: false,
      dataType: "json",
      data: formData,
      async: false,
      success: function (data) {
        alert("저장하였습니다.");
        fnDoCampaignList(page);
        wn_modalClose();
      },
      error: function (e) {
        console.log(e);
      }
    });

  }

  function fnDoProcessChange(val){
    var nowProcess = document.popupForm.nowProcess.value;

    if(val != 'R') {
      document.popupForm.campaignProcessRejectReason.value = '';
    }

  }

  function fnDoMileageChange(val) {
    if (val != 'R') {
      document.popupForm.mileageRejectReason.value = '';
      document.popupForm.mileageRejectReason.readOnly = true;
    } else {
      document.popupForm.mileageRejectReason.readOnly = false;
    }

    if (val == 'C') {
      document.popupForm.mileage.value = document.popupForm.declarationPoint.value;
    } else {
      document.popupForm.mileage.value = 0
    }
  }

  /****************************************************************
   fnDoPersonalInfoPopup
   * 개인정보확인 호출 팝업
   isThis ==>> 현재 이벤트 버튼
   ****************************************************************/
  function fnDoPersonalInfoPopup(val) {
    if(confirm("개인정보조회 이력이 남습니다.\n그래도 진행하시겠습니까?")) {

      var params = "seq=" + val;
      wn_modalPop2({
        title: "개인정보확인",
        desc: "개인정보를 확인합니다. 확인 시 내용은 저장됩니다.",
        width: "750px",
        actUrl: "environmental/campaign/viewPersonalInfo",
        cbFunc: fnDoPersonalInfoPopupCallback
      }, params);

    }
  }

  function fnDoPersonalInfoPopupCallback(params) {
  }

  $(document).ready(function () {
    $("#datepicker3").datepicker({
      dateFormat: "yy-mm-dd"
    });
  });
</script>
<style>
  .auth-menu {
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
  }

  #addProj {
    font-size: large;
    font-weight: bold;
  }

  #addMenu {
    display: inline;
    margin-right: 10px;
  }

  .viewText {
    font-weight:bold;
    margin-top: 15px;
  }

  .viewTextContent {
    background: #F7F8F9 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 2;
    padding:13px 20px;
  }

  .btn-personal-info{
    clear: both;
    width: 112px;
    height: 48px;
    background: #3363ff 0% 0% no-repeat padding-box;
    border: 0px;
    border-radius: 5px;
    opacity: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    font: normal normal normal 14px/20px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
</style>
<form name="popupForm" id="popupForm" method="post" class="form-horizontal">
  <th:block th:if="${campaignOne.campaignSeq} == null or ${campaignOne.campaignSeq} == ''">
    <input type="hidden" name="flag" id="flag" value="add" />
  </th:block>
  <th:block th:unless="${campaignOne.campaignSeq} == null or ${campaignOne.campaignSeq} == ''">
    <input type="hidden" name="flag" id="flag" value="modify" />
    <input type="hidden" name="campaignSeq" id="campaignSeq" th:value="${campaignOne.campaignSeq}"/>
    <input type="hidden" name="regUserDid" id="regUserDid" th:value="${campaignOne.regUserDid}"/>
    <input type="hidden" name="did" id="did" th:value="${userOne.did}"/>
    <input type="hidden" name="nowStatus" id="nowStatus" th:value="${campaignOne.campaignStatus}"/>
    <input type="hidden" name="nowProcess" id="nowProcess" th:value="${campaignOne.campaignProcess}"/>
    <input type="hidden" name="nowMileageStatus" id="nowMileageStatus" th:value="${campaignOne.mileageStatus}"/>
  </th:block>

  <div class="modal-body p-all-0">
    <div class="ibox float-e-margins">
      <div class="ibox-content">

        <div class="form-box">
          <div class="viewText">
            접수번호
          </div>
          <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${campaignOne.campaignNum}">
            <!-- 접수 작성일 -->
            2022-05-10
          </div>
        </div>

        <div class="form-box">
          <div class="viewText">
            참여일시
          </div>
          <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${#strings.substring(campaignOne.regDt,0,10)}">
            <!-- 접수 작성일 -->
            2022-05-10
          </div>
        </div>

        <th:block th:if="${campaignOne.campaignProcess}=='C' or ${campaignOne.campaignProcess}=='R'">
          <div class="form-box">
            <div class="viewText">
              처리일시
            </div>
            <div style="padding: 14px; height: 48px;" class="col-5 viewTextContent" th:text="${#strings.replace(campaignOne.comDt,'T',' ')}">
              <!-- 접수 작성일 -->
              2022-05-10
            </div>
          </div>
        </th:block>

        <div class="form-box">
          <label class="col-5 m-t-s block">쓰레기 유형 선택</label>
          <div class="bk-input p-m">
            <div class="checkbox checkbox-primary checkbox-inline for-sel-chkbox">
              <!-- 분류 For문 이용 -->
              <th:blcok th:each="trash, i :${trashList}">
                <span class="checkbox checkbox-primary for-sel-chkbox" style="float: left; min-width: 200px;">
                <input type="radio"
                       th:value="${trash.trashSeq}"
                       checked="checked"
                       name="campaignType"
                       th:id="${'campaignType' + trash.trashSeq}"
                       th:if="${trash.trashSeq == campaignOne.trashType}"
                       disabled="disabled"
                >
                <input type="radio"
                       th:value="${trash.trashSeq}"
                       name="campaignType"
                       th:id="${'campaignType' + trash.trashSeq}"
                       th:unless="${trash.trashSeq == campaignOne.trashType}"
                       disabled="disabled"
                >
                <label th:for="${'campaignType' + trash.trashSeq}" th:text="${trash.trashName}">유형이름</label>
              </span>

              </th:blcok>


            </div>
          </div>
        </div>

        <div class="form-box">

          <div class="viewText">
            장소
            <input type="hidden" id="locationX" th:value="${campaignOne.locationX}">
            <input type="hidden" id="locationY" th:value="${campaignOne.locationY}">
          </div>
          <div class="col-5">
            <div class="col-5 viewTextContent" style="padding: 14px; height: 48px;" th:text="(${campaignOne.addrNew} != null and ${campaignOne.addrNew} != '') ? ${campaignOne.addrNew} : ${campaignOne.addrOld}">
              <!-- 주소(신주소 없으면 구주소 보여줌 -->
              경기도 부천시 소사동
            </div>
          </div>
        </div>
        <th:block th:if="${campaignOne.locationX} != null and ${campaignOne.locationX} != '' and ${campaignOne.locationY} != null and ${campaignOne.locationY} != ''">
          <div id="map" style="width:300px;height:300px;margin-top:10px;display:block"></div>
        </th:block>
        <th:block th:unless="${campaignOne.locationX} != null and ${campaignOne.locationX} != '' and ${campaignOne.locationY} != null and ${campaignOne.locationY} != ''">
          <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>
        </th:block>

        <div class="form-box ">
          <label class="col-5 m-t-s block">상태</label>
          <div class="col-5 bk-input" style="padding: 14px; height: 48px;">
            <div class="col-5">
              <label for="campaignStatusT" style="float: left; margin-right: 12px; width: 100px;">
                <input type="radio" name="campaignStatus" id="campaignStatusT" value="T" class="m-r-m" style="margin-right: 4px;" th:if="${campaignOne.campaignStatus} == 'T'" checked="checked" disabled="disabled">
                <input type="radio" name="campaignStatus" id="campaignStatusT" value="T" class="m-r-m" style="margin-right: 4px;" th:unless="${campaignOne.campaignStatus} == 'T'" disabled="disabled">
                쓰레기발견
              </label>
              <label for="campaignReceptionB" style="float: left; margin-right: 12px; width: 100px;">
                <input type="radio" name="campaignStatus" id="campaignStatusC" value="C" class="m-r-m" style="margin-right: 4px;" th:if="${campaignOne.campaignStatus} == 'C'" checked="checked" disabled="disabled">
                <input type="radio" name="campaignStatus" id="campaignStatusC" value="C" class="m-r-m" style="margin-right: 4px;" th:unless="${campaignOne.campaignStatus} == 'C'" disabled="disabled">
                청소완료
              </label>
            </div>
          </div>
        </div>

        <div class="form-box ">
          <label class="col-5 m-t-s block">진행상황</label>
          <div class="col-5 bk-input" style="padding: 14px; height: 48px;">
            <th:block th:if="${campaignOne.campaignProcess}!='C' and ${campaignOne.campaignProcess}!='R'">
              <div class="col-5">
                <label for="campaignProcessD" style="width: 50px; float: left; margin-right: 12px;">
                  <input type="radio" name="campaignProcess" id="campaignProcessD" value="D" class="m-r-m" style="margin-right: 4px;" th:if="${campaignOne.campaignProcess} == 'D'" checked="checked" onclick="fnDoProcessChange(this.value);">
                  <input type="radio" name="campaignProcess" id="campaignProcessD" value="D" class="m-r-m" style="margin-right: 4px;" th:unless="${campaignOne.campaignProcess} == 'D'" onclick="fnDoProcessChange(this.value);">
                  접수
                </label>
                <label for="campaignProcessC" style="width: 50px;float: left; margin-right: 12px;">
                  <input type="radio" name="campaignProcess" id="campaignProcessC" value="C" class="m-r-m" style="margin-right: 4px;" th:if="${campaignOne.campaignProcess} == 'C'"  checked="checked" onclick="fnDoProcessChange(this.value);">
                  <input type="radio" name="campaignProcess" id="campaignProcessC" value="C" class="m-r-m" style="margin-right: 4px;" th:unless="${campaignOne.campaignProcess} == 'C'" onclick="fnDoProcessChange(this.value);">
                  완료
                </label>
                <label for="campaignProcessR"  style="width: 120px;">
                  <input type="radio" name="campaignProcess" id="campaignProcessR" value="R" class="m-r-m" style="margin-right: 4px;" th:if="${campaignOne.campaignProcess} == 'R'"  checked="checked" onclick="fnDoProcessChange(this.value);">
                  <input type="radio" name="campaignProcess" id="campaignProcessR" value="R" class="m-r-m" style="margin-right: 4px;" th:unless="${campaignOne.campaignProcess} == 'R'" onclick="fnDoProcessChange(this.value);">
                  처리불가
                </label>
              </div>
            </th:block>
            <th:block th:unless="${campaignOne.campaignProcess}!='C' and ${campaignOne.campaignProcess}!='R'">
              <div class="col-5">
                <label for="campaignProcessD" style="width: 50px; float: left; margin-right: 12px;">
                  <input type="radio" name="campaignProcess" id="campaignProcessD" value="D" class="m-r-m" style="margin-right: 4px;" th:if="${campaignOne.campaignProcess} == 'D'" checked="checked" disabled="disabled">
                  <input type="radio" name="campaignProcess" id="campaignProcessD" value="D" class="m-r-m" style="margin-right: 4px;" th:unless="${campaignOne.campaignProcess} == 'D'" disabled="disabled">
                  접수
                </label>
                <label for="campaignProcessC" style="width: 50px;float: left; margin-right: 12px;">
                  <input type="radio" name="campaignProcess" id="campaignProcessC" value="C" class="m-r-m" style="margin-right: 4px;" th:if="${campaignOne.campaignProcess} == 'C'"  checked="checked" disabled="disabled">
                  <input type="radio" name="campaignProcess" id="campaignProcessC" value="C" class="m-r-m" style="margin-right: 4px;" th:unless="${campaignOne.campaignProcess} == 'C'" disabled="disabled">
                  완료
                </label>
                <label for="campaignProcessR"  style="width: 120px;">
                  <input type="radio" name="campaignProcess" id="campaignProcessR" value="R" class="m-r-m" style="margin-right: 4px;" th:if="${campaignOne.campaignProcess} == 'R'"  checked="checked" disabled="disabled">
                  <input type="radio" name="campaignProcess" id="campaignProcessR" value="R" class="m-r-m" style="margin-right: 4px;" th:unless="${campaignOne.campaignProcess} == 'R'" disabled="disabled">
                  처리불가
                </label>
              </div>
            </th:block>
          </div>
        </div>

        <div class="form-box">
          <label class="col-5 label-title m-t-s">처리 사유</label>

          <th:block th:if="${campaignOne.campaignProcess}!='C' and ${campaignOne.campaignProcess}!='R'">
            <div class="col-5">
              <input style="width: 100%;" type="text" id="campaignProcessRejectReason" name="campaignProcessRejectReason" class="col-5 input-control" placeholder="처리사유를 입력하세요." th:value="${campaignOne.campaignProcessRejectReason}">
            </div>
          </th:block>
          <th:block th:unless="${campaignOne.campaignProcess}!='C' and ${campaignOne.campaignProcess}!='R'">
            <div style="padding: 14px; height: 48px; float:left; margin-bottom: 10px;" class="col-5 viewTextContent" th:text="${campaignOne.campaignProcessRejectReason}">
            </div>
          </th:block>

        </div>

        <th:block th:if="${campaignOne.campaignProcess}=='C'" >

          <div class="form-box ">
            <label class="col-5 m-t-s block">마일리지 지급</label>

            <div class="col-5 bk-input" style="padding: 14px; height: 48px;">
              <th:block th:if="${campaignOne.mileageStatus}=='W'">
                <div class="col-5">
                  <label for="mileageStatusW" style="width: 85px; float: left; margin-right: 12px;">
                    <input type="radio" name="mileageStatus" id="mileageStatusW" value="W" class="m-r-m" style="margin-right: 4px;" th:if="${campaignOne.mileageStatus} == 'W'" checked="checked" onclick="fnDoMileageChange(this.value);">
                    <input type="radio" name="mileageStatus" id="mileageStatusW" value="W" class="m-r-m" style="margin-right: 4px;" th:unless="${campaignOne.mileageStatus} == 'W'" onclick="fnDoMileageChange(this.value);">
                    지급대기
                  </label>
                  <label for="mileageStatusC" style="width: 85px; float: left; margin-right: 12px;">
                    <input type="radio" name="mileageStatus" id="mileageStatusC" value="C" class="m-r-m" style="margin-right: 4px;" th:if="${campaignOne.mileageStatus} == 'C'" checked="checked" onclick="fnDoMileageChange(this.value);">
                    <input type="radio" name="mileageStatus" id="mileageStatusC" value="C" class="m-r-m" style="margin-right: 4px;" th:unless="${campaignOne.mileageStatus} == 'C'" onclick="fnDoMileageChange(this.value);">
                    지급완료
                  </label>
                  <label for="mileageStatusR"  style="width: 120px;">
                    <input type="radio" name="mileageStatus" id="mileageStatusR" value="R" class="m-r-m" style="margin-right: 4px;" th:if="${campaignOne.mileageStatus} == 'R'"  checked="checked" onclick="fnDoMileageChange(this.value);">
                    <input type="radio" name="mileageStatus" id="mileageStatusR" value="R" class="m-r-m" style="margin-right: 4px;" th:unless="${campaignOne.mileageStatus} == 'R'" onclick="fnDoMileageChange(this.value);">
                    지급불가
                  </label>
                </div>
              </th:block>
              <th:block th:unless="${campaignOne.mileageStatus}=='W'">
                <div class="col-5">
                  <label for="mileageStatusW" style="width: 85px; float: left; margin-right: 12px;">
                    <input type="radio" name="mileageStatus" id="mileageStatusW" value="W" class="m-r-m" style="margin-right: 4px;" th:if="${campaignOne.mileageStatus} == 'W'" checked="checked" disabled="disabled">
                    <input type="radio" name="mileageStatus" id="mileageStatusW" value="W" class="m-r-m" style="margin-right: 4px;" th:unless="${campaignOne.mileageStatus} == 'W'" disabled="disabled">
                    지급대기
                  </label>
                  <label for="mileageStatusC" style="width: 85px; float: left; margin-right: 12px;">
                    <input type="radio" name="mileageStatus" id="mileageStatusC" value="C" class="m-r-m" style="margin-right: 4px;" th:if="${campaignOne.mileageStatus} == 'C'" checked="checked" disabled="disabled">
                    <input type="radio" name="mileageStatus" id="mileageStatusC" value="C" class="m-r-m" style="margin-right: 4px;" th:unless="${campaignOne.mileageStatus} == 'C'" disabled="disabled">
                    지급완료
                  </label>
                  <label for="mileageStatusR"  style="width: 120px;">
                    <input type="radio" name="mileageStatus" id="mileageStatusR" value="R" class="m-r-m" style="margin-right: 4px;" th:if="${campaignOne.mileageStatus} == 'R'"  checked="checked" disabled="disabled">
                    <input type="radio" name="mileageStatus" id="mileageStatusR" value="R" class="m-r-m" style="margin-right: 4px;" th:unless="${campaignOne.mileageStatus} == 'R'" disabled="disabled">
                    지급불가
                  </label>
                </div>
              </th:block>
            </div>
          </div>

          <!-- 챗봇만 보임 -->
          <div class="form-box">
            <label class="col-5 label-title m-t-s" th:text="${campaignOne.mileageStatus}=='W' ? '지급 마일리지' : '지급된 마일리지'"></label>
            <div class="col-5">
              <input type="hidden" name="declarationPoint" id="declarationPoint" th:value="${declarationPoint}">
              <input style="width: 100%" type="text" id="mileage" name="mileage" class="col-5 input-control" placeholder="지급 마일리지입니다." th:value="(${campaignOne.mileage} == null or ${campaignOne.mileage} == '') ? 0 : ${campaignOne.mileage}" readonly="readonly">
            </div>
          </div>

          <div class="form-box">
            <label class="col-5 label-title m-t-s">지급불가 사유</label>

            <th:block th:if="${campaignOne.mileageStatus}=='W'">
              <div class="col-5">
                <input style="width: 100%" type="text" id="mileageRejectReason" name="mileageRejectReason" class="col-5 input-control" placeholder="지급불가 사유를 입력하세요." th:value="${campaignOne.mileageRejectReason}" readonly="readonly">
              </div>
            </th:block>
            <th:block th:unless="${campaignOne.mileageStatus}=='W'">
              <div style="padding: 14px; height: 48px; float:left; margin-bottom: 10px;" class="col-5 viewTextContent" th:text="${campaignOne.mileageRejectReason}">
              </div>
            </th:block>

          </div>
        </th:block>

        <div class="form-box">
          <div class="viewText">
            참여자명
          </div>
          <div style="padding: 14px; height: 48px; float:left;" class="col-4 viewTextContent" th:text="${campaignOne.userName}">
            이름
          </div>
          <button type="button" class="btn-srch btn-personal-info" th:onclick="fnDoPersonalInfoPopup([[${campaignOne.campaignSeq}]]);"
                  th:text="'개인정보확인'" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"/>
        </div>

        <div class="form-box">
          <div class="viewText">
            참여자 연락처
          </div>
          <div style="padding: 14px; height: 48px; float:left;" class="col-4 viewTextContent" th:text="${campaignOne.userPhone}">
            <!-- 접수자 연락처 -->
            010-2356-6545
          </div>
          <button type="button" class="btn-srch btn-personal-info" th:onclick="fnDoPersonalInfoPopup([[${campaignOne.campaignSeq}]]);"
                  th:text="'개인정보확인'" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"/>
        </div>

        <div class="form-box">
          <div class="viewText">
            참여자 Email
          </div>
          <div style="padding: 14px; height: 48px; float:left;" class="col-4 viewTextContent" th:text="${campaignOne.userEmail}">
            <!-- 접수자 연락처 -->
            010-2356-6545
          </div>
          <button type="button" class="btn-srch btn-personal-info" th:onclick="fnDoPersonalInfoPopup([[${campaignOne.campaignSeq}]]);"
                  th:text="'개인정보확인'" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"/>
        </div>

        <div class="item14" th:if="${campaignOne.campaignImgs} != null and ${campaignOne.campaignImgs} != ''">
          <label class="col-5 m-t-s block">참여사진</label>
          <div class="chatImgs" >
            <th:block th:each="campaignImg : ${campaignOne.campaignImgs}">
              <div>
                <img th:src="${campaignImg}" alt="" width="100%">
              </div>
            </th:block>
          </div>
        </div>

        <div id="responseBox_1" class="responseBox" style="margin-top: 20px;">
          <div class="responseList_0 bk-input p-m p-b-m" id="content_st_1" style="">
            <div class="form-box col-5"><label class="col-1 m-r-m block">이력보기</label></div>
            <div class="col-5">
              <th:block th:each="campaignLog, ii : ${campaignLogList}">
                <p th:text="'[' + ${#strings.replace(campaignLog.logTime,'T',' ')} + '] ' + ${campaignLog.msg}">[내용입니다!!!!!!!]</p>
              </th:block>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" th:text="#{common.button.close}">닫기</button>
    <th:block th:if="${campaignOne.mileageStatus} != 'C' and ${campaignOne.mileageStatus} != 'R'">
      <button type="button" class="btn btn-submit" onclick="fnDoSaveCampaign();" th:text="#{common.button.save}">저장</button>
    </th:block>
  </div>


  <script>

    $(document).ready(function () {
      var x = document.getElementById("locationX").value; // 좌표 넣기`
      var y = document.getElementById("locationY").value; // 좌표 넣기`

      viewGeo(x,y);
    });

    function viewGeo(x,y) {
      if (x != null && y != null) {

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                  center: new daum.maps.LatLng(y, x), // 지도의 중심좌표
                  level: 5 // 지도의 확대 레벨
                };

        //지도를 미리 생성
        var map = new daum.maps.Map(mapContainer, mapOption);
        //주소-좌표 변환 객체를 생성
        var geocoder = new daum.maps.services.Geocoder();
        //마커를 미리 생성
        var marker = new daum.maps.Marker({
          position: new daum.maps.LatLng(y, x),
          map: map
        });
      }
    }

  </script>
</form>