<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link th:href="@{/css/style_choi.css}" rel="stylesheet">

    <script>

        $(document).ready(function () {
            //ajax 준비중입니다.
            setDateBox();
        });

        // select box 연도 , 월 표시
        function setDateBox() {

            var startDate = new Date(2022, 4, 1);
            var nowDate = new Date();
            var year1 = startDate.getFullYear();
            var year2 = nowDate.getFullYear();
            var month1 = startDate.getMonth() + 1;
            var month2 = nowDate.getMonth() + 1;

            var numberOfMonths = (year2 - year1) * 12 + (month2 - month1) + 1;

            var year3 = year2;
            var month3 = month2;
            var k = 0;
            var ii = 0;
            var html = "";
            var sdate = $("#sdate").val();

            for (i = 0; i < numberOfMonths; i++) {

                k = month2--;

                if (k < 10 && k > 0) {
                    month3 = "0" + k;
                    ii++;
                } else if (k == 0) {
                    year3 -= 1;
                    month3 = 12;
                    month2 = 11;
                    ii = 0;
                } else {
                    month3 = k;
                }

                // console.log((year3 + "-" + month3));
                // console.log(sdate.substring(0,7));

                if((year3 + "-" + month3) == sdate.substring(0,7)) {
                    html += "<option value='" + year3 + "-" + month3 + "' selected='selected'>" + year3 + "-" + month3 + "</option>";
                }
                else {
                    html += "<option value='" + year3 + "-" + month3 + "'>" + year3 + "-" + month3 + "</option>";
                }

            }
            $("#selectExcelMonth").append(html);

            if ((nowDate.getMonth() + 1) < 10) {
                month2 = "0" + (nowDate.getMonth() + 1);
            }
            $("#selectedExcelYYYYMM").val(+nowDate.getFullYear() + "-" + month2);
        }

        function dateChange(val) {

            var date1 = new Date(val + "-01");
            // console.log(date1);
            // console.log(date1.getDate());
            let lastDate = new Date(date1.getFullYear(), date1.getMonth()+1, 0);
            // console.log(lastDate.toLocaleString());
            //console.log(lastDate.getDate());
            $('#sdate').val(date1.getFullYear() + "-" + zeroChange(date1.getMonth()+1) + "-" + zeroChange(date1.getDate()));
            $('#edate').val(lastDate.getFullYear() + "-" + zeroChange(lastDate.getMonth()+1) + "-" + zeroChange(lastDate.getDate()));

            document.form1.submit();
        }

        function zeroChange(val){

            if(parseInt(val) > 10){
                return val;
            } else {
                return "0" + val;
            }

            return null;
        }
    </script>

    <!-- 여기부터 넣으세요 -->
    <div><h1 class="share_tlt" style="font-size: 24px; padding-left: 24px;">깨끗한 마을 Home</h1></div>
    <div class="ibox float-e-margins no_bg">

        <!-- 불편접수 건수 현황 -->
        <section class="line_share">
            <article class="share4">
                <h3 class="share_tlt">
                    카카오톡 챗봇 불편접수
                </h3>
                <div class="share_box">
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_red"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 신규 접수</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${chatNew}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 완료 건</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${chatC}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_green"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>미처리</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${chatP}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </article>
            <article class="share4">
                <h3 class="share_tlt">
                    네이버 밴드 불편접수
                </h3>
                <div class="share_box">
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_red"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 신규 접수</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${bandNew}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 완료 건</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${bandC}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_green"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>미처리</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${bandP}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </article>
            <article class="share4">
                <h3 class="share_tlt">
                    전화 불편 접수
                </h3>
                <div class="share_box">
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_red"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 신규 접수</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${phoneNew}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 완료 건</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${phoneC}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_green"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>미처리</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${phoneP}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </article>
            <article class="share4">
                <h3 class="share_tlt">
                    방문 불편 접수
                </h3>
                <div class="share_box">
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_red"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 신규 접수</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${visitNew}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 완료 건</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${visitC}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_green"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>미처리</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${visitP}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </article>
            <article class="share4">
                <h3 class="share_tlt">
                    안전신문고 불편 접수
                </h3>
                <div class="share_box">
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_red"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 신규 접수</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${sinmunNew}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 완료 건</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${sinmunC}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_green"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>미처리</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${sinmunP}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </article>
        </section>
        <!-- 불편접수 건수 현황 -->

        <!-- 접속 현황 그래프 -->
        <div style="">
            <h3 class="share_tlt">
                접속 현황 ([[${sdate222}]] ~ [[${edate222}]])
            </h3>
            <section class="line_share" style="background: #fff; border: 1px solid #ddd;">
                <div style="float:left; width: 300px; height: 300px; padding: 10px;">
                    <div style="clear:both; padding: 10px 20px 5px 20px; height:55px;border-bottom: 1px dashed #ccc;">
                        <span class="hd_yellow" style="float: left; margin-top:14px; margin-right:10px"></span>
                        <span style="display: inline-block; float:left; font-size: 16px; font-weight: 600; padding-top:7px;">깨끗한 마을</span>
                        <span style="display: inline-block; float:right; font-size: 24px; font-weight: 700;" th:text="${connectSumA+'건'}"></span>
                    </div>
                    <div style="clear:both; padding: 10px 20px 5px 20px; height:55px;border-bottom: 1px dashed #ccc;">
                        <span class="hd_green" style="float: left; margin-top:14px; margin-right:10px"></span>
                        <span style="display: inline-block; float:left; font-size: 16px; font-weight: 600; padding-top:7px;">메타버스</span>
                        <span style="display: inline-block; float:right; font-size: 24px; font-weight: 700;" th:text="${connectSumM+'건'}"></span>
                    </div>
                    <div style="clear:both; padding: 10px 20px 5px 20px; height:55px;border-bottom: 1px dashed #ccc;">
                        <span class="hd_blue" style="float: left; margin-top:14px; margin-right:10px"></span>
                        <span style="display: inline-block; float:left; font-size: 16px; font-weight: 600; padding-top:7px;">챗봇민원</span>
                        <span style="display: inline-block; float:right; font-size: 24px; font-weight: 700;" th:text="${connectSumC+'건'}"></span>
                    </div>
                    <div style="clear:both; padding: 10px 20px 5px 20px; height:55px;border-bottom: 1px dashed #ccc;">
                        <span class="hd_red" style="float: left; margin-top:14px; margin-right:10px"></span>
                        <span style="display: inline-block; float:left; font-size: 16px; font-weight: 600; padding-top:7px;">밴드접수</span>
                        <span style="display: inline-block; float:right; font-size: 24px; font-weight: 700;" th:text="${connectSumM+'건'}"></span>
                    </div>
                    <div style="clear:both; padding: 10px 20px 5px 20px; height:55px;">
                        <span class="hd_purple" style="float: left; margin-top:14px; margin-right:10px"></span>
                        <span style="display: inline-block; float:left; font-size: 16px; font-weight: 600; padding-top:7px;">전화/방문</span>
                        <span style="display: inline-block; float:right; font-size: 24px; font-weight: 700;" th:text="${connectSumV+'건'}"></span>
                    </div>
                </div>
                <div id="chartdiv4" style="float: left; width: calc(100% - 300px); height: 300px;">

                </div>
            </section>
        </div>
        <!-- 접속 현황 그래프 -->

        <!-- 불편접수 그래프 -->
        <div>
            <h3 class="share_tlt">
                <form name="form1" action="">
                    <input type="hidden" name="sdate" id="sdate" th:value="${sdate}">
                    <input type="hidden" name="edate" id="edate" th:value="${edate}">
                    <select name="selectExcelMonth" id="selectExcelMonth" class="btn-primary term" style="margin-right: 0; float: none;"
                            onchange="dateChange(this.value);">
                    </select> 불편 접수 현황
                </form>
            </h3>
            <section class="line_share">
                <article class="share12">
                    <div class="share_box">
                        <div class="chart_body">
                            <div id="chartdiv5"></div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <!-- 불편접수 그래프 -->

    </div>
    <!-- 여기부터 넣으세요 End -->

    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- Chart code -->
    <script th:inline="javascript">
        am4core.addLicense("CH237726473");
        am4core.ready(function() {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end



            var chart = am4core.create('chartdiv5', am4charts.XYChart)
            chart.colors.step = 2;

            chart.legend = new am4charts.Legend()
            chart.legend.position = 'bottom'
            chart.legend.paddingBottom = 20
            chart.legend.labels.template.maxWidth = 95

            var xAxis = chart.xAxes.push(new am4charts.CategoryAxis())
            xAxis.dataFields.category = 'category'
            xAxis.renderer.cellStartLocation = 0.1
            xAxis.renderer.cellEndLocation = 0.9
            xAxis.renderer.grid.template.location = 0;

            var yAxis = chart.yAxes.push(new am4charts.ValueAxis());
            yAxis.min = 0;

            function createSeries(value, name, color) {
                var series = chart.series.push(new am4charts.ColumnSeries());
                series.dataFields.valueY = value;
                series.dataFields.categoryX = 'category';
                series.name = name;
                series.strokeWidth = 0;
                series.fill = am4core.color(color);

                series.events.on("hidden", arrangeColumns);
                series.events.on("shown", arrangeColumns);

                var bullet = series.bullets.push(new am4charts.LabelBullet());
                bullet.interactionsEnabled = false;
                bullet.dy = 30;
                bullet.label.te1xt = '{valueY}';
                bullet.label.fill = am4core.color('#ffffff');

                return series;
            }

            chart.data = [
                {
                    category: "심곡동",
                    value1: [[${simgocC}]],
                    value2: [[${simgocB}]],
                    value3: [[${simgocP}]],
                    value4: [[${simgocV}]]
                }, {
                    category: "부천동",
                    value1: [[${bucheonC}]],
                    value2: [[${bucheonB}]],
                    value3: [[${bucheonP}]],
                    value4: [[${bucheonV}]]
                }, {
                    category: "신중동",
                    value1: [[${sinjoongC}]],
                    value2: [[${sinjoongB}]],
                    value3: [[${sinjoongP}]],
                    value4: [[${sinjoongV}]]
                }, {
                    category: "중동",
                    value1: [[${joongC}]],
                    value2: [[${joongB}]],
                    value3: [[${joongP}]],
                    value4: [[${joongV}]]
                }, {
                    category: "상동",
                    value1: [[${sangC}]],
                    value2: [[${sangB}]],
                    value3: [[${sangP}]],
                    value4: [[${sangV}]]
                }, {
                    category: "대산동",
                    value1: [[${deaSanC}]],
                    value2: [[${deaSanB}]],
                    value3: [[${deaSanP}]],
                    value4: [[${deaSanV}]]
                },
                {
                    category: "소사본동",
                    value1: [[${sosabonC}]],
                    value2: [[${sosabonB}]],
                    value3: [[${sosabonP}]],
                    value4: [[${sosabonV}]]
                },
                {
                    category: "범안동",
                    value1: [[${bumanC}]],
                    value2: [[${bumanB}]],
                    value3: [[${bumanP}]],
                    value4: [[${bumanV}]]
                },
                {
                    category: "성곡동",
                    value1: [[${sunggocC}]],
                    value2: [[${sunggocB}]],
                    value3: [[${sunggocP}]],
                    value4: [[${sunggocV}]]
                },
                {
                    category: "오정동",
                    value1: [[${ojungC}]],
                    value2: [[${ojungB}]],
                    value3: [[${ojungP}]],
                    value4: [[${ojungV}]]
                }
            ]


            createSeries('value1', '카카오톡 챗봇', '#ffeca8');
            createSeries('value2', '네이버 밴드', '#86d390');
            createSeries('value3', '전화', '#00cfe2');
            createSeries('value4', '방문', '#ffb299');

            function arrangeColumns() {

                var series = chart.series.getIndex(0);

                var w = 1 - xAxis.renderer.cellStartLocation - (1 - xAxis.renderer.cellEndLocation);
                if (series.dataItems.length > 1) {
                    var x0 = xAxis.getX(series.dataItems.getIndex(0), "categoryX");
                    var x1 = xAxis.getX(series.dataItems.getIndex(1), "categoryX");
                    var delta = ((x1 - x0) / chart.series.length) * w;
                    if (am4core.isNumber(delta)) {
                        var middle = chart.series.length / 2;

                        var newIndex = 0;
                        chart.series.each(function(series) {
                            if (!series.isHidden && !series.isHiding) {
                                series.dummyData = newIndex;
                                newIndex++;
                            }
                            else {
                                series.dummyData = chart.series.indexOf(series);
                            }
                        })
                        var visibleCount = newIndex;
                        var newMiddle = visibleCount / 2;

                        chart.series.each(function(series) {
                            var trueIndex = chart.series.indexOf(series);
                            var newIndex = series.dummyData;

                            var dx = (newIndex - trueIndex + middle - newMiddle) * delta

                            series.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
                            series.bulletsContainer.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
                        })
                    }
                }
            }

        }); // end am4core.ready()




        am4core.ready(function() {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("chartdiv4", am4charts.XYChart);

            // Add data
            chart.data = [
            /*[# th:each="connectSum, i : ${connectSumList}"]*/
                /*[# th:if="${i.count != i.size}"]*/
                {date:new Date(/*[[${connectSum.connectDateString}]]*/), value1: /*[[${connectSum.cleanApp}]]*/, value2: /*[[${connectSum.metabus}]]*/, value3: /*[[${connectSum.chatbot}]]*/, value4: /*[[${connectSum.band}]]*/, value5: /*[[${connectSum.self}]]*/, previousDate:new Date(/*[[${connectSum.connectDateString}]]*/)},
                /*[/]*/
                /*[# th:unless="${i.count != i.size}"]*/
                {date:new Date(/*[[${connectSum.connectDateString}]]*/), value1: /*[[${connectSum.cleanApp}]]*/, value2: /*[[${connectSum.metabus}]]*/, value3: /*[[${connectSum.chatbot}]]*/, value4: /*[[${connectSum.band}]]*/, value5: /*[[${connectSum.self}]]*/, previousDate:new Date(/*[[${connectSum.connectDateString}]]*/)}
                /*[/]*/
            /*[/]*/

            ];

            // Create axes
            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
            dateAxis.renderer.minGridDistance = 50;

            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

            // Create series
            var series = chart.series.push(new am4charts.LineSeries());
            series.dataFields.valueY = "value1";
            series.dataFields.dateX = "date";
            series.strokeWidth = 2;
            series.stroke = am4core.color("#FFC400");
            series.minBulletDistance = 10;
            series.tooltipText = "[bold]깨끗한마을:[/] {value1}\n[bold]메타버스:[/] {value2}\n[bold]챗봇민원접수:[/] {value3}\n[bold]밴드접수:[/] {value4}\n[bold]전화방문접수:[/] {value5}";
            series.tooltip.pointerOrientation = "vertical";

            // Create series
            var series2 = chart.series.push(new am4charts.LineSeries());
            series2.dataFields.valueY = "value2";
            series2.dataFields.dateX = "date";
            series2.strokeWidth = 2;
            series2.stroke = am4core.color("#0ED128");
            series2.minBulletDistance = 10;
            //series.tooltipText = "[bold]{date.formatDate()}:[/] {value1}\n[bold]{previousDate.formatDate()}:[/] {value2}\n[bold]{previousDate.formatDate()}:[/] {value3}\n[bold]{previousDate.formatDate()}:[/] {value4}";
            series2.tooltip.pointerOrientation = "vertical";
            //series2.strokeDasharray = "3,4";
            //series2.stroke = series.stroke;

            var series3 = chart.series.push(new am4charts.LineSeries());
            series3.dataFields.valueY = "value3";
            series3.dataFields.dateX = "date";
            series3.strokeWidth = 2;
            series3.stroke = am4core.color("#00A8FF");
            series3.minBulletDistance = 10;
            //series3.tooltipText = "[bold]{date.formatDate()}:[/] {value1}\n[bold]{previousDate.formatDate()}:[/] {value2}\n[bold]{previousDate.formatDate()}:[/] {value3}\n[bold]{previousDate.formatDate()}:[/] {value4}";
            series3.tooltip.pointerOrientation = "vertical";

            var series4 = chart.series.push(new am4charts.LineSeries());
            series4.dataFields.valueY = "value4";
            series4.dataFields.dateX = "date";
            series4.strokeWidth = 2;
            series4.stroke = am4core.color("#EA002C");
            series4.minBulletDistance = 10;
            //series4.tooltipText = "[bold]{date.formatDate()}:[/] {value1}\n[bold]{previousDate.formatDate()}:[/] {value2}\n[bold]{previousDate.formatDate()}:[/] {value3}\n[bold]{previousDate.formatDate()}:[/] {value4}";
            series4.tooltip.pointerOrientation = "vertical";

            var series5 = chart.series.push(new am4charts.LineSeries());
            series5.dataFields.valueY = "value5";
            series5.dataFields.dateX = "date";
            series5.strokeWidth = 2;
            series5.stroke = am4core.color("#da37cc");
            series5.minBulletDistance = 10;
            //series4.tooltipText = "[bold]{date.formatDate()}:[/] {value1}\n[bold]{previousDate.formatDate()}:[/] {value2}\n[bold]{previousDate.formatDate()}:[/] {value3}\n[bold]{previousDate.formatDate()}:[/] {value4}";
            series5.tooltip.pointerOrientation = "vertical";

            // Add cursor
            chart.cursor = new am4charts.XYCursor();
            chart.cursor.xAxis = dateAxis;

        }); // end am4core.ready()
    </script>



</th:block>
</html>