<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link th:href="@{/css/style_choi.css}" rel="stylesheet">

    <script>

        $(document).ready(function () {
            //ajax 준비중입니다.
            setDateBox();
        });

        // select box 연도 , 월 표시
        function setDateBox() {

            var startDate = new Date(2022, 4, 1);
            var nowDate = new Date();
            var year1 = startDate.getFullYear();
            var year2 = nowDate.getFullYear();
            var month1 = startDate.getMonth() + 1;
            var month2 = nowDate.getMonth() + 1;

            var numberOfMonths = (year2 - year1) * 12 + (month2 - month1) + 1;

            var year3 = year2;
            var month3 = month2;
            var k = 0;
            var ii = 0;
            var html = "";
            var sdate = $("#sdate").val();

            for (i = 0; i < numberOfMonths; i++) {

                k = month2--;

                if (k < 10 && k > 0) {
                    month3 = "0" + k;
                    ii++;
                } else if (k == 0) {
                    year3 -= 1;
                    month3 = 12;
                    month2 = 11;
                    ii = 0;
                } else {
                    month3 = k;
                }

                // console.log((year3 + "-" + month3));
                // console.log(sdate.substring(0,7));

                if((year3 + "-" + month3) == sdate.substring(0,7)) {
                    html += "<option value='" + year3 + "-" + month3 + "' selected='selected'>" + year3 + "-" + month3 + "</option>";
                }
                else {
                    html += "<option value='" + year3 + "-" + month3 + "'>" + year3 + "-" + month3 + "</option>";
                }

            }
            $("#selectExcelMonth").append(html);

            if ((nowDate.getMonth() + 1) < 10) {
                month2 = "0" + (nowDate.getMonth() + 1);
            }
            $("#selectedExcelYYYYMM").val(+nowDate.getFullYear() + "-" + month2);
        }

        function dateChange(val) {

            var date1 = new Date(val + "-01");
            // console.log(date1);
            // console.log(date1.getDate());
            let lastDate = new Date(date1.getFullYear(), date1.getMonth()+1, 0);
            // console.log(lastDate.toLocaleString());
            //console.log(lastDate.getDate());
            $('#sdate').val(date1.getFullYear() + "-" + zeroChange(date1.getMonth()+1) + "-" + zeroChange(date1.getDate()));
            $('#edate').val(lastDate.getFullYear() + "-" + zeroChange(lastDate.getMonth()+1) + "-" + zeroChange(lastDate.getDate()));

            document.form1.submit();
        }

        function zeroChange(val){

            if(parseInt(val) > 10){
                return val;
            } else {
                return "0" + val;
            }

            return null;
        }
    </script>

    <!-- 여기부터 넣으세요 -->
    <div><h1>깨끗한 마을 Home</h1></div>
    <div class="ibox float-e-margins no_bg">

        <!-- 불편접수 건수 현화 -->
        <section class="line_share">
            <article class="share4">
                <h3 class="share_tlt">
                    카카오톡 챗봇 불편접수
                </h3>
                <div class="share_box">
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_red"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 신규 접수</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${chatNew}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 완료 건</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${chatC}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_green"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>미처리</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${chatP}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </article>
            <article class="share4">
                <h3 class="share_tlt">
                    네이버 밴드 불편접수
                </h3>
                <div class="share_box">
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_red"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 신규 접수</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${bandNew}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 완료 건</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${bandC}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_green"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>미처리</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${bandP}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </article>
            <article class="share4">
                <h3 class="share_tlt">
                    전화 불편 접수
                </h3>
                <div class="share_box">
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_red"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 신규 접수</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${phoneNew}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 완료 건</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${phoneC}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_green"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>미처리</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${phoneP}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </article>
            <article class="share4">
                <h3 class="share_tlt">
                    방문 불편 접수
                </h3>
                <div class="share_box">
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_red"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 신규 접수</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${visitNew}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 완료 건</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${visitC}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_green"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>미처리</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${visitP}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </article>
            <article class="share4">
                <h3 class="share_tlt">
                    안전신문고 불편 접수
                </h3>
                <div class="share_box">
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_red"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 신규 접수</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${sinmunNew}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>오늘 완료 건</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${sinmunC}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="share_line">
                        <p class="hd_space">
                            <span class="hd_ball ball_green"></span>
                        </p>
                        <dl class="share_dl">
                            <dt>미처리</dt>
                            <dd>
                                <div class="result">
                                    <span class="num" th:text="${sinmunP}">5</span>
                                    <span>건</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </article>
        </section>
        <!-- 불편접수 건수 현화 -->

        <!-- 접속 현황 그래프 -->
        <div>
            <h3 class="share_tlt">
                접속 현황
            </h3>
            <div style="float:left; width: 200px; height: 300px;">
                <div>
                    <span style="display: inline-block; float:left;">카카오 챗봇</span>
                    <span style="display: inline-block; float:right;">100건</span>
                </div>
                <div>
                    <span style="display: inline-block; float:left;">네이버 밴드</span>
                    <span style="display: inline-block; float:right;">100건</span>
                </div>
                <div>
                    <span style="display: inline-block; float:left;">캠페인 쓰레기 등록</span>
                    <span style="display: inline-block; float:right;">100건</span>
                </div>
                <div>
                    <span style="display: inline-block; float:left;">캠페인 청소</span>
                    <span style="display: inline-block; float:right;">100건</span>
                </div>
            </div>
            <div id="chartdiv4" style="float: left; width: calc(100% - 200px); height: 300px;">

            </div>
        </div>
        <!-- 접속 현황 그래프 -->

        <!-- 불편접수 그래프 -->
        <div>
            <h3 class="share_tlt">
                <form name="form1" action="">
                    <input type="hidden" name="sdate" id="sdate" th:value="${sdate}">
                    <input type="hidden" name="edate" id="edate" th:value="${edate}">
                    <select name="selectExcelMonth" id="selectExcelMonth" class="btn-primary term" style="margin-right: 0; float: none;"
                            onchange="dateChange(this.value);">
                    </select> 불편 접수 현황
                </form>
            </h3>
            <section class="line_share">
                <article class="share12">
                    <div class="share_box">
                        <div class="chart_body">
                            <div id="chartdiv5"></div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <!-- 불편접수 그래프 -->

    </div>
    <!-- 여기부터 넣으세요 End -->

    <!--chart cdn-->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

    <script th:inline="javascript">
        /*chartdiv5*/
        var root = am5.Root.new("chartdiv5");

        root.setThemes([
            am5themes_Animated.new(root)
        ]);

        var chart = root.container.children.push(
            am5xy.XYChart.new(root, {
                panY: false,
                wheelY: "zoomX",
                layout: root.verticalLayout,
            })
        );

        // Define data
        var data = [{
            category: "심곡동",
            value1: [[${simgocC}]],
            value2: [[${simgocB}]],
            value3: [[${simgocP}]],
            value4: [[${simgocV}]]
        }, {
            category: "부천동",
            value1: [[${bucheonC}]],
            value2: [[${bucheonB}]],
            value3: [[${bucheonP}]],
            value4: [[${bucheonV}]]
        }, {
            category: "신중동",
            value1: [[${sinjoongC}]],
            value2: [[${sinjoongB}]],
            value3: [[${sinjoongP}]],
            value4: [[${sinjoongV}]]
        }, {
            category: "중동",
            value1: [[${joongC}]],
            value2: [[${joongB}]],
            value3: [[${joongP}]],
            value4: [[${joongV}]]
        }, {
            category: "상동",
            value1: [[${sangC}]],
            value2: [[${sangB}]],
            value3: [[${sangP}]],
            value4: [[${sangV}]]
        }, {
            category: "대산동",
            value1: [[${deaSanC}]],
            value2: [[${deaSanB}]],
            value3: [[${deaSanP}]],
            value4: [[${deaSanV}]]
        },
            {
                category: "소사본동",
                value1: [[${sosabonC}]],
                value2: [[${sosabonB}]],
                value3: [[${sosabonP}]],
                value4: [[${sosabonV}]]
            },
            {
                category: "범안동",
                value1: [[${bumanC}]],
                value2: [[${bumanB}]],
                value3: [[${bumanP}]],
                value4: [[${bumanV}]]
            },
            {
                category: "성곡동",
                value1: [[${sunggocC}]],
                value2: [[${sunggocB}]],
                value3: [[${sunggocP}]],
                value4: [[${sunggocV}]]
            },
            {
                category: "오정동",
                value1: [[${ojungC}]],
                value2: [[${ojungB}]],
                value3: [[${ojungP}]],
                value4: [[${ojungV}]]
            }];

        // Craete Y-axis
        let yAxis = chart.yAxes.push(
            am5xy.ValueAxis.new(root, {
                renderer: am5xy.AxisRendererY.new(root, {
                })
            })
        );

        // Create X-Axis
        var xAxis = chart.xAxes.push(
            am5xy.CategoryAxis.new(root, {
                maxDeviation: 0.2,
                renderer: am5xy.AxisRendererX.new(root, {
                }),
                categoryField: "category"
            })
        );
        xAxis.data.setAll(data);

        // Create series
        var series1 = chart.series.push(
            am5xy.ColumnSeries.new(root, {
                name: "카카오톡 쳇봇",
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: "value1",
                categoryXField: "category",
                fill: am5.color(0xffeca8)
                //stroke: am5.color(0x76b041)
            })
        );
        series1.data.setAll(data);

        var series2 = chart.series.push(
            am5xy.ColumnSeries.new(root, {
                name: "네이버 밴드",
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: "value2",
                categoryXField: "category",
                fill: am5.color(0x86d390),
            })
        );
        series2.data.setAll(data);

        var series3 = chart.series.push(
            am5xy.ColumnSeries.new(root, {
                name: "전화",
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: "value3",
                categoryXField: "category",
                fill: am5.color(0x00cfe2)
            })
        );
        series3.data.setAll(data);

        var series4 = chart.series.push(
            am5xy.ColumnSeries.new(root, {
                name: "방문",
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: "value4",
                categoryXField: "category",
                fill: am5.color(0xffb299)
            })
        );
        series4.data.setAll(data);

        // Add legend
        var legend = chart.children.push(am5.Legend.new(root, {}));
        legend.data.setAll(chart.series.values);


    </script>



</th:block>
</html>